<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Field Input Form</title>
	</head>
	<body>
		<%= render :partial => 'header' %> 
		<h1>Field Input Form</h1>
		<% unless flash[:notice].blank?%>
			<div id="notification"><%= flash[:notice] %></div>
		<% end %>
		<% if @field.errors.any? %>
		  <ul>
		    <% @field.errors.full_messages.each do |msg| %>
		      <li><%= msg %></li>
		    <% end %>
		  </ul>
		<% end %>
		<%= form_for ( [:admin, @field ]) do |f| %>
		
		<p>
		This form is for adding information about fields that appear on request forms.
		It is not generally for use by staff, since field names must match strings already used
		in various places in the request application code. You can, however, change field labels,
		if you wish, by editing the record for 
		<%= link_to 'an existing field', admin_fields_path %>
		</p>

		<table>
			<tr>
				<td nowrap valign="top" align="right">Field Name:</td>
			 	<td valign="top"><%= f.text_field :field_name %></td>
			 <tr>
			 <tr>
				<td nowrap valign="top" align="right">Field Label:</td>
				 <td valign="top"><%= f.text_field :field_label %></td>
			</tr>			
				
			<tr>		
				<td colspan=2><%= submit_tag "Save"  %></td>
			</tr>
			</table>

		<% end %>			
		
		
		
	</body>
</html>
