<div class="messages">
<% messages = @messages.select { |m| m.library == library_code && m.request_type == request_type } %>
<% messages.each do |message| %>
  <div class="message">
      <% if message.scheduled? %>
      <div class="status <%= 'active' if message.active? %>">
        <% if message.active? %>
          Active <%= l message.start_at.to_date %> through <%= l message.end_at.to_date %>
        <% else %>
          Inactive (was <%= l message.start_at.to_date %> through <%= l message.end_at.to_date %>)
        <% end %>
      </div>
      <% end %>

      <div class="text well-sm">
        <%= render message %>
      </div>

      <%= link_to "Edit message", [:edit, message] %>
  </div>
<% end %>

<%= link_to "Add message", new_message_path(library: library_code, request_type: request_type) if messages.none? %>
</div>