<h1>Verify email address</h1>


<%= form_with url: register_visitor_path, method: :post, data: { turbo: false } do |f| %>
  <%= f.hidden_field :referrer, value: params[:referrer] %>
  <%= f.hidden_field :patron_email, value: params[:patron_email] %>
  <%= f.hidden_field :name, value: params[:name] %>

  <div class="my-2">
    <%= render OtpInputComponent.new(name: :code, form: f) do |c| %>
      <% c.with_label.with_content("Enter the passcode sent to #{params[:patron_email]}.") %>
    <% end %>
  </div>

  <div class="d-flex justify-content-end"><%= f.submit 'Continue', class: 'btn btn-primary' %></div>
<% end %>
