<% item_count = appointment.requests.count %>
<li id="<%= dom_id(appointment, :home) %>" class="border-top py-2 d-flex justify-content-between align-items-start gap-3">
  <div class="small">
    <%= render AppointmentTimeRangeComponent.new(appointment: appointment, show_hours: true, location: appointment.reading_room.name, emphasize_date: true) %>
    <%= render PillComponent.new(classes: %w[bg-stanford-20-black fw-light ms-3 py-0 text-nowrap]).with_content("#{item_count} #{'item'.pluralize(item_count)}") %>
  </div>
  <div class="d-flex flex-shrink-0 gap-2">
    <%= render Aeon::EditAppointmentButtonComponent.new(appointment: appointment) %>
    <%= render Aeon::DeleteAppointmentButtonComponent.new(appointment: appointment) %>
  </div>
</li>
