<h1><%= @request.title %></h1>
<% if @successes.present? %>
  <h2>Sucessful submissions</h2>
  <% @successes.each do |success| %>
    <%= success[:volume]['series'] %> <%= success[:volume]['subseries'] %>
  <% end %>
<% end %>
<% if @failures.present? %>
  <h2>Failed submissions</h2>
  <% @failures.each do |failure| %>
    <%= failure[:volume]['series'] %> <%= failure[:volume]['subseries'] %>
  <% end %>
<% end %>