<% step_enum = Enumerator.new { |y| n = 0; loop { y << (n += 1) } } %>
<div class="container mt-4">
  <h1>New request</h1>
  <div class="row">
    <div class="col-8">
      <div class="card mb-4 bg-light rounded-0 border-0">
        <div class="card-body">
          <h2><%= @ead.title || 'Not available' %></h2>
          <div class="d-flex gap-md-3 flex-md-row flex-column">
            <span>Archive/Manuscript (<%= @ead.date %>)</span>
            <span>Call number: <%= @ead.identifier %></span>
            <span>
              <%= link_to @ead.collection_permalink, class: 'su-underline' do %>
                View in Archival Collections at Stanford <i class="bi bi-arrow-up-right"></i>
              <% end %>
            </span>
          </div>
          <% if @ead.creator %>
            <div class="mt-2">
              <%= @ead.creator %>
            </div>
          <% end %>
          <% if @ead.extent %>
            <hr class="my-1">
            <div><b>Extent: </b><%= @ead.extent %></div>
          <% end %>
        </div>
      </div>
      <%= form_with id: 'archives-request', model: @ead_request, url: archives_requests_path, class: 'accordion', data: { controller: 'accordion-form archives-request', turbo: false } do |f| %>
        <%= render AccordionStepComponent.new(id: 'request_type', step_index: step_enum.next, form_id: f.id) do |component| %>
          <% component.with_title.with_content('Request type') %>
          <% component.with_body do %>
            <fieldset class="mb-4">
              <div>
                <!--TODO: refactor out #updateType in a new JS controller. Or pick one. This is wrong -->
                <%= f.radio_button :request_type, 'pickup', :class => 'form-check-input', :required => true, data: { action: 'archives-request#updateRequestType' } %>
                <%= f.label :request_type_pickup, :class => 'form-check-label ms-1' do %>
                  Reading room appointment
                <% end %>
                <span class="text-cardinal ms-2 mt-1">
                  Earliest appointment available:
                  <%= turbo_frame_tag 'earliest_appointment', src: available_aeon_appointments_path(@ead_request.reading_room&.id, Date.today) %>
                </span>
              </div>
              <div class="mt-4">
                <%= f.radio_button :request_type, 'scan', :class => 'form-check-input', data: { action: 'archives-request#updateRequestType' } %>
                <%= f.label :request_type_scan, :class => 'form-check-label ms-1' do %>
                  Digitization
                <% end %>
              </div>
            </fieldset>
          <% end %>
        <% end %>
        <% if @ead.series_and_subseries&.many? %>
          <%= render AccordionStepComponent.new(id: 'items', step_index: step_enum.next, form_id: f.id) do |component| %>
            <% component.with_title.with_content('Items') %>
            <% component.with_body do %>
              <div data-controller="archives-series">
                <%# TODO: why is the icon not orange %>
                <div class="alert alert-warning alert-dismissible shadow-sm d-flex align-items-center">
                  <div role="img" aria-label="Warning icon" class="bi bi-exclamation-triangle-fill fs-3 me-3"></div>
                  <div class="text-body">
                    <div>Due to limited space in our reading rooms, you can request up to 5 items per day.</div>
                  </div>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <p>Use checkboxes to select items. When a digital version is available without additional processing, a link to access it appears next to the item.</p>
                <div>
                  <!--TODO: pull out text into template?-->
                  <button class="btn btn-link ps-0 su-underline" data-action="click->archives-series#expandAll">Expand all (see full content list)</button>
                  <button class="btn btn-link su-underline" data-action="click->archives-series#collapseAll">Collapse all</button>
                </div>
                <%# Loop through each series in the collection %>
                <%= render partial: 'series_contents', locals: { contents: Ead::DisplayGroup.build_display_groups(@ead.series_and_subseries), f: f, series_title: nil, parent_title: nil } %>
              </div>
            <% end %>
          <% end %>
        <% end %>

        <%= render AccordionStepComponent.new(id: 'scan-or-pickup-placeholder', classes: [('d-none' if f.object.request_type)], form_id: f.id, step_index: (scan_or_pickup_step ||= step_enum.next), data: { 'patronrequest-forRequestType': 'none' }) do |c| %>
          <% c.with_title.with_content('Appointment or Digitization') %>
        <% end %>

        <%= render AccordionStepComponent.new(request: f.object, id: 'pickup', classes: [('d-none' if  f.object.request_type.blank? || f.object.request_type == 'scan')], form_id: f.id, step_index: (scan_or_pickup_step ||= step_enum.next), data: { 'patronrequest-forRequestType': 'pickup' }) do |c| %>
          <% c.with_title.with_content('Reading room use') %>
          <% c.with_body do %>
            <div class="d-flex flex-column mb-2">
              <span class="fw-semibold">
                <i class="bi bi-geo-alt-fill"></i>
                <%= @ead_request.reading_room.name %>
              </span>
              <span class="mb-2">
                Hours: <%= @ead_request.reading_room.human_readable_hours %>
              </span>
              <span class="text-digital-red">Appointments must be scheduled at least <%= @ead_request.reading_room.policies.first.appointment_min_lead_days %> business days in advance. Maximum of 5 items per day.</span>
            </div>
            <% if @ead.series_and_subseries&.one? %>
              <div class="d-inline-flex align-items-center gap-1 flex-column flex-md-row ">
                <select name="appointment" class="form-select" required>
                  <option disabled selected></option>
                  <% @ead_request.appointments.each do | appointment | %>
                    <option value="<%= appointment.id %>">
                      <%= appointment.start_time.strftime('%b %d, %Y') %> ● <%= appointment.start_time.strftime('%l:%M %p -') %><%= appointment.stop_time.strftime('%l:%M %p') %>
                      (<%= pluralize(appointment.requests.length, "item") %>)
                    </option>
                  <% end %>
                </select>
                <div class="fw-semibold">OR</div>
                <div><button class="btn btn-primary text-nowrap"><i class="bi bi-calendar-plus me-1"></i>Create Appointment</button></div>
              </div>
            <% else %>
              <ul class="list-unstyled" data-archives-request-target="appointmentItems">
              </ul>

              <template data-archives-request-target="appointmentTemplate">
                <%= render Aeon::AppointmentFormItemComponent.new(title: '__TITLE__', dom_id: '__DOMID__', base_name: 'ead_request[items][__DOMID__]', appointments: @ead_request.appointments) %>
              </template>
            <% end %>
          <% end %>
        <% end %>

        <%= render AccordionStepComponent.new(request: f.object, id: 'scan', classes: [('d-none' unless f.object.request_type == 'scan')], step_index: (scan_or_pickup_step ||= step_enum.next), form_id: f.id, data: { 'patronrequest-forRequestType': 'scan' }) do |c| %>
          <% c.with_title.with_content('Digitization') %>

          <% c.with_body do %>
            <div class="aeon-form-notice p-3 mb-3">
              <span class="fw-bold">Notice</span>
              <ul class="mb-0">
                <li>Please be as specific as possible with your request.</li>
                <li>All orders will be delivered electronically unless otherwise requested.</li>
                <li>Some requests may require a fee. If payment appliesm a staff member will contact you to review the
                cost and confirm whether you wish to proceed.</li>
              </ul>
            </div>

            <div class="accordion" data-archives-request-target="digitizationItems">
            </div>

            <template data-archives-request-target="digitizationTemplate">
              <%= render Aeon::DigitizationFormItemComponent.new(title: '__TITLE__', dom_id: '__DOMID__', base_name: 'ead_request[items][__DOMID__]') %>
            </template>
          <% end %>
        <% end %>

        <%= render AccordionStepComponent.new(request: f.object, id: 'terms', classes: ['d-none'], step_index: step_enum.next, form_id: f.id, data: { 'patronrequest-forRequestType': 'scan' }) do |c| %>
          <% c.with_title.with_content('Terms') %>

          <% c.with_body do %>
            <%= render 'patron_requests/digitization_terms', f: f %>
          <% end %>
        <% end %>

        <%= render AccordionStepComponent.new(id: 'submit', step_index: '-', form_id: f.id, submit: true, submit_text: 'Submit to Aeon', cancel: false) do |component| %>
          <% component.with_title.with_content('Review and submit') %>
          <% component.with_body do %>
            <div class="mb-4">
              <h4 class="fs-6 fw-bold mb-3">Request Summary</h4>
              <dl class="row">
                <dt class="col-sm-4">Collection:</dt>
                <dd class="col-sm-8"><%= @ead.title %></dd>
                <dt class="col-sm-4">Identifier:</dt>
                <dd class="col-sm-8"><%= @ead.identifier %></dd>
                <dt class="col-sm-4">Repository:</dt>
                <dd class="col-sm-8"><%= @ead.repository %></dd>
                <dt class="col-sm-4">Request type:</dt>
                <dd class="col-sm-8">
                  <span data-archives-request-target="requestTypeDisplay" class="text-muted">Select a request type above</span>
                </dd>
                <dt class="col-sm-4">Selected items:</dt>
                <dd class="col-sm-8">
                  <ul data-archives-request-target="volumesDisplay" class="list-unstyled mb-0">
                    <li class="text-muted">No items selected</li>
                  </ul>
                </dd>
              </dl>
            </div>
            <%= f.hidden_field :ead_url, value: @ead_request.url %>
          <% end %>
        <% end %>
        <div class="card mb-4 bg-light rounded-0 border-0">
          <div class="card-body d-flex justify-content-end">
            <!--TODO: wire these up.-->
            <button disabled class="btn btn-outline-secondary me-3" type="button">
              Save and complete later
            </button>
            <button disabled class="btn btn-outline-secondary me-3" type="button">
              Cancel
            </button>
            <button disabled class="btn btn-secondary me-3" type="button">
              Submit request
            </button>
          </div>
        </div>
      <% end %>
    </div>
    <aside class="col-4">
      <h2>Contact information</h2>
      <div>
        <% if @ead.repository %>
          <h3>
            <%= link_to @ead.repository_contact[:website] do %>
              <%= @ead.repository %><i class="bi bi-arrow-up-right ms-1"></i>
            <% end %>
          </h3>
        <% end %>
        <% if @ead.repository_contact[:address] %>
          <p>
            <% @ead.repository_contact[:address].each_with_index do |line, index| %>
              <div <% if index == 0 %>class="fw-semibold"<% end %>><%= line %></div>
            <% end %>
          </p>
        <% end %>
        <% if @ead.repository_contact[:email] %>
          <p>
            <span class="fw-semibold">Email: </span><%= mail_to @ead.repository_contact[:email] %>
          </p>
        <% end %>
      </div>
    </aside>
  </div>
</div>
