<h1 class="fw-semibold">We received your <%= @request.request_type == 'scan' ? 'scan' : @request.mediateable? ? '' : 'pickup' %> request!</h1>

<div class="row mt-4">
    <div class="col-7">
        <% if @request.request_type == 'scan' %>
            The digital scan will be sent to your email as a PDF when it's ready.
        <% else %>
            You will receive an email when the <%= (@request.barcodes&.count || 1) == 1 ?  'item is' : 'items are' %> ready.
            <% if @request.patron && !@request.mediateable? %>
                You can also check the status of your request any time at <%= link_to 'My Account', 'https://mylibrary.stanford.edu' %>.
            <% end %>
        <% end %>

        <hr />

        <h2 class="my-4">Request confirmation</h2>
        <div>
            <div>Item: <%= @request.item_title %></div>
        <% if @request.request_type == 'scan' %>
            <div>Pages: <%= @request.scan_page_range %></div>
            <div>Chapter/article: <%= @request.scan_title %></div>
            <div>Authors: <%= @request.scan_authors %></div>

            <% if @request.estimated_delivery %>
                <div>Earliest expected delivery: <%= @request.estimated_delivery %></div>
            <% end %>
        <% else %>
            <% if @request.pickup_service_point && !@request.mediateable? %>
            <div>Preferred pickup location: <%= @request.pickup_service_point.name %></div>
            <% end %>
        <% end %>
        </div>
    </div>
    <div class="card-body">
        <h2 class="h5 fw-semibold">Library resources</h2>
        <div class="bg-light p-2">
            <h3 class="h6">
                <a href="https://mylibrary.stanford.edu">Log in to My Account</a>
            </h3>
            <p class="mb-0">
                Access information regarding items currently checked out, monitor requests,
                and/or outstanding fines.
            </p>
        </div>
        <h3 class="h6 fw-semibold mt-3">Get help</h3>
            <ul class="list-unstyled">
                <li><i class="bi bi-envelope-fill"></i> <%= mail_to(@request.contact_info[:email], @request.contact_info[:email]) %></li>
                <li><i class="bi bi-telephone-fill"></i> Call <%= @request.contact_info[:phone] %></li>
            </ul>
        <h3 class="h6 fw-semibold mt-3">Library policies and information</h3>
        <ul class="list-unstyled">
            <li>
                <a href="https://library.stanford.edu/services/borrow-and-request" target="_blank">
                    <i class="bi bi-box-arrow-up-right"></i> Borrow and request
                </a>
            </li>
            <li>
                <a href="https://library.stanford.edu/borrowdirect" target="_blank">
                    <i class="bi bi-box-arrow-up-right"></i> Borrow Direct
                </a>
            </li>
        </ul>
    </div>
</div>
