<h2 class="my-4">Scan request</h2>

<dl class="dl-inline">
    <div><dt>Username:</dt><dd><%= @patron_request.patron&.username %> <%= @patron_request.patron&.blocked? ? ' (Blocked)' : nil %></dd></div>
    <div><dt>Title:</dt><dd><%= searchworks_link(@patron_request.instance_hrid, @patron_request.item_title) %></dd></div>
    <div><dt>Pages:</dt><dd><%= @patron_request.scan_page_range %></dd></div>
    <div><dt>Chapter/article:</dt><dd><%= @patron_request.scan_title %></dd></div>
    <div><dt>Authors:</dt><dd><%= @patron_request.scan_authors %></dd></div>

    <% if @patron_request.estimated_delivery %>
        <div><dt>Earliest expected delivery:</dt><dd><%= @patron_request.estimated_delivery %></dd></div>
    <% end %>
</dl>

<hr>

<div class="mb-2">
    <span class="fw-bold">Item requested:</span>
</div>
<ul class="list-unstyled">
    <li><%= callnumber_label(@item) %> (barcode <%= @item.barcode %> / <%= @item.effective_location&.code%>)</li>
</ul>
