<%= tag.public_send element, class: (%w[card bg-body-tertiary border-light-subtle shadow-sm] + [margin_class].compact + classes), **tag_options do %>
  <%= pre %>
  <div class="<%= (%w[card-header d-flex gap-4 justify-content-between align-items-center bg-body-tertiary] + header_classes).join(' ') %>">
    <%= title %>
    <% if actions? %>
      <div class="d-flex gap-2 align-items-center">
        <%= actions %>
      </div>
    <% end %>
  </div>

  <%= body %>
  <%= footer if footer? %>

  <%= post %>
<% end %>
