<%= render CardComponent.new(element: 'li', data: { 'status-sort-value': checkout.sort_key(:status), 'due-date-sort-value': checkout.sort_key(:due_date), 'title-sort-value': checkout.sort_key(:title), 'author-sort-value': checkout.sort_key(:author), 'call-number-sort-value': checkout.sort_key(:call_number)  }) do |c| %>
  <% c.with_title do %>
    <div class="d-flex flex-row gap-4 align-items-center">
      <div class="text-nowrap">Due: <span class="fw-semibold"><%= today_with_time_or_date(checkout.due_date, short_term: checkout.short_term_loan?) %></span></div>

      <%= checkout_status_pill %>
      <span class="text-digital-red-dark"><%= header_message %></span>
    </div>
     <% if patron.can_renew? && renewable? %>
      <%= form_tag renew_checkout_path(checkout.item_id), method: :post do %>
        <%= hidden_field_tag :item_id, checkout.item_id %>
        <%= hidden_field_tag :title, checkout.title %>
        <%= hidden_field_tag :group, params[:group] if params[:group] %>
        <%= button_tag class: 'btn btn-outline-primary btn-sm',
                        data: { turbo_submits_with: t('mylibrary.renew_item.in_progress_html') },
                        type: 'submit' do %>
          <i class="bi bi-arrow-repeat me-1"></i>Renew
        <% end %>
      <% end %>
    <% elsif !renewable? %>
        <button disabled class="btn btn-outline-primary btn-disabled btn-sm"><i class="bi bi-arrow-repeat me-1"></i><%= non_renewable_reason %></button>
    <% end %>
  <% end %>
  <% c.with_footer do %>
    <div class="d-flex flex-row column-gap-4 flex-wrap text-muted">
      <% if checkout.barcode %>
        <span>Barcode: <%= checkout.barcode %></span>
      <% end %>

      <span>Checked out:
        <%= today_with_time_or_date(checkout.checkout_date, short_term: checkout.short_term_loan?) %>
      </span>
    </div>
    <%= render ProxyIndicatorComponent.new(proxy: proxy_borrower) %>
  <% end %>
  <% c.with_body(classes: 'bg-white') do %>
    <div class="d-flex justify-content-between gap-5">
      <div>
        <h3 class="mb-1 clamp clamp-3"><%= checkout.title %></h3>
        <div class="d-flex flex-row flex-wrap position-relative justify-content-start gap-4">
          <div>Call number: <%= checkout.call_number %></div>
          <div class="mb-1 clamp clamp-1"><span class="visually-hidden">Author:</span><%= checkout.author %></div>
          <%= detail_link_to_searchworks(checkout.catkey) unless checkout.from_ill? %>
        </div>
        <div><span class="visually-hidden">Library:</span>
          <%= checkout.library_name %> <%= mail_to(contact_email, safe_join([tag.i(class: 'bi bi-envelope me-1'), 'Contact']), class: 'su-underline ms-3') if contact_email %>
        </div>
      </div>
      <div>
        <%= cover_image %>
      </div>
    </div>
  <% end %>
<% end %>
