<div class="card mb-4 bg-light rounded-0 border-0">
  <div class="card-body">
    <h2 class="fs-4"><%= @ead.title || 'Not available' %></h2>
    <div class="d-flex gap-md-3 flex-md-row flex-column">
      <span>
        <%= render Icons::DocumentBox1Component.new classes: 'me-1 align-text-bottom' %>
        Archive/Manuscript (<%= @ead.date %>)
      </span>
      <span>Call number: <%= @ead.identifier %></span>
      <span>
        <%= link_to @ead.collection_permalink, class: 'su-underline' do %>
          View in Archival Collections at Stanford <i class="bi bi-arrow-up-right"></i>
        <% end %>
      </span>
    </div>
    <% if @ead.creator %>
      <div class="mt-2">
        <%= @ead.creator %>
      </div>
    <% end %>
    <% if @ead.extent %>
      <hr class="my-2">
      <div><b class="fw-semibold">Extent: </b><%= @ead.extent %></div>
    <% end %>
  </div>
</div>
