<%= content_tag(:div, class: @classes, id:, tabindex: "-1", aria: {labelledby: title_id, hidden: false}, data:) do %>
  <div class="<%= dialog_classes.join(' ') %>">
    <div class="modal-content">
      <% if custom_header %>
        <%= custom_header %>
      <% else %>
        <%= tag.div class: ['modal-header'] + @header_classes do %>
          <h2 class="modal-title" id="<%= title_id %>"><%= title %></h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <% end %>
      <% end %>
      <%= banner %>
      <%= body %>
      <%= footer if footer? %>
    </div>
  </div>
<% end %>
