<li class="list-group-item" data-status-sort-value="<%= h payment.sort_key(:nice_status) %>" data-fee-sort-value="<%= h payment.sort_key(:fee) %>" data-date-sort-value="<%= h payment.sort_key(:payment_date) %>" data-title-sort-value="<%= h payment.sort_key(:title) %>">
  <div class="row d-flex flex-wrap position-relative">
    <div class="d-flex flex-row flex-grow-1 justify-content-start w-100 row col-md-12 col-lg-6">
      <div class="col-4 col-md-4 order-md-first nice_status">
        <%= payment.nice_status %>
      </div>

      <div class="col-3 col-md-4 order-first order-sm-first fee">
        <%= number_to_currency(payment.fee) %>
      </div>

      <div class="col-5 col-md-4 text-right text-md-left payment_date">
        <%= l(payment.payment_date, format: :short) %>
      </div>
    </div>
    <div class="d-flex flex-grow-1 flex-column flex-md-row w-75 row col-md-12 col-lg-6 title">
      <h3 class="col-md-10 clamp-3 record-title list-item-title"><%= payment.title %></h3>
    </div>
    <div>
      <button class="btn collapsed stretched-link position-static" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDetails-<%= payment.key.parameterize %>" aria-expanded="false" aria-controls="collapseDetails-<%= payment.key.parameterize %>">
        <span class="expand-icon"><%= sul_icon :'sharp-add-24px' %><span class="sr-only">Expand</span></span>
        <span class="collapse-icon"><%= sul_icon :'sharp-remove-24px' %><span class="sr-only">Collapse</span></span>
      </button>
    </div>
  </div>
  <div class="collapse" id="collapseDetails-<%= payment.key.parameterize %>">
    <dl class="row justify-content-center">
      <dt class="col-3 offset-1 col-md-2 offset-md-2">Resolution:</dt>
      <dd class="col-8"><%= payment.status %></dd>
      <dt class="col-3 offset-1 col-md-2 offset-md-2">Billed:</dt>
      <dd class="col-8"><%= l(payment.bill_date, format: :short) %></dd>
      <dt class="col-3 offset-1 col-md-2 offset-md-2">Resolved:</dt>
      <dd class="col-8"><%= l(payment.payment_date, format: :short) %></dd>
      <dt class="col-3 offset-1 col-md-2 offset-md-2">Amount billed:</dt>
      <dd class="col-8"><%= number_to_currency(payment.fee) %></dd>
      <dt class="col-3 offset-1 col-md-2 offset-md-2">Amount paid:</dt>
      <% if payment.closed? %>
          <dd class="col-8"><%= number_to_currency(payment.payment_amount) %></dd>
      <% else %>
          <dd class="col-8">$0.00</dd>
      <% end %>
      <dt class="col-3 offset-1 col-md-2 offset-md-2">Source:</dt>
      <% if payment.library_name %>
          <dd class="col-8"><%= payment.library_name %></dd>
      <% else %>
          <dd class="col-8">Circulation &amp; Privileges</dd>
      <% end %>
    </dl>
  </div>
</li>
