<h2 class="fs-4"><%= record.title || 'Not available' %></h2>
<div class="d-flex gap-md-3 flex-md-row flex-column">
  <span>
    <%= render Icons::DocumentBox1Component.new classes: 'me-1 align-text-bottom' %>
    <%= document_type %>
    <% if record.date.present? %> (<%= record.date %>)<% end %>
  </span>
  <% if call_number.present? %>
    <span>Call number: <%= call_number %></span>
  <% end %>
  <span>
    <%= render Aeon::RequestLinkComponent.new(url: record.item_url) %>
  </span>
</div>
<% unless brief? %>
  <% if record.author %>
    <div class="mt-2">
      <%= record.author %>
    </div>
  <% end %>
  <% if record.respond_to?(:extent) && record.extent %>
    <hr class="my-2">
    <div><b class="fw-semibold">Extent: </b><%= record.extent %></div>
  <% end %>
<% end %>