<%= render CardComponent.new(element: 'li', data: { 'library-sort-value': request.sort_key(:library), 'date-sort-value': request.sort_key(:date), 'title-sort-value': request.sort_key(:title), 'author-sort-value': request.sort_key(:author), 'call-number-sort-value': request.sort_key(:call_number)  }) do |c| %>
  <% c.with_title do %>
    <div class="d-flex flex-row gap-3 align-items-center">
      <% if request.ready_for_pickup? %>
        <span class="small fw-medium rounded-pill text-white bg-lagunita-dark px-2 py-1">Pickup ready</span>

        <span class="text-lagunita-dark">
          <%= sul_icon 'sharp-check_circle-24px' %>
          <span class="d-md-none">Pick up at </span><%= request.service_point_name %>

          <% if request.expiration_date %>
            <span class="d-inline d-md-none mr-2">by</span>
            <%= l(request.expiration_date, format: :short) %>
          <% end %>
        </span>
      <% else %>
        <span class="small fw-medium rounded-pill text-white bg-lagunita-dark px-2 py-1">Pickup pending</span>
        <span class="text-lagunita-dark">We'll email you when your items are available for pickup.</span>
      <% end %>
    </div>

    <% if patron.can_modify_requests? %>
      <% if request.manage_request_link %>
        <div class="illiad-link">
          <a href="<%= request.manage_request_link %>">Manage this request in your ILL account</a>
        </div>
      <% else %>
        <% if request.ready_for_pickup? %>
          <%= form_tag request_path(request.key), method: :delete do %>
            <%= hidden_field_tag :title, request.title %>
            <%= hidden_field_tag :group, group? if group? %>
            <%= button_tag class: 'btn btn-outline-primary btn-sm', type: 'submit' do %>
              Cancel
            <% end %>
          <% end %>
        <% else %>
          <%= link_to edit_request_path(request.key, group: group?), class: 'btn btn-outline-primary btn-sm' do %>
            Edit
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% c.with_footer do %>
    Date added/modified: <%= l(request.placed_date, format: :short) %>
  <% end %>

  <% c.with_body(classes: 'bg-white') do %>
    <div class="d-flex justify-content-between gap-5">
      <div>
        <h3 class="mb-1 clamp clamp-3"><%= request.title %></h3>
        <div class="d-flex flex-row flex-wrap position-relative justify-content-start gap-4">
          <div>Call number: <%= request.call_number %></div>
          <%= detail_link_to_searchworks(request.catkey) %>
        </div>
        <div class="mb-1 clamp clamp-1"><span class="visually-hidden">Author:</span><%= request.author %></div>
        <% if request.library_name.present? %><div><%= request.library_name %></div><% end %>
        <div><span class="bg-light fw-semibold p-1 rounded">Pickup: <%= request.service_point_name %></span></div>
        <div>Waitlist position: <%= request.waitlist_position %></div>
      </div>
      <div>
        <%= cover_image %>
      </div>
    </div>
  <% end %>
<% end %>
