<%= form_with(model: @appointment, class: "appointment-form", data: { controller: 'appointment', 'appointment-availability-route-value': available_aeon_reading_room_url(id: @appointment.reading_room_id) }) do |f| %>
  <div data-appointment-target="banner" class="selected-appointment d-none"></div>

  <div class="modal-body">
    <div>
      <%= f.hidden_field :reading_room_id %>
    </div>

    <%= render Aeon::AppointmentDatePickerComponent.new(form: f) %>

    <% if @appointment&.reading_room&.day_only_appointments? %>
      <%# if it's a day-only appointment, we still use the turboframe to check if the reading room is open at all, but we don't need any of the other controls. %>
      <turbo-frame id="available_appointments" <% unless @appointment.id %>class="form-incomplete"<% end %> data-appointment-target="availability" src="<%= available_aeon_reading_room_url(id: @appointment.reading_room_id, date: @appointment.date || Time.zone.now.iso8601) %>">
        <div class="loading-overlay p-2 mb-2" aria-hidden="true">Loading...</div>
      </turbo-frame>
    <% elsif @appointment.start_time && @appointment.stop_time && (!@appointment.start_time.min.in?([0,15,30,45]) || !(@appointment.stop_time - @appointment.start_time).in?([30.minutes, 1.hour, 1.5.hours, 2.hours, 3.hours, 4.hours])) %>
      <div class="mb-3">
        <%= f.label :start_time, class: 'd-block fw-semibold' %>
        <%= f.time_field :start_time, required: true %>
      </div>
      <div class="mb-3">
        <%= f.label :stop_time, class: 'd-block fw-semibold' %>
        <%= f.time_field :stop_time, required: true %>
      </div>
    <% else %>
      <turbo-frame id="available_appointments" <% unless @appointment.id %>class="form-incomplete"<% end %> data-action="turbo:frame-load->appointment#applyDurationFilter turbo:frame-load->appointment#filterDurationFields" data-appointment-target="availability" src="<%= available_aeon_reading_room_url(@appointment.reading_room_id, date: @appointment.date || Time.zone.now.iso8601, selected: (l(@appointment.start_time, format: :time_only) if @appointment.start_time)) if @appointment.reading_room_id %>">
        <%= render Aeon::AppointmentDurationSelectorComponent.new(form: f, selected: (@appointment.start_time && @appointment.stop_time ? (@appointment.stop_time - @appointment.start_time).to_i : '')) %>

        <fieldset class="mb-3">
          <legend class="fs-6 fw-semibold redesign-required-label">Available time slots</legend>
          <% if @appointment.reading_room_id && @appointment.date %>
            <div class="spinner-border text-primary" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          <% end %>
        </fieldset>

        <div class="loading-overlay p-2 mb-2" aria-hidden="true">Loading...</div>
        <div class="alert alert-info select">Select a reading room, date, and duration to see available appointments.</div>
      </turbo-frame>
    <% end %>
  </div>

  <div class="modal-footer">
    <%= link_to 'Cancel', aeon_appointments_path, class: 'btn btn-outline-primary', data: { 'bs-dismiss': 'modal' } %>
    <%= f.submit 'Save', class: 'ms-2 btn btn-primary', data: { 'bs-dismiss': 'modal' } %>
  </div>
<% end %>
