<%= form_with(model: Aeon::Appointment.new) do |f| %>
  <turbo-frame id="available_appointments">
    <fieldset class="mb-3" data-appointment-target="fieldset" data-max-slot="<%= @appointment_lengths.max %>" data-min-slot="<%= @appointment_lengths.min %>">
      <legend class="fs-6 fw-semibold">Available time slots</legend>
      <div class="flex-wrap gap-3 appointment-slots">
      <% @available_appointments.select { |x| x.start_time.to_date == @date }.each do |appointment| %>
        <%= f.radio_button :start_time, appointment.start_time.strftime('%-I:%M %p'), id: "aeon_appointment_start_time_#{appointment.start_time.to_i}", data: { maximum_appointment_length: appointment.maximum_appointment_length }, class: 'btn-check', checked: @selected_time == appointment.start_time.strftime('%-I:%M %p') %>
        <%= f.label "start_time_#{appointment.start_time.to_i}", appointment.start_time.strftime('%-I:%M %p'), class: 'btn border' %>
      <% end %>
      </div>

      <% if next_appt  = @available_appointments.find { |x| x.start_time.to_date > @date } %>
        <div>
          There are no appointments on <%= @date.strftime('%m/%d/%Y') %>. The next available appointment is on <%= next_appt.start_time.strftime('%m/%d/%Y') %>.
        </div>
      <% end %>
    </fieldset>
    <div class="loading-overlay p-2 mb-2" aria-hidden="true">Loading...</div>
  </turbo-frame>
  <turbo-frame id="earliest_appointment">
    <%= @available_appointments.first.start_time.strftime('%A, %b %e, %Y') if @available_appointments %>
  </turbo-frame>
<% end %>
