<%= turbo_stream.after_all '.appt-dropdown li:last-child' do %>
  <%= render Aeon::AppointmentOptionComponent.new(appointment: @appointment, data: { 'appointment-select-target': 'option' }, data_action: 'appointment-select#select') %>
<% end %>

<%= turbo_stream.replace_all(".sidebar-custom-select[data-reading-room-id='#{@appointment.reading_room.id}']") do %>
  <%= render 'aeon_appointments/dropdown', appointments: @other_reading_room_appointments, reading_room_id: @appointment.reading_room.id %>
<% end %>

<%= turbo_stream.update 'new-appt-alert' do %>
  <div class="alert alert-success alert-dismissible shadow-sm d-flex align-items-center">
    <div role="img" aria-label="Success icon" class="bi bi-check-circle-fill text-success fs-3 me-3"></div>
    <div class="text-body">
      <ul class="mb-0">
        <li class="fw-semibold">
          <span class="fw-normal">New appointment: </span><%= render AppointmentTimeRangeComponent.new(appointment: @appointment, location: @appointment.reading_room.name) %>
        </li>
        <li>Items can be scheduled for this appointment.</li>
        <% if @appointment.reading_room.appointment_item_limit %>
          <li>Up to <%= @appointment.reading_room.appointment_item_limit %> items are allowed for this appointment.</li>
        <% end %>
      </ul>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<%= turbo_stream.update 'aeon_appointments' do %>
  <%= render Aeon::AppointmentComponent.with_collection((@appointments + [@appointment]).sort_by(&:start_time), all_requests: @aeon_requests) %>
<% end %>

<%= turbo_stream.update 'aeon_appointments_sidebar' do %>
  <%= render Aeon::AppointmentSidebarComponent.with_collection((@appointments + [@appointment]).sort_by(&:start_time)) %>
<% end %>

<%= turbo_stream.replace 'appointment-form' do %>
  <%= render AlertComponent.new(type: :success) do %>
    <span class="fw-normal">New appointment: </span><%= render AppointmentTimeRangeComponent.new(appointment: @appointment, location: @appointment.reading_room.name) %>
  <% end %>
<% end %>
