<%= turbo_stream.after_all '.appt-dropdown li:last-child' do %>
  <%= render Aeon::AppointmentOptionComponent.new(appointment: @appointment, data: { 'appointment-select-target': 'option' }) %>
<% end %>
<%= turbo_stream.update 'new-appt-alert' do %>
  <div class="alert alert-success alert-dismissible shadow-sm d-flex align-items-center m-0">
    <div role="img" aria-label="Success icon" class="bi bi-check-circle-fill text-success fs-3 me-3"></div>
    <div class="text-body">
      <ul class="mb-0">
        <li class="fw-semibold">
          <span class="fw-normal">New appointment: </span><%= render AppointmentTimeRangeComponent.new(appointment: @appointment, location: @appointment.reading_room.name) %>
        </li>
        <li>Items can be scheduled for this appointment.</li>
        <% if @appointment.reading_room.appointment_item_limit %>
          <li>Up to <%= @appointment.reading_room.appointment_item_limit %> items are allowed for this appointment.</li>
        <% end %>
      </ul>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
