<%= turbo_stream.append(params[:modal]) do %>
  <div class="d-none" data-modal-target="closeSignal"></div>
<% end %>

<%= turbo_stream.remove(@appointment) %>

<%= turbo_stream.remove dom_id(@appointment, :home) %>

<%= turbo_stream.remove_all ".dropdown [data-value='#{@appointment.id}']" %>

<%= turbo_stream.replace('saved_for_later_aeon_requests_sidebar') do %>
  <%= render 'saved_for_later_aeon_requests' %>
<% end unless params['cancel_items'] == 'true' %>
