<% uniq_locations = collection.map { |h| h['origin_location'] }.uniq %>
<h2><%= LibraryLocation.library_name_by_code(origin) %></h2>

<div>
  <%= link_to('All pending', admin_path(params[:id]), class: "btn btn-md btn-default #{'btn-primary' unless filtered_by_done? || filtered_by_date? || filtered_by_create_date?}") %>
  <%= render 'date_buttons' %>
  <%= link_to('All done', admin_path(params[:id], done: true), class: "btn btn-md btn-default #{'btn-primary' if filtered_by_done?}") %>
  <%= render 'shared/jump_to_date', form_path: admin_path %>
</div>

<table id='mediation-table' class="table table-striped mediation-table">
  <%= render 'table_header' %>
  <tbody class='list'>
    <% collection.each do |request| %>
      <tr data-mediate-request='<%= holdings_admin_path(request) %>' class='<%= cycle('odd', 'even') %>'>
        <td>
          <%= render 'mediate_status', request: request %>
        </td>
        <td class='needed_date'>
          <% if request.needed_date %>
            <span data-toggle='tooltip' data-placement='left' title="edit 'Needed on' date">
              <%= render 'needed_dates/display', mediated_page: request %>
            </span>
          <% end %>
        </td>
        <td class='title'><%= searchworks_link(request.item_id, request.item_title, target: '_blank', rel: 'noopener noreferrer', 'data-behavior' => 'truncate') %></td>
        <td class='requester'><%= requester_info(request.user) %></td>
        <td class='created_at'><%= time_tag(request.created_at, :short) %></td>
        <td class='comment'><div data-behavior='trunk8toggle'><%= request.request_comment %></div></td>
        <td><%= link_to('Status', polymorphic_path([:status, request]), target: '_blank', rel: 'noopener noreferrer') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
