<% uniq_locations = collection.map { |h| h['origin_location'] }.uniq %>
<h2><%= LibraryLocation.library_name_by_code(origin) %></h2>

<div class="d-flex flex-wrap">
  <div class="me-md-auto">
    <%= link_to('All pending', admin_path(params[:id]), class: "btn btn-md #{ filtered_by_done? || filtered_by_date? || filtered? ? 'btn-secondary' : 'btn-primary'}") %>
    <%= render 'date_buttons' %>
    <%= link_to('All done', admin_path(params[:id], done: true), class: "btn btn-md #{filtered_by_done? ? 'btn-primary' : 'btn-secondary' }") %>
  </div>
  <div class="mt-3 mt-md-0">
    <%= render 'shared/jump_to_date', form_path: admin_path %>
  </div>
</div>

<table id='mediation-table' class="table table-striped mediation-table">
  <%= render 'table_header' %>
  <tbody class='list'>
    <% collection.each do |request| %>
      <tr id="<%= "req_#{request.id}" %>" data-controller="mediation" data-mediate-request='<%= holdings_admin_path(request) %>' class='<%= cycle('odd', 'even') %>'>
        <td>
          <button class="btn mediate-toggle" data-action="mediation#toggleHoldings" aria-label="Toggle">
            <i class="bi bi-plus-circle"></i>
          </button>
          <span id="<%= "req_#{request.id}_note" %>">
            <%= render 'approved_note', request: %>
          </span>
        </td>
        <td class='needed_date'>
          <% if request.needed_date %>
            <span data-toggle='tooltip' data-placement='left' title="edit 'Needed on' date">
              <%= render 'needed_dates/display', patron_request: request %>
            </span>
          <% end %>
        </td>
        <td class='title' ><%= searchworks_link(request.instance_hrid, request.item_title, target: '_blank', rel: 'noopener noreferrer', 'data-behavior' => 'truncate') %></td>
        <td class='requester'><%= "#{request.patron_name} <#{request.patron_email}>" %></td>
        <td class='created_at'><%= time_tag(request.created_at, :short) %></td>
        <td class='comment'><div data-behavior='trunk8toggle'><%= request.request_comments %></div></td>
        <td><%= link_to('Status', url_for(request), target: '_blank', rel: 'noopener noreferrer') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
