<% uniq_locations = collection.map { |h| h['origin_location'] }.uniq %>

<h3><%= LibraryLocation.library_name_by_code(origin) %></h3>

<table id='mediation-table' class="table table-striped mediation-table">
  <%= render 'table_header' %>
  <tbody class='list'>
    <% collection.each do |request| %>
      <tr data-mediate-request='<%= holdings_admin_path(request) %>' class='<%= cycle('odd', 'even') %>'>
        <td>
          <a class="mediate-toggle" data-behavior='mediate-toggle' href='javascript:;'>
            <i class="glyphicon"></i>
          </a>
        </td>
        <td class='needed_date'><%= time_tag(request.needed_date, :quick) %></td>
        <td class='title'><%= searchworks_link(request.item_id, request.item_title) %></td>
        <td class='requester'><%= requester_info(request.user) %></td>
        <td class='created_at'><%= time_tag(request.created_at, :short) %></td>
        <td class='comment'><%= request.request_comment %></td>
      </tr>
    <% end %>
  </tbody>
</table>
