<% uniq_locations = collection.map { |h| h['origin_location'] }.uniq %>

<h3><%= LibraryLocation.library_name_by_code(origin) %></h3>

<table class="table table-striped mediation-table">
  <%= render 'table_header' %>
  <tbody>
    <% collection.each do |request| %>
      <tr data-mediate-request='<%= holdings_admin_path(request) %>'>
        <td>
          <a class="mediate-toggle" data-behavior='mediate-toggle' href='javascript:;'>
            <i class="glyphicon"></i>
          </a>
        </td>
        <td><%= time_tag(request.needed_date, :quick) %></td>
        <td><%= searchworks_link(request.item_id, request.item_title) %></td>
        <td><%= requester_info(request.user) %></td>
        <td><%= time_tag(request.created_at, :short) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
