<% uniq_locations = collection.map { |h| h['origin_location'] }.uniq %>

<h2><%= LibraryLocation.library_name_by_code(origin) %></h2>

<p>
  <%= link_to('All pending', admin_path(params[:id]), class: "btn btn-md btn-default #{'btn-primary' unless filtered_by_done? || filtered_by_date?}") %>
  <%= render 'date_buttons' %>
  <%= link_to('All done', admin_path(params[:id], done: true), class: "btn btn-md btn-default #{'btn-primary' if filtered_by_done?}") %>
</p>

<table id='mediation-table' class="table table-striped mediation-table">
  <%= render 'table_header' %>
  <tbody class='list'>
    <% collection.each do |request| %>
      <tr data-mediate-request='<%= holdings_admin_path(request) %>' class='<%= cycle('odd', 'even') %>'>
        <td>
          <a class="mediate-toggle" data-behavior='mediate-toggle' href='javascript:;'>
            <i class="glyphicon"></i>
          </a>
          <span data-behavior='all-approved-note' class='label label-success' style='<%= 'display:none;' unless request.approved? %>'>
            <%= t('.all_approved') %>
          </span>
          <span data-behavior='mixed-approved-note' class='label label-warning' style='<%= 'display:none;' unless request.marked_as_done? %>'>
            <%= t('.all_approved') %>
          </span>
        </td>
        <td class='needed_date'>
          <span data-toggle='tooltip' data-placement='left' title="edit 'Needed on' date">
            <%=
              editable_opts =
                {
                  name: 'mediated_page[needed_date]',
                  type: 'date',
                  value: request.needed_date.to_s,
                  url: mediated_page_path(request),
                  format: 'yyyy-mm-dd', viewformat: 'D M d', placement: 'right', weekStart: 0, autotext: 'always', send: 'always'
                }
              link_to(request.needed_date, 'javascript:;', class: 'editable editable-click editable-open', data: editable_opts)
            %>
          </span>
        </td>
        <td class='title'><%= searchworks_link(request.item_id, request.item_title, target: '_blank', rel: 'noopener noreferrer', 'data-behavior' => 'truncate') %></td>
        <td class='requester'><%= requester_info(request.user) %></td>
        <td class='created_at'><%= time_tag(request.created_at, :short) %></td>
        <td class='comment'><div data-behavior='trunk8toggle'><%= request.request_comment %></div></td>
        <td><%= link_to('Status', polymorphic_path([:status, request]), target: '_blank', rel: 'noopener noreferrer') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
