<div class='admin-comments'>
  <div class='button-group'>
    <%= bootstrap_form_for(@request.becomes(MediatedPage), as: :request, remote: true, html: { class: 'mark-as-complete-form', 'data-type': 'json' }) do |f| %>
      <%= f.hidden_field :approval_status, value: 'marked_as_done' %>
      <button class='btn btn-default btn-xs' <%= 'disabled' unless @request.unapproved? %> data-behavior='mark-as-complete'>Mark as done</button>
    <% end %>

    <button class='btn btn-default btn-xs' data-behavior='toggle-admin-comment-form'>Comment</button>
  </div>
  <%= render 'admin_comments/form' %>
  <%= render 'admin_comments/comments' %>
</div>

<% if @request.data['comments'].present? %>
  <p><%= @request.data['comments'] %></p>
<% end %>
<table class="table table-striped">
  <thead>
    <tr>
      <th class='col-xs-1'>Approve</th>
      <th class='col-xs-2'>Location</th>
      <th class='col-xs-2'>Current</th>
      <th>Call number / Container</th>
      <% if Settings.features.migration %><th>Barcode</th><% end %>
      <th>Status</th>
      <th>Approved by</th>
    </tr>
  </thead>
  <tbody>
    <% @request.holdings.each do |item| %>
      <tr class='<%= cycle('odd', 'even') %> <%= 'approved' if item.request_status.approved? %> <%= 'errored' if item.request_status.errored? %>'>
        <td class='col-xs-1'>
          <button class="approval-btn btn btn-xs btn-success" data-behavior="item-approval" data-item-approval-url="<%= approve_item_admin_path(@request, item: item.barcode) %>">
            <% if item.request_status.approved? %>
              Approved
            <% else %>
              Approve
            <% end %>
          </button>
        </td>
        <td class='col-xs-2'><%= item.home_location %></td>
        <td class='col-xs-2'><%= current_location_for_mediated_item(item) %></td>
        <td><%= item.callnumber %></td>
        <% if Settings.features.migration %><td><%= item.barcode %></td><% end %>
        <td><span class='request-status'><%= status_text_for_item(item) %></span></td>
        <td data-behavior='approver-information'>
          <% if item.request_status.approved? %>
            <%= item.request_status.approver %> -
            <%= item.request_status.approval_time %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
