<% if @request.data['comments'].present? %>
  <p><%= @request.data['comments'] %></p>
<% end %>
<table class="table table-striped">
  <thead>
    <tr>
      <th class='col-xs-1'>Approve</th>
      <th class='col-xs-2'>Location</th>
      <th class='col-xs-2'>Current</th>
      <th>Call number / Container</th>
    </tr>
  </thead>
  <tbody>
    <% @request.holdings.each do |item| %>
      <tr class='<%= cycle('odd', 'even') %>'>
        <td class='col-xs-1'><button class="disabled btn btn-xs btn-success">Approve</button></td>
        <td class='col-xs-2'><%= item.home_location %></td>
        <td class='col-xs-2'><%= item.current_location.code %></td>
        <td><%= item.callnumber %></td>
      </tr>
    <% end %>

    <% @request.ad_hoc_items.each do |item| %>
      <td class='col-xs-1'>
        <button class="disabled btn btn-xs btn-success">Approve</button>
      </td>
      <td class='col-xs-2'></td>
      <td class='col-xs-2'></td>
      <td><%= item %></td>
    <% end if @request.ad_hoc_items.present? %>
  </tbody>
</table>
