<h1>Requests</h1>

<div class="admin-requests">
  <% @requests.each do |origin, collection| %>
    <% uniq_locations = collection.map { |h| h['origin_location'] }.uniq %>

    <h3><%= LibraryLocation.library_name_by_code(origin) %></h3>
    <h4>
      Library=<%= origin %>
      <% if uniq_locations.one? %>
        &amp; location=<%= uniq_locations.first %>
      <% end %>
    </h4>

    <table class="table table-striped">
      <%= render 'table_header' %>
      <tbody>
        <% collection.each do |request| %>
          <tr>
            <td><%= request.type %></td>
            <td><%= request.origin_location %></td>
            <td><%= request.destination %></td>
            <td><%= request.item_id %></td>
            <td><%= format_date(request.created_at) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <% end %>
</div>
