<h1>Reset/Request PIN</h1>
<%= form_tag reset_pin_url, method: :post do %>
  <div class="form-group">
    <%= label_tag :library_id, 'Library ID' %>
    <%= text_field_tag :library_id, nil, class: 'form-control', 'aria-describedby': 'libraryIdHelp', autofocus: true %>
    <small id="libraryIdHelp" class="form-text text-muted">Last 10 digits above the barcode on your library card</small>
  </div>

  <%= submit_tag 'Reset/Request PIN', class: 'btn btn-primary' %>
  <%= link_to 'Cancel', root_url, class: 'btn btn-link' %>
<% end %>
