<h1 class="sr-only">Fines</h1>
<div class="page-section">
  <h2>Payable: <%= number_to_currency(@fines.sum(&:owed)) %></h2>
  <% if @fines.any? %>
    <div class="mb-3">
      <%= render 'fines/shared_computer_alert' %>
      <%= render 'fines/pay_all_button' %>
    </div>
    <ul class="fines" data-sortable-target="list" aria-live="polite">
      <%= render FineComponent.with_collection(@fines_and_accruing, patron: patron_or_group) %>
    </ul>
  <% end %>
  <% if params[:group] && patron.sponsor? %>
    Fines incurred by proxy borrowers appear in the list of fines under their sponsor's Self tab.
  <% end %>
</div>
<div class="page-section" data-key="payments" data-type="async">
  <h2>History</h2>
  <%= link_to 'Show history', payments_path, class: 'btn btn-info', remote: true, data: { type: :json } %>
</div>
