<%= render 'fines/shared_computer_alert' %>
<div class="d-sm-flex mb-2">
  <h1 class="mt-2 me-3">Fees and fines</h1>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <button class="nav-link <%= 'active' unless params[:past] %> fs-5" data-bs-toggle="tab" data-bs-target="#active-tab">Current</button>
    </li>
    <li class="nav-item">
      <button class="nav-link <%= 'active' if params[:past] %> fs-5" data-bs-toggle="tab" data-bs-target="#past-payments-tab">Past</button>
    </li>
  </ul>
  <div class="tab-underline-extend flex-grow-1 border-bottom d-none d-sm-block">
  </div>
</div>

<div class="tab-content">
  <div id="active-tab" class="tab-pane fade <%= 'show active' unless params[:past] %>">
    <% if @fines.any? %>
      <div class="d-flex flex-row align-items-center gap-3 my-3">
        <span class="text-cardinal">Outstanding balance: <strong><%= number_to_currency(@fines.sum(&:owed)) %></strong></span>
        <%= render 'fines/pay_all_button' %>
      </div>
    <% end %>
    <% if @fines_and_accruing.any? %>
      <ul class="fines ps-0">
        <% @fines_and_accruing.each do |item| %>
          <%= render Folio::FineComponent.new(fine: item, patron: patron_or_group) %>
        <% end %>
      </ul>
    <% end %>
    <% if params[:group] && patron.sponsor? %>
      Fines incurred by proxy borrowers appear in the list of fines under their sponsor's Self tab.
    <% end %>
  </div>

  <div id="past-payments-tab" class="tab-pane fade <%= 'show active' if params[:past] %>">
    <turbo-frame src="<%= payments_path %>" <% unless params[:past] %>loading="lazy"<% end %> id="past-payments">
      Loading...
    </turbo-frame>
  </div>
</div>
