<h1 class="sr-only">Fees and fines</h1>
<div class="page-section">
  <% if @fines.any? %>
    <div class="d-flex flex-row align-items-center gap-3 mb-2">
      <span>Outstanding balance: <strong><%= number_to_currency(@fines.sum(&:owed)) %></strong></span>
      <%= render 'fines/pay_all_button' %>
    </div>
    <%= render 'fines/shared_computer_alert' %>
  <% end %>
</div>
  <% if @fines_and_accruing.any? %>
    <ul class="fines ps-0" data-sortable-target="list" aria-live="polite">
      <% @fines_and_accruing.each do |item| %>
        <%= render item.is_a?(Folio::Checkout) ? AccruingCheckoutComponent.new(checkout: item, patron: patron_or_group)
                                              : FineComponent.new(fine: item, patron: patron_or_group) %>
      <% end %>
    </ul>
  <% end %>
  <% if params[:group] && patron.sponsor? %>
    Fines incurred by proxy borrowers appear in the list of fines under their sponsor's Self tab.
  <% end %>
</div>
<div class="page-section" data-key="payments" data-type="async">
  <h2>History</h2>
  <%= link_to 'Show history', payments_path, class: 'btn btn-info', remote: true, data: { type: :json } %>
</div>
