<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Request Type</title>
	</head>
	<body>
		
		<h1>Request Type Input Form</h1>
		<% unless flash[:notice].blank?%>
			<div id="notification"><%= flash[:notice] %></div>
		<% end %>
		<%= error_messages_for 'request_type' %>
		<% form_for (@request_type) do |f| %>
			<%= f.hidden_field :id %>
		
				<table>
			<tr>
				<td nowrap valign="top" align="right">Request Type:</td>
			 	<td valign="top"><%= f.text_field :req_type %></td>
			 </tr>
			<tr>
				<td nowrap valign="top" align="right">Current Location:</td>
			 	<td valign="top"><%= f.text_field :current_loc %></td>
			 </tr>
			<tr>
				<td nowrap valign="top" align="right">Status:</td>
			 	<td valign="top"><%= f.text_field :req_status %></td>
			 </tr>	
			 		
			 <tr>
				<td nowrap valign="top" align="right">Form:</td>
			 	<td valign="top">
			 		<%= collection_select("request_type", "form", @forms, "id", "form_id")%>
				</td>
			</tr>			

			<tr>
				<td nowrap valign="top" align="right">Text:</td>
			 	<td valign="top"><%= f.text_field :text %></td>
			</tr>				 
			 	
			<tr>
				<td nowrap valign="top" align="right">Enabled:</td>
			 	<td valign="top"><%= f.check_box :enabled %></td>
			</tr>				 

			<tr>
				<td nowrap valign="top" align="right">Authenticated:</td>
			 	<td valign="top"><%= f.check_box :authenticated %></td>
			</tr>
						 	
			<tr>		
				<td colspan=2><%= submit_tag "Save"  %></td>
			</tr>
			 	
		</table>			
		
		<% end %>		
		
	</body>
</html>
