<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title><%= @request_type.req_type %></title>
	</head>
	<body>
		
		<h1><%= @request_type.req_type %></h1>
		<p><strong>Request Type: </strong> <%= @request_type.req_type %><br />
		<p><strong>Current Location: </strong> <%= @request_type.current_loc %><br />
		<p><strong>Request Status: </strong> <%= @request_type.req_status %><br />
		<p><strong>Request Type: </strong> <%= @request_type.req_type %><br />
		<p><strong>Request Form: </strong> <%= @request_type.form %><br />
		<p><strong>Link Text: </strong> <%= @request_type.text %><br />
		<p><strong>Enabled: </strong> <%= @request_type.enabled %><br />
		<p><strong>Authenticated: </strong> <%= @request_type.authenticated %><br />
		
</p>

<hr />
<%= link_to 'Back', {:action => 'index'} %>
		
	</body>
</html>
