<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Request Definitions</title>
	</head>
	<body>
		<%= render :partial => 'header' %> 
		<h1>Request Definitions</h1>
		
		Listed below are request definitions that show the different kinds of requests based
		on various information used in Symphony. 
		Note that <strong>new request types</strong> defined here have no effect on the requests application
		until updates are made to the underlying application code. 
		You can, however, edit the request definition records to <strong>change
		the form text</strong> for each type of request that is already represented here. 
		
<p></p>
<table>
  <tr>
    <th>Name</th>
	<th>Library</th>
	<th>Current Location</th>
	<th>Request Status</th>
	<th>Request Type</th>
	<th>Enabled</th>
	<th>Authenticated</th>
	<th>Unauthenticated</th>
  </tr>

<% for requestdef in @requestdefs %>
  <tr>
    <td valign="top"><%=h requestdef.name %></td>
    <td valign="top"><%=h requestdef.library %></td>
    <td valign="top"><%=h requestdef.current_loc %></td>
    <td valign="top"><%=h requestdef.req_status %></td>
    <td valign="top"><%=h requestdef.req_type %></td>
    <td valign="top"><%=h requestdef.enabled %></td>
    <td valign="top"><%=h requestdef.authenticated %></td>
    <td valign="top"><%=h requestdef.unauthenticated %></td>
	


	
    <td nowrap><%= button_to 'Edit',{:action => 'edit', :id => requestdef.id }, :method => :get %></td>
    <td nowrap><%= button_to 'Delete', { :action => 'destroy', :id => requestdef.id }, :confirm => 'Are you sure you want to delete this item?', 
         :method => :delete %></td>
  </tr>
<% end %>
</table>

    <%= render 'shared/mouseflow' %>
	</body>
</html>
