<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Request Definition Input Form</title>
		<%= javascript_include_tag :defaults %>
	</head>
	<body>
		<%= render :partial => 'header' %> 
		<h1>Request Definition Input Form</h1>
		<% unless flash[:notice].blank?%>
			<div id="notification"><%= flash[:notice] %></div>
		<% end %>
		<%= error_messages_for 'requestdef' %>
		<% form_for ( [:admin, @requestdef ]) do |f| %>

		<table>
			<tr>
				<td nowrap valign="top" align="right">Definition Name:</td>
			 	<td valign="top" colspan=2><%= f.text_field :name %></td>
			 <tr>
			 <tr>
				<td nowrap valign="top" align="right">Library:</td>
				 <td valign="top" colspan=2><%= select_tag 'requestdef[library]', options_for_select(@library_list, :selected => 'SUL' ) %></td>
			</tr>
			 <tr>
				<td nowrap valign="top" align="right">Current Location:</td>
				 <td valign="top" colspan=2><%= f.text_field :current_loc %></td>
			</tr>			
			 <tr>
				<td nowrap valign="top" align="right">Request Status:</td>
				 <td valign="top" colspan=2><%= f.text_field :req_status %></td>
			</tr>			
			 <tr>
				<td nowrap valign="top" align="right">Request Type:</td>
				 <td valign="top" colspan=2><%= f.text_field :req_type %></td>
			</tr>	
			
			 <tr>
				<td nowrap valign="top" align="right">Enabled:</td>
				 <td valign="top" colspan=2><%= f.check_box :enabled %></td>
			</tr>			
			 <tr>
				<td nowrap valign="top" align="right">Authenticated:</td>
				 <td valign="top" colspan=2><%= f.check_box :authenticated %></td>
			</tr>			
			 <tr>
				<td nowrap valign="top" align="right">Unauthenticated:</td>
				 <td valign="top" colspan=2><%= f.check_box :unauthenticated %></td>
			</tr>		
			<tr>
				<td colspan=3><hr></td>
			</tr>	
			 <tr>
				<td nowrap valign="top" align="right">Title:</td>
				 <td valign="top"><%= f.text_field :title %></td>
			</tr>			

			 <tr>
				<td nowrap valign="top" align="right">Initial Text:</td>
				 <td valign="top" colspan=2><%= f.text_area :initial_text, :cols => 40, :rows => 10 %></td>
			</tr>
			
			<!--
			Need to save the record before we can get an ID that we can use
			to choose fields. 
			-->
			
			<!-- Fields -->
			
			<tr> <td align="right">Fields:</td><td>Select the fields that should appear for this request.</td>
			
			<% for field in @fields %>
				<tr>
					<td></td>
					<td>
						<input type="checkbox" 
						id="<%= field.id %>" 
						name="field_ids[]" 
						value="<%= field.id %>"
						<% if @requestdef.fields.include? field %>checked="checked"<%end%>
						> <%= field.field_name %> - <%= field.field_label %>
					</td>
				
				</tr>	
			<% end %>
			
			 <tr>
				<td nowrap valign="top" align="right">Final Text:</td>
				 <td valign="top" colspan=2><%= f.text_area :final_text, :cols => 40, :rows => 10 %></td>
			</tr>			
				
			<tr>		
				<td colspan=3><%= submit_tag "Save"  %></td>
			</tr>
			</table>

		<% end %>			
		
		
		
	</body>
</html>
