<% if params[:kind] == 'saved_for_later' %>
  <% content_for(:sidebar_responsive_button) do %>
    <button class="btn btn-sm btn-outline-primary d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#appointments" aria-controls="appointments">
      Appointments
    </button>
  <% end %>

  <% content_for(:menu) do %>
    <%= render 'delete_drafts_button' %>
  <% end %>

  <% content_for(:sidebar) do %>
    <aside class="col-lg-4 offcanvas-lg offcanvas-bottom offcanvas-sm-start overflow-auto" tabindex="-1" id="appointments">
      <%= render 'aeon_appointments' %>
    </aside>
  <% end %>

  <% content_for(:modal) do %>
    <%= render ModalComponent.new(id: "delete-bulk", data: {draft_request_target: "deleteModal"}) do |component| %>
      <% component.with_title.with_content('Delete requests?') %>
      <% component.with_body do %>
        <%= render Aeon::RequestGroupBulkActionsComponent.with_collection(@aeon_request_groups) %>

        <div hidden class="mb-3" data-draft-request-target="modalSummary"></div>
        <%= render AlertComponent.new(type: :info, classes: ['border-0', 'shadow-none', 'mb-0'], with_icon: false) do %>
          <span class="fw-semibold text-wrap">This action cannot be undone.</span>
        <% end %>
      <% end %>
      <% component.with_footer do %>
        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">No</button>
        <%= form_with url: destroy_multiple_aeon_requests_path, method: 'delete', data: { 'draft-request-target': 'deleteForm' } do %>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Yes - Delete</button>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<div class="container" <% if params[:kind] == 'saved_for_later' %>data-controller="draft-request"<% end %>>
  <div class="row">
    <div class="<% if content_for?(:sidebar) %>col-lg-8 pe-lg-5<% else %>col-xl-9<% end %>">
      <div class="d-flex flex-wrap gap-2 justify-content-between mb-4">
        <h1><%= t(params[:kind], scope: 'aeon_requests.index.header', default: 'Requests') %></h1>
        <div class="d-flex flex-wrap gap-2 align-items-baseline">
          <%= content_for(:sidebar_responsive_button) %>
          <%= render 'sort_dropdown' %>
          <%= render 'filter_dropdown' %>
          <%= content_for(:menu) %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <ol id="requests" class="list-unstyled <% if content_for?(:sidebar) %>col-lg-8 pe-lg-5<% else %>col-xl-9<% end %>">
      <%= render Aeon::RequestGroupComponent.with_collection(@aeon_request_groups, element: 'li') %>
    </ol>

    <%= content_for(:sidebar) %>
  </div>

  <%= content_for(:modal) %>
</div>
