<% @update_response.requests_to_update.each do |updated_request, original_request| %>
  <% if updated_request.status == original_request.status %>
    <%= turbo_stream.replace(original_request, Aeon::RequestGroupItemComponent.new(request: updated_request)) %>
  <% else %>
    <%# remove the item from the previous group %>
    <%= turbo_stream.remove(original_request) %>
  <% end %>
<% end %>

<% if @update_response.saved_for_later_sidebar_needs_update? %>
  <%# update the saved for later list %>
  <%= turbo_stream.replace('aeon-requests') do %>
    <div id="aeon-requests">
      <%= render Aeon::RequestGroupBriefComponent.with_collection(@update_response.saved_for_later_request_groups, after_request_item_component: SidebarAppointmentDropdownComponent) %>
    </div>
  <% end %>
<% end %>

<%# remove groups that are entirely gone %>
<% group_keys = @update_response.next_aeon_request_groups.map(&:group_key) %>
<% @update_response.previous_aeon_request_groups.reject { |group| group.group_key.in? group_keys }.each do |group| %>
  <%= turbo_stream.remove(group.dom_id) %>
<% end %>

<% @update_response.appointments_to_update.each do |appointment| %>
  <%# update appointment cards + sidebar %>
  <%= turbo_stream.replace(dom_id(appointment)) do %>
    <%= render Aeon::AppointmentComponent.new(appointment: appointment, all_requests: @update_response.next_requests) %>
  <% end %>
  <% @update_response.updated_requests.requests.each do |request| %>
    <% if request.submitted? %>
      <%= turbo_stream.replace(dom_id(request), Aeon::AppointmentRequestGroupItemComponent.new(request:, classes: ['flash-on-add'])) %>
    <% else %>
      <%= turbo_stream.replace(dom_id(request), Aeon::RequestGroupBriefListItemComponent.new(request:, after_request_item_component: SidebarAppointmentDropdownComponent, additional_classes: 'flash-on-add')) %>
    <% end %>
  <% end %>

  <%= turbo_stream.replace_all ".#{dom_id(appointment, :option)}" do %>
    <%= render Aeon::AppointmentOptionComponent.new(appointment: appointment, name: 'aeon_request[appointment_id]', data_action: nil) %>
  <% end %>

  <%= turbo_stream.replace(dom_id(appointment, :sidebar)) do %>
    <%= render Aeon::AppointmentSidebarComponent.new(appointment: appointment) %>
  <% end %>
<% end %>

<% @update_response.activities_to_update.each do |activity| %>
  <%= turbo_stream.replace(dom_id(activity)) do %>
    <%= render Aeon::ActivityComponent.new(activity: activity) %>
  <% end %>
<% end %>
