<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Messages</title>
	</head>
	<body>
		<%= render :partial => 'header' %> 
		<h1>Messages</h1>
		
		Listed below are messages that can appear in two places:
		<ul type="square">
		<li>On the request form to provide information about various status types, "checkedout", etc.	
		<li>On the confirmation page after 
		requests are submitted</li>
		</ul>Since they are used as headings above a lists of request
		call number, you should make the phrasing appropriate to the context.
		You can change message text
		using the Edit button for the message. 
		
		
<p></p>
<table>
  <tr>
    <th nowrap valign="top">Message Key</th>
	<th>Message Text</th>
	<th>Comments</th>
  </tr>

<% for message in @messages %>
  <tr>
    <td valign="top"><%=h message.msg_number %></td>
    <td valign="top"><%=h message.msg_text %></td>
    <td valign="top"><%=h message.comments %></td>
	
    <td nowrap valign="top"><%= button_to 'Edit',{:action => 'edit', :id => message.id }, :method => :get %></td>
    <td nowrap valign="top"><%= button_to 'Delete', { :action => 'destroy', :id => message.id }, :confirm => 'Are you sure you want to delete this item?', 
         :method => :delete %></td>
  </tr>
<% end %>
</table>


	</body>
</html>
