<% if f.object.present? %>
  <%= f.fields_for :barcodes do |barcode| %>
    <% if f.object.barcode_present? || f.object.all_holdings.one? %>
      <% single_item = f.object.requested_holdings.first || f.object.all_holdings.first %>
      <div class='form-group'>
        <span class='control-label <%= label_column_class %>'>Call number</span>
        <div class='<%= content_column_class %>'>
          <p class="form-control-static">
            <%= single_item.callnumber %>
          </p>
        </div>
      </div>
      <%= barcode.hidden_field nil, value: single_item.barcode %>
    <% elsif f.object.all_holdings.many? %>
      <div id='selected-items-filter' data-behavior='item-selector' data-limit-reached-message="<%= t('sul_requests.limit_reached_message', limit: f.object.item_limit) %>">
        <% if f.object.all_holdings.length >= 10 %>
          <div class='form-group'>
            <label class='control-label <%= label_column_class %>' for='item-selector-search'>Search item list</label>
            <div class='<%= content_column_class %>'>
              <input id='item-selector-search' type='text' class='pull-right search form-control' />
            </div>
          </div>
        <% end %>
        <div class='btn-group btn-group-xs sort-headings clearfix'>
          <a href="javascript:;" class="sort sort-callnumber btn btn-default pull-left" data-sort="callnumber">Call number <i></i></a>
          <a href="javascript:;" class="sort sort-status btn btn-default pull-right" data-sort="status">Status <i></i></a>
        </div>
        <div id="item-selector" class="item-selector" data-limit-selected-items="<%= f.object.item_limit if f.object.item_limit.to_i > 1 %>" data-counter-target="[data-items-counter='true']">
          <div class='list'>
            <% f.object.all_holdings.sort_by(&:callnumber).each do |holding| %>
              <div class='input-group'>
                <% if f.object.item_limit.to_i == 1 %>
                  <span class='input-group-addon barcode-checkbox'>
                    <%= barcode.radio_button_without_bootstrap nil, holding.barcode, checked: f.object.requested_holdings.include?(holding), data: { barcode: holding.barcode, callnumber: holding.callnumber } %>
                  </span>
                  <%= barcode.label "_#{holding.barcode}", class: 'form-control' do %>
                    <span class='callnumber'><%= holding.callnumber %></span>
                    <%= label_for_item_selector_holding(holding) %>
                  <% end %>
                <% else %>
                  <span class='input-group-addon barcode-checkbox'>
                    <%= barcode.check_box_without_bootstrap holding.barcode, checked: f.object.requested_holdings.include?(holding), data: { barcode: holding.barcode, callnumber: holding.callnumber } %>
                  </span>
                  <%= barcode.label holding.barcode, class: 'form-control' do %>
                    <span class='callnumber'><%= holding.callnumber %></span>
                    <%= label_for_item_selector_holding(holding) %>
                  <% end %>
                <% end %>

                <% if holding.current_location.try(:code) == 'CHECKEDOUT' %>
                  <div data-behavior='checkedout-note' class='checkedout-note'>
                    This item is currently in use by another patron. We can still get it for you but we can't estimate the delivery date.
                  </div>
                <% end %>

                <% if holding.public_note.present? %>
                  <div class='public-note'>
                    <%= holding.public_note %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div data-behavior='max-items-message'></div>
      <% if current_request.ad_hoc_item_commentable? %>
        <div class='form-group'>
          <span class='control-label <%= label_column_class %>'>Add unlisted items</span>
          <div class='<%= content_column_class %>' data-behavior='ad-hoc-items' data-hidden-field-name="<%= "#{f.object_name}[ad_hoc_items][]" %>">
            <div class="input-group">
              <%= text_field_tag :ad_hoc_items, '', class: 'form-control' %>
              <span class="input-group-btn">
                <%= link_to 'Add', 'javascript:;', class: 'btn btn-default', data: { behavior: 'submit-ad-hoc-items' } %>
              </span>
            </div>
            <p class='help-block'>Refer to the collection finding aid to identify the items you need.<br />Example: Series 1, Box 1</p>
          </div>
        </div>
      <% end %>

      <div class='form-group'>
        <span class='control-label <%= label_column_class %> required'>
          <span data-items-counter='true'><span data-count='true'><%= f.object.requested_holdings.length + (f.object.ad_hoc_items || []).length %></span> items selected</span>
        </span>
        <div class='<%= content_column_class %>'>
          <div data-behavior='breadcrumb-container'>
            <% f.object.ad_hoc_items.each do |i| %>
              <%= f.hidden_field :ad_hoc_items, value: i, multiple: true %>
            <% end if f.object.ad_hoc_items %>
          </div>
          <% if f.object.holdings.many? %>
            <div class="zero-items-message help-text">[<%= t(:'.help_text', count: f.object.item_limit.to_i) %>]</div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
