<% if f.object.present? %>
  <%= f.fields_for :barcodes do |barcode| %>
    <% if f.object.holdings.one? %>
      <div class='form-group'>
        <span class='control-label <%= label_column_class %>'>Call number</span>
        <div class='<%= content_column_class %>'>
          <p class="form-control-static">
            <%= current_request.holdings.first.callnumber %>
          </p>
        </div>
      </div>
      <%= barcode.hidden_field nil, value: f.object.holdings.first.barcode %>
    <% elsif f.object.holdings.many? %>
      <div id='selected-items-filter' class="form-group" data-behavior='item-selector' data-limit-reached-message="<%= t('sul_requests.limit_reached_message', limit: f.object.item_limit) %>">
        <% if f.object.holdings.length >= 10 %>
          <div class='form-group'>
            <label class='control-label <%= label_column_class %>' for='item-selector-search'>Search item list</label>
            <div class='<%= content_column_class %>'>
              <input id='item-selector-search' type='text' class='pull-right search form-control' />
            </div>
          </div>
        <% end %>
        <div class='btn-group btn-group-xs sort-headings clearfix'>
          <a href="javascript:;" class="sort sort-callnumber btn btn-default pull-left" data-sort="callnumber">Call number <i></i></a>
          <a href="javascript:;" class="sort sort-status btn btn-default pull-right" data-sort="status">Status <i></i></a>
        </div>
        <div id="item-selector" class="item-selector" data-limit-selected-items="<%= f.object.item_limit %>" data-counter-target="[data-items-counter='true']">
          <div class='list'>
            <% f.object.holdings.each do |holding| %>
              <div class='input-group'>
                <span class='input-group-addon'>
                  <%= barcode.check_box_without_bootstrap holding.barcode, data: { barcode: holding.barcode, callnumber: holding.callnumber } %>
                </span>
                <%= barcode.label holding.barcode, class: 'form-control' do %>
                  <span class='callnumber'><%= holding.callnumber %></span>
                  <span class='status pull-right <%= holding.status.availability_class %>'><%= holding.status.status_text %></span>
                <% end %>
                <% if holding.public_note.present? %>
                  <div class='public-note'>
                    <%= holding.public_note %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <% if current_request.ad_hoc_item_commentable? %>
        <div class='form-group'>
          <span class='control-label <%= label_column_class %>'>Add unlisted items</span>
          <div class='<%= content_column_class %>' data-behavior='ad-hoc-items' data-hidden-field-name="<%= "#{f.object_name}[ad_hoc_items][]" %>">
            <div class="input-group">
              <%= text_field_tag :ad_hoc_items, '', class: 'form-control' %>
              <span class="input-group-btn">
                <%= link_to 'Add', 'javascript:;', class: 'btn btn-default', data: { behavior: 'submit-ad-hoc-items' } %>
              </span>
            </div>
            <p class='help-block'>Refer to the collection finding aid to identify the items you need.<br />Example: Series 1, Box 1</p>
          </div>
        </div>
      <% end %>

      <div class='form-group'>
        <span class='control-label <%= label_column_class %>'>
          <p data-items-counter='true'><span data-count='true'>0</span> items selected</p>
        </span>
        <div class='<%= content_column_class %>'>
          <div data-behavior='breadcrumb-container'></div>
          <div data-behavior='max-items-message'></div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
