<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>System Problem</title>
    <link href="/stylesheets/request-forms.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		
<div id="header">
		<!-- Toolbar --> 
		
		<%= render :partial => "shared/toolbar_links" %>
</div>		

<div id="container">

		<h1>Request Problem</h1>
		
		<div class="request_failed"><p>
		There was a problem processing your request. 
		</div>
		
		<% if ! @params.nil? %>
			<% @params.each_pair do |name, value| %>
				<% if name != 'controller'%>
					<%= name %>: <%= value%><br>	
				<% end %>
			<% end %>
		<% end %>
		
		<% unless flash[:system_problem].blank?%>
				
					<div id="notification">
					<%= flash[:system_problem] %>
					</div>
				
			<% end %>

		 
		<!-- End of message section -->
		

		

    <%= render 'shared/mouseflow' %>
	</body>
</html>
