<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Confirmation Page</title>
    <link href="/stylesheets/request-forms.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		
		<p>This is the body text showing each result</p>
		
		<!-- Display successful messaage first -->
		
		<% if @results.has_key?('209') %>
			
			<%=h @messages['209'] %>
			<blockquote>
				<% items = @results['209'].split('^') %>
				<% items.each do |item| %>
				<%    fields = item.split('|') %>
				<%=h fields[1] %><br>
				<% end %>			
			</blockquote>
			<% @results.delete('209') %>
		<% end %>			
		
		<% if ! @results.empty?  %>
			Your requests for the following items could not be placed for the reasons shown:
			<blockquote>
				<% @results.each do |key, value| %>
					<%=h @messages[key] %>
					<blockquote>
					<% items = value.split('^') %>
					<% items.each do |item| %>
					<%    fields = item.split('|') %>
					<%=h fields[1] %> <br>	
					<% end %>
					</blockquote>	
				<% end %>	
			</blockquote>
		<% end %>
<hr>		
		<p>This should be followed by a flash message.</p>
		<% unless flash[:notice].blank?%>
			<div id="notification"><%= flash[:notice] %></div>
		<% end %>
	</body>
</html>
