<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>

	
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title><%= @requestdef_info[:title] %></title>

<script type="text/javascript" src="/javascripts/requests.js"></script>
<script type="text/javascript" src="/javascripts/datepicker.packed.js"></script>

<link href="/stylesheets/request-forms.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/datepicker.css" rel="stylesheet" type="text/css" />

	
</head>
<body>
	

<div id="header">
<a href="#formstart" class="off_screen">Skip to form</a>

		<!-- Toolbar --> 
		
		<%= render :partial => "shared/toolbar_links" %>
</div>

<div id="container">

		<!-- Parameter names need to match what's used in destination proc -->
		
		<h1><%= @requestdef_info[:title] %></h1>
				
		<% if @sym_info.items.size > 0 %>
	
			<div class="opening">
			
			<p><%= @requestdef_info[:initial_text]%></p>
			
			<% if ! @requestdef_info[:extra_text].blank? %>
				<p><%= @requestdef_info[:extra_text] %></p>
			<% end %>				
								
		
			</div>
				
			<% unless flash[:invalid_fields].blank?%>
				
					<div id="notification">
					<ul>
					<% flash[:invalid_fields].each do |msg| %>  
					<li><%= msg %></li>
					<% end %>
					</ul>
					</div>
				
			<% end %>
			
		<% else %>		
		
			<div class="request_failed">
		
			<%= @messages['NO_ITEMS_AVAILABLE'] %>
			
			</div>
		
		<% end # if items.size > 0 - part 1 %>	
		
			
		<% form_for(:request, @request, :url => { :action => 'create'}, :html => { :name => 'requestform' }) do |f| %>			
	
		<% if @sym_info.items.size > 0 # part 2 %>
	
			<%= f.hidden_field :req_type %>
			<%= f.hidden_field :home_lib %>	
			<%= f.hidden_field :home_loc %>	
			<%= f.hidden_field :current_loc %>		
			<%= f.hidden_field :item_id %>
			<%= f.hidden_field :due_date %>
			<%= f.hidden_field :bib_info, :value => @sym_info.bib_info %>
			<%= f.hidden_field :call_num %>
			<%= f.hidden_field :ckey %>
			<%= f.hidden_field :request_def %>
			<%= f.hidden_field :pickupkey %>		
			<%= f.hidden_field :items, :value => @sym_info.items.join( "-!-" ) %>
			<%= f.hidden_field :cur_locs, :value => @sym_info.cur_locs.join( "-!-" ) %>
			<%= f.hidden_field :return_url %>
			<%= f.hidden_field :source %>
			<%= f.hidden_field :proxy_status %>
            

			<!-- Visible fields for record; some may be hidden above -->
					
			<!-- User Info -->
			
			<a name="formstart"></a>
			
			<fieldset><legend>Your Information</legend>
			<dl>
			<% if ! @is_authenticated %>
				<dt>Do you have a SUNet ID?</dt>
				<dd id="loginlink"><a href="<%= link_to_auth_request(@request) %>">Login for faster service!</a></dd>
				<dt>Otherwise, enter:</dt>
				<dd>
					<dl>
			<% end %>
			
			<% if @fields.has_key?('patron_name') %>
					<dt><label for="request_patron_name"><%= @fields['patron_name'] %></label></dt>
					<dd><%= f.text_field :patron_name %></dd>
			<% end %>
			
			<% if @fields.has_key?('patron_email') %>
					<dt><label for="request_patron_email"><%= @fields['patron_email'] %></label></dt>
					<dd><%= f.text_field :patron_email %></dd>
			<% end %>		
			
			<!-- Changed to show library id both for authenticated and unauthenticated users, but no explanation if authenticated -->
			
			<% if @is_authenticated %>
	  				<dt><label for="request_library_id"><%= @fields['library_id'] %></label></dt>
					<dd><%= f.text_field :library_id %></dd>
			<% else %>
	  				<dt><label for="request_library_id"><%= @fields['library_id'] %></label></dt>
					<dd><%= f.text_field :library_id %>
						<img src="/stylesheets/help.png" title="What's this?"
						onclick="getElementById('libID_help').style.display = 'block'; return false;" />

							<div id="libID_help" style="display: none;"><img src="../images/libraryid.png" 
							title="Your library ID is the underlined number above the barcode on your Stanford ID card." 
							onClick="getElementById('libID_help').style.display = 'none'; return false;">

							</div>
					</dd>
			<% end %>
			

			
			<% if ! @is_authenticated %>
					</dl>
				</dd>
			<% end %>
			
			
			<!-- Always have pickup lib field -->
			
				<dt><label for="request_pickup_lib">Will pick up at</label></dt>
				<dd><%= select_tag 'request[pickup_lib]', options_for_select( @pickup_libs_hash, :selected => @request.pickup_lib ) %></dd>
		
			
				<!-- Prompt to make this a proxy request if user is authenticated and is a proxy sponsor -->

				<% if @is_authenticated and ! @proxy_status.blank? %>
					<dt><label for="request_proxy_prompt">Proxy request?</dt>
						<dd><%= f.check_box :proxy_request %>Make this a proxy request</dd>			
				<% end %>
			
			
			<!-- Hold/Recall - display only if we have "checked out" items -->	
			
			<% if @msg_keys.include?('DELAYED') %>
			
				<dt><label for="request_hold_recall">Hold/Recall</label></dt>
				
				<dd class="unavail_items">If you select items below marked "(Hold/Recall)", do you want them:
				<ul>
					<li>
					<label><input name="request[hold_recall]" type="radio" value="HOLD" 
					<% if ! @is_authenticated || ( @is_authenticated && @request.hold_recall.eql?('HOLD') ) %>
					checked="checked"
					<% end %>
					 >
					   held for you after return by current borrower?</label>
					</li>
					<li> 
					<label id="recallLabel" 
					<% if ! @is_authenticated %>					
					class="disabled"
					<% end %>
					>						
					<input name="request[hold_recall]" id="request_type" type="radio" 
					<% if ! @is_authenticated %>
					disabled="disabled" 
					<% end %>
					<% if @is_authenticated && ! @request.hold_recall.eql?('HOLD') %>
					checked="checked"
					<% end %>
					value="RECALL">
  					 recalled from current borrower 
					<% if ! @is_authenticated %>
					<span id="loginInstruction">(quicker, <a href="<%= link_to_auth_request(@request) %>">requires login</a>)</span>
					<% end %>?
					</label></li>
					</ul>
					</dd>

			
			<% end %>
			
			<!-- Have either not_needed or planned_use field but not both -->
			
			<% if @fields.has_key?('not_needed_after') %>
			<dt><label for="request_not_needed_after"><%= @fields['not_needed_after'] %></label></dt>
				<dd><%= f.text_field :not_needed_after, { :class => 'w16em' } %></dd>
				
				<script type="text/javascript">
			
			        var today     = new Date(),
			            // low range, 35 days before today's date
			            rangeLow  = new Date(today.getFullYear(), today.getMonth(), today.getDate() + 2),
			            // high range, one year after today's date
			            //rangeHigh = new Date(today.getFullYear() + 1, today.getMonth(), today.getDate() )
			            rangeHigh = new Date(today.getFullYear(), today.getMonth(), today.getDate() + 730 );
			
			        var opts = {
			                formElements:{"request_not_needed_after":"m-sl-d-sl-Y"},
			                // showWeeks:true,
			                // statusFormat:"l-cc-sp-d-sp-F-sp-Y",
			                // Set some dynamically calculated ranges
			                rangeLow:rangeLow.getFullYear() + "" + pad(rangeLow.getMonth()+1) + pad(rangeLow.getDate()),
			                rangeHigh:rangeHigh.getFullYear() + "" + pad(rangeHigh.getMonth()+1) + pad(rangeHigh.getDate()) 
			        	};
			        datePickerController.createDatePicker(opts);

			      </script>				
				
			<% elsif @fields.has_key?('planned_use') %>
			<dt><label for="request_planned_use"><%= @fields['planned_use'] %></label></dt>
				<dd><%= f.text_field :planned_use, { :class => 'w16em' } %></dd>	

				<script type="text/javascript">
					
			        var today     = new Date(),
			            // low range, 35 days before today's date
			            rangeLow  = new Date(today.getFullYear(), today.getMonth(), today.getDate() + 1),
			            // high range, one year after today's date
			            //rangeHigh = new Date(today.getFullYear() + 1, today.getMonth(), today.getDate() )
			            rangeHigh = new Date(today.getFullYear(), today.getMonth(), today.getDate() + 30 );
			
			        var opts = {
			                formElements:{"request_planned_use":"m-sl-d-sl-Y"},
			                // showWeeks:true,
			                // statusFormat:"l-cc-sp-d-sp-F-sp-Y",
			                // Set some dynamically calculated ranges
			                rangeLow:rangeLow.getFullYear() + "" + pad(rangeLow.getMonth()+1) + pad(rangeLow.getDate()),
			                rangeHigh:rangeHigh.getFullYear() + "" + pad(rangeHigh.getMonth()+1) + pad(rangeHigh.getDate()) 
			        	};
			        datePickerController.createDatePicker(opts);

			      </script>					

				
						
			<% end %>
			
			<% if @fields.has_key?('vol_num') %>
			<dt><label for="request_vol_num"><%= @fields['vol_num'] %></label></dt>
			<dd><%= f.text_field :vol_num %></dd>
			<% end %>
			
			<% if @fields.has_key?('comments') %>
			<dt><label for="request_comments"><%= @fields['comments'] %></label></dt>
				<dd><%= f.text_area :comments, {:size => "40x10"} %></dd>
			<% end %>			
			
			</dl>
			</fieldset>
		
		<% end # items > 0 - part 2 %>


		<% if @sym_info.items.size > 0 %>
		
			<fieldset><legend>Volumes/Copies Requested</legend>
		
		<% end %>	
					

		<% if @fields.has_key?('bib_info') %>

			<span class="title"><%= @sym_info.bib_info %></span>
		<% end %>
		
		<% if @sym_info.items.size > 0 %>

			<span class="library"><%= @request.home_lib %>: </span>
			 
			<% if @sym_info.items.size > 1 && @sym_info.items.size <= @request.max_checked %>
				<span class="action_varies">
					<input name="allbox" id="allbox" type="checkbox" value="Check All"  onclick="if (this.checked) {CheckAll()} else {UnCheckAll()}" >
	    			Select all
				</span>
			<% elsif @sym_info.items.size > @request.max_checked %>
				<span class="action_varies">
					Select up to <%= @request.max_checked %> volumes or copies for this request
				</span>	
			<% end %>
			
			<% if ! @sym_info.items.to_s.blank? && @sym_info.items.size <= @request.max_checked %>
			 <div class="access_data">
			<% else %>		
				<div class="access_data_scroll">
			<% end %>
        
	    		<ol class="show_availability item_list">
					
					<% if ! @sym_info.items.to_s.blank? %>		
													
						<% @sym_info.items.each do |item| %>
						
							<% values = item.split('^') %>  
						   	
						   	<li><input type="checkbox"
								name="request[items_checked][]" 							
								value="<%= values[1] %>"
								
								<% if @sym_info.items.size > 1 && @sym_info.items.size <= @request.max_checked %>
									onclick="if (this.checked == false ) {document.requestform.allbox.checked = false;}" 
								<% else %>

									onclick='countChecked(this.form, "<%= @request.max_checked %>")'
								<% end %>
								
								id="request_items"
								<% if ! @request.items_checked.nil? && @request.items_checked.include?( values[1]  ) %>
									checked
								<% elsif @sym_info.items.size == 1 %>
									checked								
								<% end %> >
								
								<label for="check_<%= values[0] %>"> 
								<span id="avail_<%= values[0] %>" 
								class="item_available"><%= values[2]%> 
								<% if ! values[3].nil?  %>
								<% msg_key = values[3].gsub(/\s/, "").upcase %>
								<span class="hold-recall"> - <%= values[3] %> (Hold/Recall) <span class="hold-recall-msg"><%= @messages[msg_key.to_s] %></span></span> 
								<% end %>
								</span>
								</label>
							</li>
	
						<% end %>
                      <!-- items each -->
						
					<% end %>
                    <!-- items > 0 -->
	
	            	</ol>
	   		</div>
	
			

        </fieldset>
		
		<% end %> <!-- items > 0 part 4 -->

        <!-- items > 0 part 5 -->
		
		<% if ! @sym_info.items.to_s.blank? %>

			<div class="submit">
				<%= submit_tag "Submit Request"  %>
				<a href="<%= link_for_cancel(@request.source, @request.return_url ) %>">Cancel</a>
			</div>
		<% else %>

			<div class="submit"> 
				<% if ! @request.return_url.blank? %>
					<a href="<%= @request.return_url %>">Return to SearchWorks</a>
				<% elsif @request.source == 'SO' %>
					<a href="javascript:self.close()">Close Window and Return to Socrates</a>	
				<% end %>
				<!--
				<a href="<%= link_for_cancel(@request.source, @request.return_url ) %>">Cancel</a>
				-->
			</div>	
		<% end %>
        <!-- items > 0 part 5 -->
		
			
		<% end %>	
        <!-- form_for -->
		
		<div class="closing">
		<p><%= @requestdef_info[:final_text]%></p>
		</div>
		

</div>


</body>
</html>		