<!-- SUL header -->
<div id="sul-header" class="bg-white text-cardinal py-1 fs-7">
  <div class="container d-flex flex-column flex-sm-row gap-1 gap-sm-0 justify-content-between align-items-center">
 
    <a
      class="mb-0 navbar-brand navbar-logo polychrome"
      href="https://library.stanford.edu"
      >Stanford University Libraries</a
    >
    <nav aria-label="header menu">
      <ul class="list-unstyled d-flex gap-4 m-0">
        <% if current_user.sso_user? || current_user.library_id_user? %>
          <% logout_path = current_user.site_admin? ? root_path : request.url %>
          <li>
            <%= link_to t('.logout', sunetid: current_user.sunetid || current_user.library_id), logout_path(referrer: logout_path) %>
          </li>
        <% else %>
          <li>
            <%= link_to 'Staff login', login_by_sunetid_path(referrer: request.original_url) %>
          </li>
        <% end %>
        <li>
          <%= link_to t('.my_account'), "https://mylibrary.stanford.edu/" %>
        </li>
        <li>
          <%= link_to "#feedback-form", role: 'button', data: {'bs-toggle':"collapse", 'bs-target':"#feedback-form"} do %>
            Feedback
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</div>
<div id="feedback-form" class="feedback-form-container collapse">
    <%= render 'feedback_forms/new' %>
</div>
<!-- Application header -->
<div id="app-header" class="text-white bg-cardinal py-3 d-flex">
  <div class="container">
    <%= tag.span t('.application_name'), class: "fs-3" %>
  </div>
</div>
