<div id="topnav-container">
  <header id="topnav" class="header-logo" role="banner">
    <%= link_to 'https://library.stanford.edu' do %>
      <%= content_tag :span, "Stanford University Libraries", class: "sr-only" %>
      <%= image_tag "sul-logo.svg", class: "sul-logo hidden-xs", alt: "", height: 25 %>
      <%= image_tag "sul-logo-stacked.svg", class: "sul-logo visible-xs", alt: "", height: 25 %>
    <% end %>

    <div class="header-links">
      <% if current_user.sso_user? %>
        <%= link_to "#{current_user.sunetid}: Logout", logout_path(referrer: root_path) %>
      <% else %>
        <%= link_to "Login", login_path(referrer: request.original_url) %>
      <% end %>
      <%= link_to "My Account", "https://library.stanford.edu/myaccount" %>
      <%= link_to "Feedback", "https://searchworks.stanford.edu/feedback", target: '_blank', rel: 'noopener noreferrer'  %>
    </div>

  </header>
</div>

<div class="topnav-divider">
</div>
