<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Pickup Libraries</title>
	</head>
	<body>
		<h1>Pickup Libraries Input Form</h1>
		<% unless flash[:notice].blank?%>
			<div id="notification"><%= flash[:notice] %></div>
		<% end %>
		<%= error_messages_for 'pickuplib' %>
		<% form_for (@pickuplib) do |f| %>
			<%= f.hidden_field :id %>
		
				<table>
			<tr>
				<td nowrap valign="top" align="right">Lib Key:</td>
			 	<td valign="top"><%= f.text_field :lib_key %></td>
			 </tr>
			<tr>
				<td nowrap valign="top" align="right">Pickup Library Code:</td>
			 	<td valign="top"><%= f.text_field :pickup_code %></td>
			 </tr>
			<tr>
				<td nowrap valign="top" align="right">Pickup Library Label:</td>
			 	<td valign="top"><%= f.text_field :pickup_label %></td>
			 </tr>	
	


						 	
			<tr>		
				<td colspan=2><%= submit_tag "Save"  %></td>
			</tr>
			 	
		</table>		
		
		Note: Need to have a list of all entries that match a key, but 
		what about when you call up a blank form?	
		
		<% end %>		
	</body>
</html>
