<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>@library.lib_code</title>
	</head>
	<body>
		
		<h1><%= @library.lib_code %></h1>
<p><strong>ID: </strong> <%= @library.id %><br />
<strong>Library Code:</strong> <%= @library.lib_code %><br />
<strong>Library Description:</strong> <%= @library.lib_descrip %><br />

</p>

<hr />
<%= link_to 'Back', {:action => 'index'} %>

	</body>
</html>
