<div class="form-group row">
  <%= f.label :page_range, class: "#{label_column_class} col-form-label" %>
  <div class='<%= content_column_class %>'>
    <%= f.text_field_without_bootstrap :page_range, class: 'form-control', aria: { describedby: 'page_range_help_block' } %>
    <span class="help-block" id="page_range_help_block">Examples: '1-15, 25-30' or '249-275, index'</span>
  </div>
</div>
<%= f.text_area :section_title, rows: '3', required: true %>
<%= f.text_field :authors %>

<div class='form-group row' data-scheduler-lookup-url='<%= paging_schedule_path(origin: current_request.paging_origin_library) %>'>
  <div class='col-form-label <%= label_column_class %>'>
    Earliest delivery
  </div>
  <% if Settings.features.estimate_delivery %>
    <div class='<%= content_column_class %> input-like-text' data-single-library-value='<%= 'SCAN' unless current_request.holdings_object.one? && current_request.holdings_object.all?(&:checked_out?) %>'>
      <span data-scheduler-text='true' aria-live='polite'></span>
      <%= f.hidden_field :estimated_delivery, data: { 'scheduler-field' => true } %>
    </div>
  <% else %>
    <div class="<%= content_column_class %> input-like-text">
      <strong>No estimate available</strong>
    </div>
  <% end %>
</div>

<%= render partial: 'copyright_restrictions' %>
