<% content_for :page_title do %>Request status: <%= current_request.item_title %><% end %>
<div class="<%= dialog_column_class %>">
  <h1>Status of your request</h1>
  <hr />
  <dl class='dl-horizontal dl-invert'>
    <dt>Requested on</dt>
    <dd><%= time_tag current_request.created_at.to_date, :long %></dd>
  </dl>
  <hr />

  <%= render 'request_error_alert' %>

  <%= render partial: 'searchworks_item_information' %>
  <%= render partial: 'shared/request_status_information' %>

  <% if can? :debug, current_request %>
    <hr />
    <h4>ILS Request</h4>
    <pre class="well"><%= JSON.pretty_generate(current_request.ils_request_command.request_params) %></pre>
    <h4>ILS Response</h4>
    <pre class="well"><%= JSON.pretty_generate(current_request.ils_response_data || {}) %></pre>

    <% if current_request.illiad_response_data.present? %>
      <h4>Illiad Response</h4>
      <pre class="well"><%= JSON.pretty_generate(current_request.illiad_response_data) %></pre>
    <% end %>
  <% end %>
</div>
