<div class='<%= dialog_column_class %> success-page'>
  <h1 id='dialogTitle'>We're working on it...</h1>

  <div class='alert alert-warning request-info'>
    <h2>Processing your request may take a few minutes.</h2>
    <% if current_request.notification_email_address.present? %>
      <p>
        <% if current_request.proxy? %>
          <%= t('requests.success.email_notification.proxy', email: current_request.notification_email_address).html_safe %>
        <% else %>
          <%= t('requests.success.email_notification.default', email: current_request.notification_email_address).html_safe %>
        <% end %>
      </p>
    <% end %>
  </div>

  <%= render 'searchworks_item_information' %>
  <%= render 'shared/request_status_information' %>

  <dl class='dl-horizontal dl-invert user-contact-information'>
    <dt class='sr-only'><%= current_request.class.human_attribute_name :user %></dt>
    <% if current_request.user.sso_user? || current_request.user.name_email_user? %>
      <dd>
        <span class="requested-by"><%= current_request.user.to_email_string %></span>
      </dd>
    <% end %>

    <% if current_request.proxy? %>
      <dd>
        <p>Shared with your proxy group</p>
        <p class='help-block'><%= t('requests.success.synchronous_email_notification.proxy') %></p>
      </dd>
    <% elsif current_user.sponsor? %>
      <dd>
        <p>Individual Request</p>
        <p class='help-block'><%= t('requests.success.synchronous_email_notification.default') %></p>
      </dd>
    <% elsif current_request.notification_email_address.present? %>
      <dd>
        <p class='help-block'><%= t('requests.success.synchronous_email_notification.default') %></p>
      </dd>
    <% end %>
  </dl>
</div>
