<div class='<%= dialog_column_class %> success-page'>
  <h1 id='dialogTitle'><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Request complete</h1>
  <%= render 'searchworks_item_information' %>
  <dl class='dl-horizontal'>
    <% if @scan.holdings.many? %>
      <dt>Item(s) requested</dt>
      <% @scan.holdings.each do |holding| %>
        <dd><%= holding.callnumber %></dd>
      <% end  %>
    <% end %>

    <% if @scan.data.present? %>
      <% if (page_range = @scan.data['page_range']).present? %>
        <dt><%= t('forms.labels.page_range') %></dt>
        <dd><%= page_range %></dd>
      <% end %>
      <% if (section_title = @scan.data['section_title']).present? %>
        <dt><%= t('forms.labels.section_title') %></dt>
        <dd><%= section_title %></dd>
      <% end %>
      <% if (authors = @scan.data['authors']).present? %>
        <dt><%= t('forms.labels.authors') %></dt>
        <dd><%= authors %></dd>
      <% end %>
    <% end %>

    <% unless @scan.user.library_id_user? %>
      <dt><span class='sr-only'>User</span></dt>
      <dd>
        <%= @scan.user.to_email_string %>
        <p class='help-block'>(We've sent a copy of this request to your email.)</p>
      </dd>
    <% end %>
  </dl>
</div>
