<div class="home-cards d-grid gap-4" style="grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));">
  <%= render Home::SummaryCardComponent.new(
        id: 'folio-borrowed-items',
        title: 'Borrowed items',
        icon: 'bi-book',
        count: dashboard.checkouts.count,
        label: t('dashboard.borrowed_items.label_html', count: dashboard.checkouts.count),
        path: checkouts_path) do |c| %>
            <% c.with_status_count(label: t('dashboard.borrowed_items_due_soon.label_html', count: dashboard.actionable_borrowed_items.count)) %>
        <% end %>

  <%= render Home::FinesCardComponent.new(
        id: 'folio-fines-and-fees',
        title: 'Fees and fines',
        icon: 'bi-cash-coin',
        fines: dashboard.fines,
        balance: dashboard.balance,
        patron_key: current_user.patron.key,
        path: fines_path,
        past_path: fines_path(past: 1)) %>

  <%= render Home::SummaryCardComponent.new(
        id: 'folio-pickup-requests',
        title: 'Pickup requests',
        icon: 'bi-bag',
        count: dashboard.pickup_requests.count,
        label: t('dashboard.pickup_requests.label_html', count: dashboard.pickup_requests.count),
        path: folio_requests_path) do |c| %>
            <% c.with_status_count(label: t('dashboard.pickup_requests_ready.label_html', count: dashboard.ready_for_pickup.count)) %>
        <% end %>

  <%= render Home::SummaryCardComponent.new(
        id: 'aeon-digitization-requests',
        title: 'Digitization requests',
        icon: 'bi-printer',
        count: dashboard.digital_requests.count,
        label: t('dashboard.digitization_requests.label_html', count: dashboard.digital_requests.count),
        path: aeon_requests_path(kind: 'submitted', filter: 'digitization'),
        empty_path: aeon_requests_path(kind: 'completed', filter: 'digitization'),
        empty_link_label: 'View past requests') do |c| %>
            <% c.with_status_count(label: t('dashboard.digitization_requests_delivered.label_html', count: dashboard.recently_delivered_digital_requests.count)) %>
        <% end %>

  <%= render Home::SummaryCardComponent.new(
        id: 'aeon-reading-room-appointments',
        title: 'Reading room appointments',
        icon: 'bi-calendar',
        count: dashboard.appointments.count,
        label: t('dashboard.appointments.label_html', count: dashboard.appointments.count),
        path: aeon_appointments_path,
        empty_path: aeon_requests_path(kind: 'completed', filter: 'reading_room'),
        empty_link_label: 'View past appointments',
        secondary_label: t('dashboard.appointment_items.label_html', count: dashboard.appointment_requests_count)) do |c| %>
        <% c.with_status_next_up(date: dashboard.next_appointment_date) %>
      <% end %>

  <%= render Home::SummaryCardComponent.new(
        id: 'aeon-saved-for-later',
        title: 'Saved for later',
        icon: 'bi-pin-angle',
        count: dashboard.saved_for_later.count,
        label: t('dashboard.saved_for_later.label_html', count: dashboard.saved_for_later.count),
        path: aeon_requests_path(kind: 'saved_for_later')) do |c| %>
            <% c.with_status_count(label: 'Requests not complete') if dashboard.saved_for_later.count.positive? %>
        <% end %>

  <%= render Home::SummaryCardComponent.new(
        id: 'aeon-activities',
        title: 'Activities',
        icon: 'bi-person-video3',
        count: dashboard.upcoming_activities.count,
        label: t('dashboard.activities.label_html', count: dashboard.upcoming_activities.count),
        path: aeon_activities_path,
        empty_path: past_aeon_activities_path,
        empty_link_label: 'View past activities') do |c| %>
        <% c.with_status_next_up(date: dashboard.next_activity_date) %>
      <% end %>
</div>
