<div class="home-cards d-grid gap-4" style="grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));">
  <%= render Home::SummaryCardComponent.new(
        id: 'folio-borrowed-items',
        title: 'Borrowed items',
        icon_class: 'bi-book',
        label: t('dashboard.borrowed_items.label_placeholder_html'),
        path: checkouts_path ) do |c| %>
            <% c.with_status_count(label: t('dashboard.borrowed_items_due_soon.label_placeholder_html')) %>
        <% end if dashboard.folio? %>

  <%= render Home::SummaryCardComponent.new(
        id: 'folio-fines-and-fees',
        title: 'Fees and fines',
        icon_class: 'bi-cash-coin',
        label: t('dashboard.fines_and_fees.label_placeholder_html'),
        path: fines_path) if dashboard.folio? %>

  <%= render Home::SummaryCardComponent.new(
        id: 'folio-pickup-requests',
        title: 'Pickup requests',
        icon_class: 'bi-bag',
        label: t('dashboard.pickup_requests.label_placeholder_html'),
        path: folio_requests_path) do |c| %>
            <% c.with_status_count(label: t('dashboard.pickup_requests_ready.label_placeholder_html')) %>
        <% end if dashboard.folio? %>

  <%= render Home::SummaryCardComponent.new(
        id: 'aeon-illiad-digitization-requests',
        title: 'Digitization requests',
        icon_class: 'bi-printer',
        label: t('dashboard.digitization_requests.label_placeholder_html'),
        path: aeon_requests_path(kind: 'submitted', filter: 'digitization'),
        link_label: nil) do |c| %>
            <% c.with_status_count(label: t('dashboard.digitization_requests_delivered.label_placeholder_html')) %>
        <% end if dashboard.aeon? || dashboard.folio? %>

  <%= render Home::SummaryCardComponent.new(
        id: 'aeon-reading-room-appointments',
        title: 'Reading room appointments',
        icon_class: 'bi-calendar',
        label: t('dashboard.appointments.label_placeholder_html'),
        path: aeon_appointments_path,
        link_label: nil,
        secondary_label: t('dashboard.appointment_items.label_placeholder_html')) do |c| %>
        <% c.with_status_text(text: '') %>
      <% end if dashboard.aeon? %>

  <%= render Home::SummaryCardComponent.new(
        id: 'aeon-saved-for-later',
        title: 'Saved for later',
        icon_class: 'bi-pin-angle',
        label: t('dashboard.saved_for_later.label_placeholder_html'),
        path: aeon_requests_path(kind: 'saved_for_later')) do |c| %>
            <% c.with_status_count(label: '') %>
        <% end if dashboard.aeon? %>

  <%= render Home::SummaryCardComponent.new(
        id: 'aeon-activities',
        classes: ['d-none'], # suppress the Activities card display because most users won't have any.
        title: 'Activities',
        icon_class: 'bi-person-video3',
        label: t('dashboard.activities.label_placeholder_html'),
        path: aeon_activities_path,
        link_label: nil) do |c| %>
        <% c.with_status_text(text: '') %>
      <% end if dashboard.aeon? %>
</div>
