<div class="row">
  <div class="home-list d-flex flex-column gap-3 col-lg-10 mx-auto">
  <%= render Home::ListView::FinesCardComponent.new(
    title: 'Fees and fines',
    icon: 'bi-cash-coin',
    fines: dashboard.fines,
    balance: dashboard.balance,
    patron_key: current_user.patron.key,
    path: fines_path) %>

  <%= render Home::ListView::SummaryCardComponent.new(
    title: 'Borrowed items',
    icon_class: 'bi-book',
    count: dashboard.checkouts.count,
    view_all_label: 'View all borrowed items',
    view_all_path: checkouts_path) do |c| %>
    <% c.with_items do %>
      <ul class="borrowed-items list-unstyled mb-2">
        <% dashboard.borrowed_items_preview&.each do |checkout| %>
          <li id="<%= dom_id(checkout, :home) %>" class="border-bottom d-flex flex-column gap-1 py-1">
            <% if checkout.overdue? %>
              <span class="fw-semibold small text-cardinal"><i class="bi bi-exclamation-triangle text-cardinal me-1"></i>Overdue</span>
              <% if checkout.accruing? %>
                <span class="ms-3">Accruing <%= number_to_currency(checkout.overdue_fines_rate['quantity']) %>/<%= checkout.overdue_fines_rate['intervalId'] %> until returned
                </span>
              <% end %>
            <% else %>
              <div class="fw-semibold small text-cardinal">
                Due <%= format_relative_date_phrase(checkout.due_date) %>
              </div>
            <% end %>
            <div class="small">
              <%= checkout.title %>
            </div>
            <div class="d-flex flex-shrink-0 gap-2">
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>

  <%= render Home::ListView::SummaryCardComponent.new(
    title: 'Pickup requests',
    icon_class: 'bi-bag',
    count: dashboard.pickup_requests.count,
    view_all_label: 'View all pickup requests',
    view_all_path: folio_requests_path) do |c| %>
    <% c.with_status_content((dashboard.ready_for_pickup.any? ? "#{dashboard.ready_for_pickup.count} #{'item'.pluralize(dashboard.ready_for_pickup.count)} ready for pickup" : 'Recently requested')) %>
    <% c.with_items do %>
      <ul class="list-unstyled mb-2">
        <% dashboard.pickup_requests&.each do |request| %>
          <li id="<%= dom_id(request, :home) %>" class="border-top py-2 d-flex justify-content-between align-items-start gap-3">
            <% if request.expiration_date %>
              <div class="fw-semibold small">Available until <%= l(request.expiration_date, format: :date_only) %></div>
            <% end %>
            <div class="fw-semibold small">
              <%= request.title %>
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>

  <% delivery = dashboard.digitization_status %>
  <%= render Home::ListView::SummaryCardComponent.new(
    title: 'Digitization requests',
    icon_class: 'bi-printer',
    count: dashboard.digital_requests.count,
    view_all_label: 'View all digitization requests',
    view_all_path: aeon_requests_path(kind: 'submitted', filter: 'digitization')) do |c| %>
    <% c.with_status_content((delivery.count.positive? ? "#{delivery.count} #{delivery.label}" : delivery.label)) %>
    <% c.with_items do %>
      <ul class="list-unstyled mb-2">
        <% dashboard.digitization_preview_requests&.first(3)&.each do |request| %>
          <li class="border-top py-2 small">
            <%= request.title %><i class="bi bi-chevron-right"></i>
            <%= render Aeon::RequestItemIdentifierComponent.new(request:, classes:[]) %>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>

  <%= render Home::ListView::SummaryCardComponent.new(
        title: 'Reading room appointments',
        icon_class: 'bi-calendar',
        count: dashboard.appointments.count,
        pill_noun: 'appointments',
        view_all_label: 'View all reading room appointments',
        view_all_path: aeon_appointments_path) do |c| %>
    <% c.with_status_content('Coming soon') %>
    <% c.with_items do %>
      <ul class="list-unstyled mb-2">
        <% dashboard.upcoming_appointments&.each do |appointment| %>
          <%= render 'home/appointments/li', appointment: appointment %>
        <% end %>
      </ul>
    <% end %>
  <% end %>

  <%= render Home::ListView::SummaryCardComponent.new(
        title: 'Activities',
        icon_class: 'bi-person-video3',
        count: dashboard.upcoming_activities.count,
        view_all_label: 'View all activities',
        view_all_path: aeon_activities_path) do |c| %>
    <% c.with_status_content('Coming soon') %>
    <% c.with_items do %>
      <ul class="list-unstyled mb-2">
        <% dashboard.upcoming_activities&.each do |activity| %>
          <li class="border-top py-2">
            <div class="small"><%= render AppointmentTimeRangeComponent.new(appointment: activity, show_hours: true, location: activity.location, emphasize_date: true) %></div>
            <div class="small">
              <%= activity.activity_type %><i class="bi bi-dot"></i><%= activity.name %>
              <% item_count = activity.requests.count %>
              <%= render PillComponent.new(classes: %w[bg-stanford-20-black fw-light ms-3 py-0]).with_content("#{item_count} #{'item'.pluralize(item_count)}") %>
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>

  <%= render Home::ListView::SummaryCardComponent.new(
    title: 'Saved for later',
    icon_class: 'bi-pin-angle',
    count: dashboard.saved_for_later.count,
    view_all_label: 'View all saved items',
    view_all_path: aeon_requests_path(kind: 'saved_for_later')) do |c| %>
    <% c.with_status_content('Requests not complete') %>
    <% c.with_items do %>
      <ul class="list-unstyled mb-2">
        <% dashboard.saved_for_later&.first(3)&.each do |request| %>
          <li class="border-top py-2 small">
            <%= request.title %><i class="bi bi-chevron-right"></i>
            <%= render Aeon::RequestItemIdentifierComponent.new(request:, classes:[]) %>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
  </div>
</div>
