<div id="scan-or-deliver" data-scheduler-lookup-url='<%= paging_schedule_path(origin: current_request.origin) %>'>
  <div class="row">
    <div class="col-12 buttons">
      <%= link_to('Request & pickup', delegated_new_request_path(current_request), class: "btn btn-md btn-info #{'disabled' if current_request.searchworks_item.temporary_access?}", 'aria-describedby' => 'deliveryDescription') %>
    </div>
    <div id="deliveryDescription" class="col-12 content">
      <% if current_request.searchworks_item.temporary_access? %>
        <p>This item is available online via Hathi Trust ETAS. The physical copy is not available for Request & pickup.</p>
      <% else %>
        <p>Pickup by appointment at selected libraries.</p>
        <p>Available to faculty (including emeriti), staff, students, post-docs, fellows, and Stanford Visiting Scholars, with a current Stanford ID card.</p>
        <% if Settings.features.estimate_delivery %>
          <dl>
            <dt>Earliest delivery</dt>
            <dd data-single-library-value='<%= SULRequests::Application.config.default_pickup_library unless current_request.holdings_object.single_checked_out_item? %>'>
              <span data-scheduler-text='true' aria-live='polite'></span>
            </dd>
          </dl>
        <% else %>
          <p>No delivery esimate.</p>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="row scan-to-pdf">
    <div class="col-12 buttons">
      <%= link_to('Scan to PDF', new_scan_path(current_request, request_params), class: 'btn btn-md btn-info', 'aria-describedby' => 'scanDescription') %>
    </div>
    <div id="scanDescription" class="col-12 content">
      <p>Limited to one article or chapter; maximum 50 pages.</p>
      <p>Available to faculty, staff, students, post-docs, fellows, and Stanford Visiting Scholars.</p>
      <% if Settings.features.estimate_delivery %>
        <dl>
          <dt>Earliest delivery</dt>
          <dd data-single-library-value='<%= 'SCAN' unless current_request.holdings_object.single_checked_out_item? %>'>
            <span data-scheduler-text='true' aria-live='polite'></span>
          </dd>
        </dl>
      <% else %>
        <p>No delivery esimate.</p>
      <% end %>
    </div>
  </div>
</div>
