<%= render 'messages' %>
<% if [flash[:form_success], flash[:form_notice], flash[:form_warning], flash[:form_error]].any? %>
  <div class="flashes">
    <% if flash[:form_success] %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= flash[:form_success].html_safe %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
    <% if flash[:form_notice] %>
      <div class="alert alert-info alert-dismissible fade show" role="alert">
        <%= flash[:form_notice].html_safe %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
    <% if flash[:form_warning] %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= flash[:form_warning].html_safe %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
    <% if flash[:form_error] %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= flash[:form_error].html_safe %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
  </div>
<% end %>
