<div id="scan-or-deliver" data-scheduler-lookup-url='<%= paging_schedule_path(origin: current_request.origin) %>'>
  <div class="row">
    <div class="col-xs-12 col-sm-6 buttons">
      <%= link_to('<i class="sul-i-truck-1" aria-hidden="true"></i> Deliver to campus library'.html_safe, delegated_new_request_path(current_request), class: 'btn btn-md btn-primary', 'aria-describedby' => 'deliveryDescription') %>
    </div>
    <div class="col-xs-12 col-sm-6 content">
      <dl id="deliveryDescription">
        <dt>Earliest delivery</dt>
        <dd data-single-library-value='<%= SULRequests::Application.config.default_pickup_library unless current_request.holdings_object.single_checked_out_item? %>'>
          <span data-scheduler-text='true' aria-live='polite'></span>
        </dd>
      </dl>
    </div>
  </div>
  <div class="separator">
    <h2>Just need a chapter or article?</h2>
  </div>
  <div class="row scan-to-pdf">
    <div class="col-xs-12 col-sm-6 buttons">
      <%= link_to('Scan to PDF<span class="btn-sub-text">requires SUNet login</span>'.html_safe, new_scan_path(current_request, params.except(:controller, :action)), class: 'btn btn-md btn-default', 'aria-describedby' => 'scanDescription') %>
    </div>
    <div class="col-xs-12 col-sm-6 content">
      <dl id="scanDescription">
        <dt>Earliest delivery</dt>
        <dd data-single-library-value='<%= 'SCAN' unless current_request.holdings_object.single_checked_out_item? %>'>
          <span data-scheduler-text='true' aria-live='polite'></span>
        </dd>
        <dt>Copyright limit</dt>
        <dd>One article or chapter; maximum 50 pages.</dd>
        <dt class="service-description">Pilot service</dt>
        <dd class="service-description">Available to faculty and staff, students, fellows, postdocs, and visiting scholars.</dd>
      </dl>
    </div>
  </div>
</div>
