<% unless f.object.requestable_with_sunet_only?  %>
  <div id="no-sunetid-form" aria-hidden="false">
    <%= f.fields_for :user, (current_request.user unless current_request.user && current_request.user.webauth_user?) || User.new do |uf| %>
      <% if f.object.requestable_with_library_id? %>
        <div class="form-group <%= "has-error" if f.object.library_id_error? %>">
          <%= uf.label :library_id, 'Stanford Library ID', class: "control-label #{label_column_class} #{'required' unless f.object.requestable_with_name_email?}" %>
          <div class='<%= content_column_class %>'>
            <%= uf.text_field_without_bootstrap(
                  :library_id,
                  class: 'form-control',
                  minlength: (10 unless f.object.requestable_with_name_email?),
                  maxlength: 10,
                  'aria-describedby' => 'library-id-help',
                  data: { behavior: 'single-user-field' },
                  autocomplete: 'off'
                )
            %>
            <% if f.object.library_id_error? %>
              <div role="alert" id="library-id-help" class="alert alert-danger">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <%= f.object.errors[:library_id].join('. ') %>.<br/>
                A Stanford Library ID has 10 digits. On some University ID cards, it has a prefix of <span class="suid-prefix" aria-label="8 0 6 0 9">80609</span>.
              </div>
            <% else %>
              <p id="library-id-help" class="help-block">
                ID is a 10-digit number.
                <% if f.object.requestable_with_name_email? %>
                  It's optional, but may help you track your request in My Library Account.
                <% end %>
              </p>
            <% end %>
          </div>
        </div>
      <% end  %>
      <% if f.object.requestable_with_name_email? %>
        <%= uf.text_field(
              :name,
              label_class: 'required',
              data: { behavior: 'grouped-user-field' }
            )
        %>
        <%= uf.email_field(
              :email,
              label_class: 'required',
              data: { behavior: 'grouped-user-field' }
            )
        %>
      <% end %>
    <% end %>

    <div class='<%= content_column_class %> <%= label_column_offset_class %>'>
      <div class='button-wrapper'>
        <%= f.submit(
              'Send request',
              data: {
                disable_with: 'Send request',
                additional_user_validation: f.object.requires_additional_user_validation?
              },
              class: 'btn btn-md btn-primary btn-full'
            )
        %>
      </div>

      <div class='go-back-link'>
        <%= link_to '#sunet-id-form', data: { toggle: 'show', hide: '#no-sunetid-form', show: '#sunetid-form' } do %>
          <span aria-hidden="true">&lsaquo; </span>Go back (show the login option)
        <% end %>
      </div>
    </div>
  </div>
<% end %>
