<% unless f.object.requestable_with_sunet_only?  %>
  <div id="no-sunetid-form" aria-hidden="false">
    <%= f.fields_for :user, User.new do |uf| %>
      <% if f.object.requestable_with_library_id? %>
        <%= uf.text_field :library_id %>
      <% end  %>
      <% if f.object.requestable_by_all? %>
        <div class='form-group'>
          <div class='<%= "#{label_column_offset_class} #{content_column_class}" %>'>
            <h3>Don’t have a Library ID?</h3>
            <p>Just let us know your name and email.</p>
          </div>
        </div>
        <%= uf.text_field :name %>
        <%= uf.email_field :email %>
      <% end %>
    <% end %>

    <div class='<%= content_column_class %> <%= label_column_offset_class %>'>
      <%= f.submit 'Send request', class: "btn btn-md btn-primary btn-full" %>

      <div class='go-back-link'>
        <%= link_to '#sunet-id-form', data: { toggle: 'show', hide: '#no-sunetid-form', show: '#sunetid-form' } do %>
          <span aria-hidden="true">&lsaquo; </span>Go back (show the login option)
        <% end %>
      </div>
    </div>
  </div>
<% end %>
