








<div class='form-group'>
  <div class='control-label <%= label_column_class %>'>
    Earliest delivery
  </div>

  <% if Settings.features.estimate_delivery %>
    <div class="<%= content_column_class %> input-like-text" <%= "data-single-library-value='#{current_request.pickup_service_points.first}'".html_safe unless current_request.pickup_service_points.many? %>>
      <span data-text-object="<%= current_request.object_id %>" data-scheduler-text='true' aria-live='polite'></span>
      <%= f.hidden_field :estimated_delivery, data: { 'scheduler-field' => true } %>
    </div>
  <% else %>
    <div class="<%= content_column_class %> input-like-text">
      <strong>No estimate available</strong>
    </div>
  <% end %>
</div>
