<div id="sunetid-form" class='px-0 <%= content_column_class %> <%= label_column_offset_class %>'>
  <% if current_user.webauth_user? %>
    <h2>
      <%= render_user_information %>
    </h2>

    <%= send_request_via_login_button 'Send request' %>
  <% else %>
    <%= send_request_via_login_button %>
  <% end %>

  <%= render partial: 'no_sunet_option', locals: { f: f } %>
</div>
