<div class='<%= dialog_column_class %>'>
  <%= render 'header' %>
  <%= render 'form_flashes' %>

  <% if delegated_request? %>
    <%= render 'searchworks_item_information' %>
    <%= render 'form' %>
  <% else %>
    <%= render 'form_choice' %>
  <% end %>
</div>
