<div class='<%= dialog_column_class %>'>
  <%= render 'header' %>
  <%= render 'form_flashes' %>

  <% if delegated_request? %>
    <%= render 'searchworks_item_information' %>
    <%= render 'remote_user_check' if render_remote_user_check? %>
    <%= render 'eligibility_confirmation' if Settings.features.confirm_eligibility %>
    <%= render 'form' %>
  <% else %>
    <%= render 'form_choice' %>
  <% end %>
</div>
