<div class='<%= dialog_column_class %>'>
  <h1 id="dialogTitle">Share with your proxy group?</h1>

  <%= render 'form_flashes' %>
  <%= render 'searchworks_item_information' %>

  <div class="<%= "#{label_column_offset_class} #{content_column_class}" %>">
    <%= bootstrap_form_for(current_request) do |f| %>
      <%= hash_to_hidden_fields(request_params) %>

      <h2><%= render_user_information %></h2>
      <%= f.form_group help: 'Anyone in your group can check the status of this request and pick it up when it’s available.' do %>
        <%= f.button 'Yes, share with my group.', class: 'btn btn-md btn-default col-xs-12', value: 'true', name: 'request[proxy]' %>
      <% end %>

      <%= f.form_group help: 'Only you can see and pick up this request.' do %>
        <%= f.button 'No, just me.', class: 'btn btn-md btn-cardinal col-xs-12', value: 'false', name: 'request[proxy]' %>
      <% end %>
    <% end %>
  </div>
</div>