<% content_for :page_title do %>Request status: <%= current_request.item_title %><% end %>

<div class="<%= dialog_column_class %>">
  <%= render 'messages' %>

  <h1>Status of your request</h1>
  <hr />
  <dl class='dl-horizontal dl-invert'>
    <dt>Requested on</dt>
    <dd><%= time_tag current_request.created_at.to_date, :long %></dd>
    <dt>Status</dt>
    <% if current_request.via_borrow_direct? %>
      <dd>We're working on getting this item for you.</dd>
    <% else %>
      <%= request_approval_status %>
    <% end %>
  </dl>
  <hr />

  <%= render partial: 'searchworks_item_information' %>
  <%= render partial: 'shared/request_status_information' %>

  <% if can? :debug, current_request %>
    <hr />
    <% if current_request.via_borrow_direct? %>
      <% if current_request.reshare_vufind_response_data %>
        <h4>Vufind Response</h4>
        <pre class="card p-2"><%= JSON.pretty_generate(current_request.reshare_vufind_response_data || {}) %></pre>
      <% end %>
      <h4>Borrow Direct Response</h4>
      <pre class="card p-2"><%= JSON.pretty_generate(current_request.borrow_direct_response_data || {}) %></pre>
    <% else %>
      <h4>ILS Response</h4>
      <pre class="card p-2"><%= JSON.pretty_generate(current_request.ils_response_data || {}) %></pre>
    <% end %>
    <% if current_request.illiad_response_data.present? %>
      <h4>Illiad Response</h4>
      <pre class="card p-2"><%= JSON.pretty_generate(current_request.illiad_response_data) %></pre>
    <% end %>
  <% end %>
</div>
