<% content_for :page_title do %>Request status: <%= current_request.item_title %><% end %>
<div class="<%= dialog_column_class %>">
  <h1>Status of your request</h1>
  <hr />
  <dl class='dl-horizontal dl-invert'>
    <dt>Requested on</dt>
    <dd><%= time_tag current_request.created_at.to_date, :long %></dd>
    <dt>Status</dt>
    <% if current_request.via_borrow_direct? %>
      <dd>We're working on getting this item for you.</dd>
    <% else %>
      <%= request_approval_status %>
    <% end %>
  </dl>
  <hr />

  <%= render partial: 'searchworks_item_information' %>
  <%= render partial: 'shared/request_status_information' %>

  <% if can? :debug, current_request %>
    <hr />
    <% if current_request.via_borrow_direct? %>
      <h4>Borrow Direct Response</h4>
      <pre class="well"><%= JSON.pretty_generate(current_request.borrow_direct_response_data || {}) %></pre>
    <% else %>
      <h4>Symphony Request</h4>
      <pre class="well"><%= JSON.pretty_generate(current_request.symphony_request.request_params) %></pre>
      <h4>Symphony Response</h4>
      <pre class="well"><%= JSON.pretty_generate(current_request.symphony_response_data || {}) %></pre>
    <% end %>
  <% end %>
</div>
