<div class='<%= dialog_column_class %> success-page'>
  <%= render 'messages' %>

  <h1 id='dialogTitle'>We're working on it...</h1>
  <div class='alert alert-warning request-info'>
    <h2>Processing your request may take a few minutes.</h2>
    <% if current_request.notification_email_address.present? %>
      <p>
        <% if current_request.proxy? %>
          <%= t('.email_notification.proxy', email: current_request.notification_email_address).html_safe %>
        <% else %>
          <%= t('.email_notification.default', email: current_request.notification_email_address).html_safe %>
        <% end %>
      </p>
    <% end %>
  </div>

  <%= render 'searchworks_item_information' %>
  <%= render 'shared/request_status_information' %>
</div>
