<div class='<%= dialog_column_class %> success-page'>
  <h1 id='dialogTitle'>
    <span class="sul-i-check-2" aria-hidden="true"></span> We've received your request
  </h1>

  <div class='alert alert-info'>
    <% if current_request.notification_email_address.present? %>
      <% if current_request.user.to_email_string.present? %>
        <span class='requested-by'><%= current_request.user.to_email_string %></span>
      <% end %>
      <p>
        <% if current_request.proxy? %>
          <%= t('.email_notification.proxy') %>
        <% else %>
          <%= t('.email_notification.default') %>
        <% end %>
        (This may take a few minutes.)
      </p>
    <% end %>
    <p>You can <%= link_to('check the status of your request', status_page_url_for_request(current_request)) %> at any time.</p>
  </div>

  <%= render 'searchworks_item_information' %>
  <%= render 'shared/request_status_information' %>
</div>
