<div class='<%= dialog_column_class %> success-page'>
  <h1 id='dialogTitle'><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Request complete</h1>
  <%= render 'searchworks_item_information' %>
  <%= render 'shared/request_status_information' %>

  <dl class='dl-horizontal dl-invert'>
    <dt class='sr-only'><%= current_request.class.human_attribute_name :user %></dt>
    <% unless current_request.user.library_id_user? %>
      <dd>
        <span class="requested-by"><%= current_request.user.to_email_string %></span>
      </dd>
    <% end %>

    <% if current_request.proxy? %>
      <dd>
        <p>Shared with your proxy group</p>
        <p class='help-block'>(We've sent a copy of this request to your email and to the designated notification address.)</p>
      </dd>
    <% elsif current_user.sponsor? %>
      <dd>
        <p>Individual Request</p>
        <p class='help-block'>(We've sent a copy of this request to your email.)</p>
      </dd>
    <% end %>
  </dl>
</div>
