<%= bootstrap_form_for(@page, bootstrap_form_layout_options) do |f| %>
  <% unless @page.persisted? %>
    <%= render partial: 'hidden_form_fields', locals: { f: f } %>
  <% end %>

  <%= select_for_pickup_libraries(f).html_safe %>
  <%= f.date_field :needed_date, value: (f.object.needed_date || params[:needed_date]) %>

  <div class='form-group' data-no-sunet-target='true'>
    <div class='<%= content_column_class %> col-xs-offset-2'>
      <% if current_user.webauth_user? %>
        <%= render 'shared/webauth_not_you' %>
        <%= f.submit 'Send request', class: 'btn btn-cardinal col-xs-12' %>
      <% else %>
        <%= render partial: 'no_sunet_form', locals: { f: f } %>
        <%= send_request_via_login_button %>
        <p class='or-divider'>- or -</p>
        <%= link_to 'I don\'t have a SUNet ID', 'javascript:;', class: 'btn btn-beige col-xs-12', data: { no_sunet: true, target: '[data-no-sunet-target]', content_target: '[data-no-sunet-content]' } %>
      <% end %>
    </div>
  </div>
<% end %>
