<div class='<%= dialog_column_class %> success-page'>
  <h1 id='dialogTitle'><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Request complete</h1>
  <dl class='dl-horizontal'>
    <% if @page.commentable? && @page.data['comments'].present? %>
      <dt>Item(s) requested</dt>
      <dd><%= @page.data['comments'] %></dd>
    <% end %>

    <dt><%= label_for_pickup_libraries_dropdown(@page.library_location.pickup_libraries) %></dt>
    <dd><%= LibraryLocation.library_name_by_code(@page.destination) %></dd>

    <dt><span class='sr-only'>User</span></dt>
    <dd><%= @page.user.to_email_string %></dd>
  </dl>
</div>
