<h1 class="fw-semibold">Paging schedule</h1>
<% @paging_schedule.group_by(&:from).each do |from, schedules| %>
  <div>
    <h2 class="h5 text-cardinal text-uppercase"><%= from %></h2>
    <% schedules.each do |schedule| %>
      <div>
        When paging to <%= schedule.to %> <%= "before #{schedule.before}" if schedule.before %>
         <%= "after #{schedule.after}" if schedule.after %>
        the item will arrive after <%= schedule.will_arrive_text %> <%= pluralize(schedule.business_days_later, 'day') %> later
      </div>
    <% end %>
  </div>

<% end %>
