<%= render Home::FlatCardComponent.new do |c| %>
  <% c.with_title do %>
    <i class="bi <%= icon %> text-60-black fs-4"></i>
  <% end %>

  <% if next_up_date %>
    <% c.with_actions do %>
      <span class="text-digital-red-dark">Next up: <span class="fw-semibold"><%= next_up_date.strftime('%b %-d, %Y') %></span></span>
    <% end %>
  <% elsif status.present? %>
    <% c.with_actions do %>
      <%= status %>
    <% end %>
  <% end %>

  <% c.with_body(classes: %w[pt-1]) do %>
    <h2 class="mb-1"><%= title %></h2>
    <% if empty? %>
      <p class="mb-1"><%= empty_label %></p>
      <% if empty_path %>
        <%= render Home::ArrowLinkComponent.new(label: empty_link_label, path: empty_path) %>
      <% end %>
    <% else %>
      <p class="mb-1">
        <span class="fw-semibold"><%= count %></span> <%= item_label.pluralize(count) %><%= " #{item_label_suffix}" if item_label_suffix %>
        <% if secondary_count %>
          <i class="bi bi-dot"></i>
          <span class="fw-semibold"><%= secondary_count %></span> <%= secondary_label.pluralize(secondary_count) %><%= " #{secondary_label_suffix}" if secondary_label_suffix %>
        <% end %>
      </p>
      <%= render Home::ArrowLinkComponent.new(label: 'View details', path: path) %>
    <% end %>
  <% end %>
<% end %>
