<%= render CardComponent.new(element: 'li', data: ) do |c| %>
  <% c.with_title do %>
    <div class="d-flex flex-row gap-4 align-items-center">
      <%= render PillComponent.new(classes: %w[status bg-plum text-white text-nowrap]).with_content(fine.status_label) %>
      <% if checked_out? %>
        <span class="small ms-2">Payment cannot be processed until item is returned</span>
      <% end %>
    </div>
  <% end %>
  <% c.with_actions do %>
    <% if checked_out? %>
      <%= render Folio::CheckedOutActionsComponent.new(checkout: fine) %>
    <% else %>
      <%= render Folio::FineActionsComponent.new(fine:) %>
      <%= render Folio::FineStatusPillComponent.new(status: fine.status) if fine.closed? %>
    <% end %>
  <% end %>
  <% c.with_body(classes: 'bg-white') do %>
    <h3 class="mb-1 clamp clamp-3"><%= body_title %></h3>
    <% if fine.bib? %>
      <div class="d-flex flex-row gap-3">
        <div>Call number: <%= fine.call_number %></div>
        <%= detail_link_to_searchworks(fine.catkey) unless fine.from_ill? %>
      </div>
      <% if fine.library_name %>
        <div class="d-flex gap-3">
          <span class="visually-hidden">Library:</span><%= fine.library_name %>
          <%= link_to "mailto:#{fine.contact_info&.dig(:email)}", class: 'su-underline' do %>
            <i class="align-middle bi bi-envelope me-1"></i>Contact
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <% c.with_footer do %>
    <div class="rgi-footer fs-14 text-body-secondary d-flex gap-sm-3 flex-sm-row flex-column">
      <% if fine.barcode %><span>Barcode: <%= fine.barcode %></span><% end %>
      <% if fine.sort_date %><span>Date incurred: <%= l(fine.sort_date.to_date, format: :short) %></span><% end %>
    </div>
    <%= render Folio::ProxyIndicatorComponent.new(proxy: proxy_borrower) %>
  <% end %>
<% end %>
