<%= render CardComponent.new(element: 'li', id: dom_id(request), classes: 'request', data: { 'filter-value': type_label.downcase, 'default-sort-value': request.sort_key(:default), 'title-sort-value': request.sort_key(:title), 'date-sort-value': request.sort_key(:date) }) do |c| %>
  <% c.with_title do %>
    <div class="flex-grow-1">
      <div class="d-flex flex-wrap gap-1 justify-content-between align-items-center mt-2 mb-3">
        <%= render PillComponent.new(classes: %w[bg-lagunita-dark text-white]).with_content(type_label) %>
      </div>

      <div>
        <%= tag.h2 request.title || 'Not available', class: @title_classes %>
        <div class="d-flex column-gap-md-3 flex-md-row flex-column flex-wrap">
          <% if request.call_number.present? %>
            <span>Call number: <%= request.call_number %></span>
          <% end %>
        </div>
        <% if request.author %>
          <div class="mt-2">
            <%= request.author %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <% c.with_body do %>
    <div class="bg-white px-3 py-2 d-flex column-gap-4 row-gap-2 justify-content-between align-items-center flex-wrap flex-md-nowrap">
      <div class="d-flex justify-content-start gap-2">
        <span class="text-body-secondary small">Date added/modified: <span class="text-nowrap"><%= l(request.placed_date, format: :full) %></span></span>
      </div>

      <div class="d-flex flex-grow-1 column-gap-4 row-gap-2 justify-content-between align-items-center flex-wrap flex-md-nowrap">
        <div>
          <% if request.ready_for_pickup? %>
            <span class="text-green">
              <i class="bi bi-bag me-1" aria-hidden></i>Awaiting pick up at <span class="fw-semibold"><%= request.service_point_name %></span>
                <% if request.expiration_date %>
                  by <span class="fw-semibold"><%= l(request.expiration_date, format: :date_only) %></span>.
                <% end %>
            </span>
          <% else %>
            <span class="text-spirited-dark"><i class="bi bi-clock me-1" aria-hidden></i>Staff processing</span>
          <% end %>
        </div>

        <div class="d-flex text-nowrap align-items-baseline align-self-start justify-content-xl-end">
          <% if helpers.can? :destroy, request %>
            <button class="btn btn-link su-underline p-0 me-1" data-bs-toggle="modal" data-bs-target="#delete-<%= request.id %>">
              <i class="bi bi-trash align-middle"></i><span class="visually-hidden">Delete <%= request.title %> request</span>
            </button>
          <% end %>
          <% if patron.can_modify_requests? %>
            <div class="illiad-link">
              <a href="<%= request.manage_request_link %>">Manage this request in your ILL account</a>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<!-- Delete modal -->
<% if helpers.can? :destroy, request %>
  <%= render ModalComponent.new(id: "delete-#{request.id}") do |component| %>
    <% component.with_title.with_content('Delete request?') %>
    <% component.with_body do %>
      <div class="d-flex flex-column gap-3">
        <div class="text-lagunita-dark"><%= type_label %></div>
        <div class="d-flex flex-column gap-1">
          <div class="text-wrap fw-semibold"><%= request.title %></div>
          <% if request.call_number.present? %>
            <div>Call number: <%= request.call_number %></div>
          <% end %>
        </div>
        <%= render AlertComponent.new(type: :info, classes: ['border-0', 'shadow-none', 'mb-0'], with_icon: false) do %>
          <span class="fw-semibold text-wrap">This action cannot be undone.</span>
        <% end %>
      </div>
    <% end %>
    <% component.with_footer do %>
      <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">No</button>
      <%= form_with url: ill_request_path(request.id), method: 'delete' do %>
        <%= hidden_field_tag 'model', "delete-#{request.id}" %>
        <button type="submit" class="btn btn-primary">Yes - Delete</button>
      <% end %>
    <% end %>
  <% end %>
<% end %>
