<tr data-sortby-status="<%= item.status_text.downcase.gsub(' ', '_') %>" data-sortby-callnumber="<%= index %>" >
  <td>
    <label>
      <%= f.check_box 'barcodes', { multiple: true, class: 'form-check-input', disabled: not_requestable?, data: { 'item-selector-target': 'item', 'item-selector-id-param': item.id, 'item-selector-status-param': item.available? ? 'available' : 'unavailable', 'item-selector-duequeueinfo-param': helpers.queue_length_display(item), 'item-selector-label-param': helpers.callnumber_label(item), action: 'item-selector#change' } }, item.barcode || item.id, "" %>
      <% if f.object.aeon_page? %>
        <%= tag.div class: 'd-none', data: { 'content-id': item.id, 'toggle-disabled': true } do %>
          <%= f.hidden_field "aeon_callnumber_#{item.callnumber}", disabled: true, name: "CallNumber_#{index}", value: item.callnumber, data: { toggle: true } %>
          <%= f.hidden_field "aeon_barcode_#{item.barcode}", disabled: true, name: "ItemNumber_#{index}", value: item.barcode, data: { toggle: true } %>
          <%= f.hidden_field "aeon_request_#{index}", disabled: true, name: 'Request', value: index, data: { toggle: true } %>
        <% end %>
      <% end %>
      <span class="form-check-label ms-1"><%= item&.bound_with_child_holdings_record&.call_number || helpers.callnumber_label(item) %></span>
    </label>
    <% if item.public_note %>
      <span class="text-cardinal d-block ms-4 mt-1">
        <%= item.public_note %>
      </span>
    <% end %>

    <% if item.bound_with_holdings_per_item.any? %>
      <span class="d-block mt-2 ms-4 py-2 bg-light">
        <span class="ms-3 text-cardinal">Bound with</span>

        <ul class="list-group list-group-flush">
          <% item.bound_with_holdings_per_item.each do |bound_with_child| %>
            <li class="list-group-item bg-light">
              <span class="d-block"><%= bound_with_child.instance.title %></span>
              <span class="d-block"><%= bound_with_child.call_number %></span>
            </li>
          <% end %>
        </ul>
      </span>
    <% end %>

    <% if item.instance&.hrid %>
      <span class="d-block ms-4 mt-2 px-3 py-2 bg-light">
        <span class="text-cardinal">Bound with and shelved with</span>
        <span class="d-block"><%= item.instance.title %></span>
        <span class="d-block"><%= helpers.callnumber_label(item) %></span>
      </span>
    <% end %>
  </td>
  <td class="text-end">
    <%= item_label %>
  </td>
</tr>
