<%= render CardComponent.new(element: 'li', id: dom_id(request), classes: 'request', data: { 'filter-value': 'pickup', 'default-sort-value': request.sort_key(:default), 'title-sort-value': request.sort_key(:title), 'date-sort-value': request.sort_key(:date)}) do |c| %>
  <% c.with_title do %>
    <div class="flex-grow-1">
      <div class="d-flex flex-wrap gap-1 justify-content-between align-items-center mt-2 mb-3">
        <%= render PillComponent.new(classes: %w[bg-lagunita-dark text-white]).with_content('Pickup') %>
      </div>

      <div>
        <%= tag.h2 request.title || 'Not available', class: @title_classes %>
        <div class="d-flex column-gap-md-3 flex-md-row flex-column flex-wrap">
          <%= render FormatIndicatorComponent.new(record: request) %>
          <% if request.full_call_number.present? %>
            <span>Call number: <%= request.full_call_number %></span>
          <% end %>
          <span>
            <%= detail_link_to_searchworks(request.catkey) %>
          </span>
        </div>
        <% if request.author %>
          <div class="mt-2">
            <%= request.author %>
          </div>
        <% end %>
      </div>
    </div>
    <div>
      <%= cover_image %>
    </div>
  <% end %>

  <% c.with_body do %>
    <div class="bg-white px-3 py-2 d-flex column-gap-4 row-gap-2 justify-content-between align-items-start flex-wrap flex-md-nowrap">
      <div class="d-flex justify-content-start gap-2">
        <span class="text-body-secondary small">Date added/modified: <span class="text-nowrap"><%= l(request.placed_date, format: :full) %></span></span>
      </div>

      <div class="d-flex flex-grow-1 column-gap-4 row-gap-2 justify-content-between align-items-start flex-wrap flex-md-nowrap">
        <div>
          <% if request.ready_for_pickup? %>
            <span class="text-green">
              <i class="bi bi-bag me-1" aria-hidden></i>Awaiting pick up at <span class="fw-semibold"><%= request.service_point_name %></span>
                <% if request.expiration_date %>
                  by <span class="fw-semibold"><%= l(request.expiration_date, format: :date_only) %></span>.
                <% end %>
            </span>
          <% else %>
            <span class="text-spirited-dark"><i class="bi bi-clock me-1" aria-hidden></i>Staff processing</span>
          <% end %>

        <% if request.proxy_request? %>
          <div class="py-2">
            <%= render Folio::ProxyIndicatorComponent.new(proxy: proxy_borrower, verb: 'Requested') %>
          </div>
        <% end %>
        </div>

        <div class="d-flex text-nowrap align-items-baseline align-self-start justify-content-xl-end">
          <% if patron.can_modify_requests? %>
            <% if request.ready_for_pickup? %>
              <%= form_tag folio_request_path(request.key), method: :delete do %>
                <%= hidden_field_tag :title, request.title %>
                <%= button_tag class: 'btn btn-link su-underline p-0', type: 'submit' do %>
                  <i class="bi bi-trash align-middle" aria-hidden></i><span class="visually-hidden">Cancel request</span>
                <% end %>
              <% end %>
            <% else %>
              <%= link_to edit_folio_request_path(request.key), class: 'btn btn-link su-underline p-0' do %>
                <i class="bi bi-pencil-fill me-1 align-middle" aria-hidden></i><span class="visually-hidden">Edit request</span>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
