<%= form_with url: '#',  data: { controller: 'itemselector', turbo: false } do |f| %>
  <h2>Item Selection </h2>
  <table>
    <tbody>
      <tr>
        <td>
          <label>
            <%= f.check_box 'barcodes', { multiple: true, class: 'form-check-input', disabled: false, data: { 'itemselector-target': 'item', 'itemselector-id-param': 'uuid-1', 'itemselector-status-param': 'unavailable',  'itemselector-label-param': 'Label 1', action: 'itemselector#change' } }, 'ABC 1', "" %>
            Label 1
          </label>
        </td>
      </tr>
      <tr>
        <td>
          <label>
            <%= f.check_box 'barcodes', { multiple: true, class: 'form-check-input', disabled: false, data: { 'itemselector-target': 'item', 'itemselector-id-param': 'uuid-2', 'itemselector-status-param': 'available',  'itemselector-label-param': 'Label 2', action: 'itemselector#change' } }, 'ABC 2', "" %>
            Label 2
          </label>
        </td>
      </tr>
      <tr>
        <td>
          <label>
            <%= f.check_box 'barcodes', { multiple: true, class: 'form-check-input', disabled: false, data: { 'itemselector-target': 'item', 'itemselector-id-param': 'uuid-3', 'itemselector-status-param': 'available',  'itemselector-label-param': 'Label 3', action: 'itemselector#change' } }, 'ABC 3', "" %>
            Label 3
          </label>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true" data-itemselector-target="toast">
      <div class="d-flex">
        <div class="toast-body">You successfully removed an item.</div>
        <button type="button" class="btn btn-text text-uppercase" data-action="itemselector#undo">Undo</button>
        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
  </div>
  <br>
  <div>
    <div class="selected-items-container">
      <h2>Selections Template Available</h2>
      <div data-itemselector-target="selectedItems" data-template="#selectedItemsTemplate" data-status-filter="available">
      </div>
    </div>
    <div class="selected-items-container">
      <h2>Selections Template Unavailable</h2>
      <%= f.text_area 'text', { required: true } %>
      <div data-itemselector-target="selectedItems" data-template="#selectedItemsTemplate" data-status-filter="unavailable">
      </div>
    </div>
    <template id="selectedItemsTemplate">
      <li class="d-flex gap-2 w-100 align-items-baseline" data-content-id="__ID__">
        <span class="itemselector-callnumber-pill bg-light rounded-pill border">
          <span class="callnumber">
            __LABEL__
          </span>
          <button data-action="itemselector#remove" data-itemselector-id-param="__ID__" type="button" class="btn-close py-0 pill-close" aria-label="Remove __LABEL__"></button>
        </span>
      </li>
    </template>
  </div>
<% end %>
