<div class="page-section">
  <h2>Policies &amp; information</h2>
  <ul class="list-unstyled">
    <li class="pb-1">
      <%= link_to 'https://library.stanford.edu/services/borrow-and-request', target: '_blank' do %>
        <%= render Icons::OpenInNewComponent.new %> Borrowing and renewals
      <% end %>
    </li>
    <li class="pb-1">
      <%= link_to 'https://library.stanford.edu/proxy-borrowing', target: '_blank' do %>
        <%= render Icons::OpenInNewComponent.new %> Proxy borrowing
      <% end %>
    </li>
    <li>
      <%= link_to 'https://library.stanford.edu/interlibrary-loan', target: '_blank' do %>
        <%= render Icons::OpenInNewComponent.new %> About Interlibrary loan and BorrowDirect
      <% end %>
    </li>
  </ul>
</div>
