<% if @checkouts.any? %>
  <div id="checkouts" class="page-section" data-controller="sortable google-cover-image" data-sortable-sort-value="dueDate">
    <div class="d-flex justify-content-between">
      <h1>Borrowed (checked out) items</h1>
      <div class="d-flex gap-2 align-items-center">
        <%= render SortableDropdownComponent.new(button_label: 'due date') do |component| %>
          <% component.with_list_item(label: 'due date', field: 'dueDate') %>
          <% component.with_list_item(label: 'status', field: 'status') %>
          <% component.with_list_item(label: 'title', field: 'title') %>
          <% component.with_list_item(label: 'author name', field: 'author') %>
          <% component.with_list_item(label: 'call number', field: 'callNumber') %>
        <% end %>
        <%= render 'checkouts/renew_all_button' %>
      </div>
    </div>

    <ul class="checkouts p-0" data-sortable-target="list" aria-live="polite">
      <%= render Folio::CheckoutComponent.with_collection(@checkouts, patron: patron_or_group) %>
    </ul>
  </div>
<% else %>
  <div id="checkouts" class="page-section">
    <h1>Borrowed (checked out) items</h1>
    <h2>Checked out: <%= @checkouts.length %><%= " (#{patron_or_group.remaining_checkouts} remaining)" if patron_or_group.remaining_checkouts %></h2>
  </div>
<% end %>
