<% @responses.select(&:success?).each do |response| %>
  <%= turbo_stream.replace(dom_id(response.checkout)) do %>
    <%= render Folio::CheckoutComponent.new(checkout: response.updated_checkout, patron: patron_or_group) %>
  <% end %>
<% end %>

<%= turbo_stream.prepend('main') do %>
  <% success = I18n.t('mylibrary.renew_all_items.success_html', count: @responses.select(&:success?).length).html_safe if @responses.select(&:success?).any? %>
  <% error_list = capture do %>
  <ul>
    <% @responses.reject(&:success?).each do |r| %>
      <li><%= r.checkout.title.truncate_words(7) %></li>
    <% end %>
  </ul>
  <% end %>
  <% error = I18n.t('mylibrary.renew_all_items.error_html', count: @responses.reject(&:success?).length, items: error_list).html_safe if @responses.reject(&:success?).any? %>
  <%= render 'shared/flashes', flash: { success: success, error: error} %>
<% end %>
