<%= render CardComponent.new(classes: %w[shadow-none border-0 rounded-1], header_classes: %w[border-0], margin_class: nil) do |c| %>
  <% c.with_title do %>
    <div class="d-flex align-items-center">
      <i class="bi <%= icon %> text-60-black fs-4 me-3"></i>
      <h2 class="mb-0"><%= title %></h2>
    </div>
  <% end %>

  <% c.with_actions do %>
    <span class="d-flex align-items-center gap-3">
      <span><span class="fw-semibold"><%= number_to_currency(balance) %></span> balance</span>
      <%= render Home::PayNowFormComponent.new(fines: fines, balance: balance, patron_key: patron_key, button_class: 'btn btn-xs btn-secondary') %>
    </span>
  <% end %>

  <% c.with_footer(classes: %w[border-0 bg-transparent]) do %>
    <%= render Home::ArrowLinkComponent.new(label: 'View details', path: path) %>
  <% end %>
<% end %>
