<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Pickup Keys</title>
	</head>
	<body>
		<%= render :partial => 'header' %> 
		<h1>Pickup Library Keys</h1>
		
		Listed below are "keys" based on data used in Symphony records to identify 
		various classses of request items. For the most part these keys come from three places:
		<ol>
			<li>Library codes for libraries that allow pickups only at their own location, e.g., HOOVER and 
			LAW </li>
			<li>Strings that come at the end of  "SAL3-TO-XXX" requests, e.g., "BR" from "SAL3-TO-BR" 
			requests</li>
			<li>Strings that come at the the end of items with "PAGE-XXX" locations for SAL3 items, e.g.,
			"BI" for "PAGE-BI" items.</li>			
		</ol>
		These keys can be used as to assign one or more pickup libraries to these different classes
		of items. Use the "Edit / Assign Libraries" link to change the key,
		its description, or the libraries assigned to it.
<p></p>
<table>
  <tr>
    <th>Pickup Key</th>
	<th>Description</th>
	<th>Libraries</th>
  </tr>

<% for pickupkey in @pickupkeys %>
  <tr>
    <td valign="top"><%=h pickupkey.pickup_key %></td>
    <td valign="top"><%=h pickupkey.pickup_descrip %></td>
	
	
	
	<td><%=h get_lib_codes_for_pickupkeys( pickupkey.libraries ) %></td>
	
		

	
    <td nowrap><%= button_to 'Edit / Assign Libraries',{:action => 'edit', :id => pickupkey.id }, :method => :get %></td>
    <td nowrap><%= button_to 'Delete', { :action => 'destroy', :id => pickupkey.id }, :confirm => 'Are you sure you want to delete this item?', 
         :method => :delete %></td>
   </tr>
<% end %>
</table>


	</body>
</html>
