<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Pickup library key: <%= @pickupkey.pickup_key%></title>
		<%= javascript_include_tag :defaults %>
	</head>
	<body>
	<%= render :partial => 'header' %>	
	<h1>Pickup Libraries for key:  <%= @pickupkey.pickup_key %> - <%= @pickupkey.pickup_descrip %></h1>

Listed below are available pickup libraries. Those marked with a check are currently assigned to 
pickup library key <strong><%= @pickupkey.pickup_key %></strong>. Use the checkboxes to select or unselect libraries assigned to this
pickup library key. Your selections are saved immediately.
<table>
  <tr>
    <th>Select</th>
    <th>Library Code</th>
  </tr>

<% @pickupkey.available_libraries.each do |l| %>
	<tr>
	    <td><%=check_box_tag l.id, 1, @pickupkey.chosen?(l), 
		:onclick => remote_function(
		:url => save_admin_pickupkey_path(@pickupkey), 
	    :with => "'library=#{l.id}&amp;show=' + this.checked", 
		:method => :post ) %>
		</td>	
		<td><%=h l.lib_code %></td>
		<td><%=h l.lib_descrip %></td>
	</tr>
<% end %>
</table>


		
	</body>
</html>
