<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>@pickupkey.pickup_key</title>
	</head>
	<body>
		<%= render :partial => 'header' %>
		<h1><%= @pickupkey.pickup_key %></h1>
<p><strong>ID: </strong> <%= @pickupkey.id %><br />
<strong>Pickup Library Key:</strong> <%= @pickupkey.pickup_key %><br />
<strong>Description:</strong> <%= @pickupkey.pickup_descrip %><br />

</p>

<hr />
<%= link_to 'Back', {:action => 'index'} %>
    <%= render 'shared/mouseflow' %>
	</body>
</html>
