<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Edit Pickup Key </title>
	</head>
	<body>
		<%= render :partial => 'header' %> 
		<h1>Pickup Key Edit Form</h1>
		<% unless flash[:notice].blank?%>
			<div id="notification"><%= flash[:notice] %></div>
		<% end %>
		<%= error_messages_for 'pickupkey' %>
		
		The first section on this form defines a pickup library key. 
		The second section lets you choose pickup libraries for 
		that key. 
		<p></p>
		<% form_for ( @pickupkey ) do |f| %>
						
		<table>
			<tr>
				<td nowrap valign="top" align="right">Pickup Key:</td>
			 	<td valign="top" colspan=3><%= f.text_field :pickup_key %></td>
			 <tr>
			 <tr>
				<td nowrap valign="top" align="right">Description:</td>
				 <td valign="top" colspan=3><%= f.text_field :pickup_descrip %></td>
			</tr>
			<!--
			These are separate from the form and are updated dynamically
			using AJAX 
			-->
			<%= render :partial => 'show_libraries', :locals => {:pickupkey => @pickupkey }%>
 			 
			 <tr>		
				<td colspan=4><%= f.submit 'Save'  %></td>
			</tr>

			 </table>
			 
			
		<% end %>				 
	</body>
</html>
