<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Pickup Keys</title>
	</head>
	<body>
		<%= render :partial => 'header' %> 
		<h1>Pickup Library Keys</h1>
		
		Listed below are "keys" that are based on various data used in Symphony records to identify 
		request items that can be picked up only at certain libraries. For example, an item paged from
		SAL3 for Branner has the request type "SAL3-TO-BR". In this case, "BR" can be used as a key to 
		identify this class of items and assign one or more pickup libraries to it. Use the "View Pickup
		Libraries" link to view or change the current assignments. Use the "Edit" link to change the key or
		its description. 

<table>
  <tr>
    <th>Pickup Key</th>
	<th>Description</th>
  </tr>

<% for pickupkey in @pickupkeys %>
  <tr>
    <td><%=h pickupkey.pickup_key %></td>
    <td><%=h pickupkey.pickup_descrip %></td>
    <td><%= link_to 'Edit', edit_pickupkey_path(pickupkey) %></td>
    <td><%= link_to 'Delete', pickupkey, :confirm => 'Are you sure you want to delete this item?', 
         :method => :delete %></td>
    <td><%= link_to 'View Pickup Libraries', show_libraries_pickupkey_path(pickupkey) %></td>
  </tr>
<% end %>
</table>


	</body>
</html>
