<%= render CardComponent.new do |c| %>
  <% c.with_title do %>
    <div class="d-flex flex-wrap gap-2 align-items-center">
      <div class="small fw-medium rounded-pill text-white bg-bay-dark p-2">
        <%= activity.activity_type %>
      </div>
      <div class="d-flex flex-column">
        <h2 class="h4 text-bay-dark mb-0 card-title mb-0 h4 d-flex gap-3"><%= activity.name %></h2>
        <% if activity.start_time %>
          <div class="mt-1">
            <%= render Aeon::AppointmentDateTimeComponent.new(appointment: activity, location: activity.location) %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <% c.with_body do %>
      <% request_groups = Aeon::RequestGrouping.from_requests(activity.requests) %>
      <%= render Aeon::RequestGroupPerAppointmentComponent.with_collection(request_groups) %>

      <% if request_groups.none? %>
        <div role="alert" class="zero-items-alert align-items-center text-digital-red bg-body py-3 px-4">
          <div role="img" aria-label="Danger icon" class="bi bi-exclamation-triangle-fill fs-3 me-3 align-self-center d-flex justify-content-center ms-2"></div>
          <div class="me-2">
            No items have been requested for this activity.
          </div>
        </div>
      <% end %>
  <% end %>
<% end %>
