<div class="card border-light">
  <div class="card-header border-light d-flex justify-content-start gap-3">
    <h3 class="text-green card-title mb-0"><%= appointment_time_range %></h3>
    <%= link_to aeon_appointment_path(appointment.id), data: { turbo_method: :delete }, aria: { label: 'Delete'} do %>
      <i class="bi bi-trash"></i>
    <% end %>
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <% appointment.requests.each do |request| %>
        <li class="list-group-item">
          <h4><%= request.title %></h4>
          <div class="d-flex flex-row align-items-center">
            <div class="me-4">Call number: <%= request.call_number %></div>

          <% if request.volume %>
            <span class="p-1 px-2 bg-stanford-10-black fw-semibold">
              <%= request.volume %>
            </span>
          <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
