<div data-controller="selected-item-form" data-action="input->selected-item-form#updateStatus" class="bg-light border rounded mb-2 p-2 d-flex gap-4 text-nowrap align-items-center" data-content-id="<%= dom_id %>" data-fields-base-name="<%= base_name %>">
  <div class="d-flex align-items-center">
    <i class="fs-4 bi bi-circle me-2" data-selected-item-form-target="status"></i>
    <span class="text-black fw-semibold"><%= title %></span>
    <button class="btn btn-link p-0 ps-1" data-action="archives-request#deleteItem" data-delete-id="<%= dom_id %>" aria-label="Delete <%= title %>">
      <i class="bi bi-trash"></i>
    </button>
  </div>
  <select name="<%= base_name %>[appointment_id]" class="form-select" aria-label="Select an appointment" required>
  <option disabled selected></option>
  <% appointments.each do | appointment | %>
    <option value="<%= appointment.id %>">
      <%= appointment.start_time.strftime('%b %d, %Y') %> â— <%= appointment.start_time.strftime('%l:%M %p -') %><%= appointment.stop_time.strftime('%l:%M %p') %>
      (<%= pluralize(appointment.requests.length, "item") %>)
    </option>
  <% end %>
</select>
</div>
