<%= render CardComponent.new id: dom_id(appointment), data: { 'appointments-list-target': 'appointment' } do |c| %>
  <% c.with_title do %>
    <h2 class="card-title mb-0 h4 d-flex flex-wrap gap-3">
      <%= render Aeon::AppointmentDateTimeComponent.new(appointment: appointment, location: appointment.reading_room.name) %>
    </h2>
  <% end %>

  <% c.with_actions do %>
    <%= render Aeon::EditAppointmentButtonComponent.new(appointment: appointment) %>
    <%= render Aeon::DeleteAppointmentButtonComponent.new(appointment: appointment) %>
  <% end %>

  <% c.with_body do %>
      <%= render Aeon::RequestGroupPerAppointmentComponent.with_collection(appointment.grouped_requests) %>

      <% if appointment.grouped_requests.none? %>
        <div role="alert" class="d-flex  zero-items-alert align-items-center text-digital-red bg-body py-3 px-4">
          <div role="img" aria-label="Danger icon" class="bi bi-exclamation-triangle-fill fs-3 me-3 align-self-center d-flex justify-content-center ms-2"></div>
          <div class="me-2">
            No items have been requested for this appointment. It will be cancelled <%= @appointment.edit_policy %> days before your scheduled visit date if no requests are submitted.
          </div>
        </div>
      <% end %>
  <% end %>

  <% c.with_footer do %>
    <%= render Aeon::AppointmentLimitComponent.from_appointment(appointment) %>
    <%= link_to "Add items", items_path, class: 'btn btn-outline-primary btn-sm add-items-button', data: { action: 'modal#open', modal_header: 'Add items', disabled: (true if eligible_saved_for_later_requests.none?), reading_room_id: reading_room_id } if add_item_allowed? %>
  <% end %>

<% end %>
