<div class="card border-light mb-4">
  <div class="card-header d-flex border-light d-flex justify-content-between align-items-center bg-white">
    <h2 class="card-title mb-0 h4 d-flex gap-3">
      <span><i class="bi bi-calendar me-2"></i><%= appointment_date %></span>
      <span><i class="bi bi-clock me-2"></i><%= appointment_time_range %></span>
      <span><i class="bi bi-geo-alt-fill me-2"></i><%= appointment.reading_room.name %></span>
    </h2>
    <div>
      <%= link_to edit_aeon_appointment_path(appointment.id), class: 'text-decoration-none', data: { action: 'modal#open' } do %>
        <i class="bi bi-pencil-fill me-1"></i><span class="visually-hidden">Edit appointment</span>
      <% end %>
      <% if helpers.can? :destroy, appointment %>
        <button class="btn btn-link su-underline p-0" data-bs-toggle="modal" data-bs-target="#delete-appointment-<%= @appointment.id %>">
          <i class="bi bi-trash align-middle"></i><span class="visually-hidden">Delete appointment</span>
        </button>
      <% end %>
    </div>
  </div>
  <div class="card-body">
    <% if appointment.requests.present? %>
      <ul class="list-group list-group-flush">
        <% appointment.requests.each do |request| %>
          <li class="list-group-item">
            <h3 class="h4">
              <%= request.title %>
              <% if request.draft? %>
                <span class="text-warning ms-2"><i class="bi bi-exclamation-triangle me-1"></i>Draft</span>
              <% end %>
            </h3>
            <div class="d-flex flex-row align-items-center">
              <div class="me-4">Call number: <%= request.call_number %></div>

            <% if request.volume %>
              <span class="p-1 px-2 bg-stanford-10-black fw-semibold">
                <%= request.volume %>
              </span>
            <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    <% else %>
      <div role="alert" class="d-flex align-items-center text-digital-red">
        <div role="img" aria-label="Danger icon" class="bi bi-exclamation-triangle-fill fs-3 me-3 align-self-center d-flex justify-content-center"></div>
        <div>
          No items have been requested for this appointment. It will be cancelled <%= @appointment.edit_policy %> days before your scheduled visit date if no requests are submitted.
        </div>
      </div>
    <% end %>
  </div>
  <div class="card-footer border-light bg-white">
    <%= render Aeon::AppointmentLimitComponent.from_appointment(appointment) %>
  </div>
  <!-- Delete modal -->
  <%= render ModalComponent.new(id: "delete-appointment-#{appointment.id}",
                                cancel_text: 'No',
                                submit_text: 'Yes - Delete') do |component| %>
    <% component.with_title.with_content('Cancel appointment?') %>
    <% component.with_body do %>
      <%= form_with url: aeon_appointment_path(appointment.id), id: "form-delete-appointment-#{appointment.id}", method: 'delete' do %>
        <div class="fw-semibold"><i class="bi bi-calendar me-2"></i><%= appointment_date %><i class="bi bi-clock mx-2"></i><%= appointment_time_range %></div>
        <div class="mt-1 fw-semibold"><i class="bi bi-geo-alt-fill me-1"></i><%= appointment.reading_room.name %></div>
        <% if appointment.requests.any? %>
          <p class="mb-0">
            <%= pluralize(appointment.requests.length, 'requested item') %> are assigned to this appointment. If you cancel or delete the appointment, the items will not be deleted.
            Instead, they will be moved to <strong>Draft requests</strong>.
          </p>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
