<%= render ModalComponent.new(id: id) do |component| %>
  <% component.with_title.with_content('Cancel appointment?') %>
  <% component.with_body(classes: []) do %>
    <%= form_with url: aeon_appointment_path(appointment.id), method: 'delete' do |f| %>
      <%= hidden_field_tag :modal, id %>

      <div class="modal-body">
        <div class="fw-semibold d-inline-flex gap-2">
          <%= render Aeon::AppointmentDateTimeComponent.new(appointment: appointment, show_open_hours: false) %>
        </div>
        <div class="mt-1 fw-semibold"><i class="bi bi-geo-alt-fill me-1"></i><%= appointment.reading_room.name %></div>
        <% if appointment.requests.any? %>
          <%= render AlertComponent.new(type: :info, classes: ['mb-0', 'mt-3', 'border-0', 'shadow-none'], with_icon: false) do %>
            <strong><%= pluralize(appointment.requests.length, 'item') %></strong> <%= 'is'.pluralize(appointment.requests.length) %> assigned to this appointment.
            <div class="d-flex gap-1">
              <%= f.radio_button :cancel_items, false, id: dom_id(appointment, :cancel_items_false) %>
              <%= f.label dom_id(appointment, :cancel_items_false), 'Save items and schedule later' %>
            </div>
            <div class="d-flex gap-1">
              <%= f.radio_button :cancel_items, true, id: dom_id(appointment, :cancel_items_true) %>
              <%= f.label dom_id(appointment, :cancel_items_true), 'Delete requested items' %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">No</button>
        <%= f.submit('Yes, cancel appointment', class: 'btn btn-primary') %>
      </div>
    <% end %>
  <% end %>
<% end %>
