<% if appointment.start_time %>
  <span><i class="bi bi-calendar <%= icon_class %>"></i><%= l(appointment.start_time, format: :date_only) %></span>
  <% if time_range_label %>
    <span><i class="bi bi-clock <%= icon_class %>"></i><%= time_range_label %></span>
  <% end %>
<% end %>
<% if @location.present? %>
  <span><i class="bi bi-geo-alt-fill <%= icon_class %>"></i><%= @location %></span>
<% end %>
