<%= render CardComponent.new id: dom_id(appointment) do |c| %>
  <% c.with_title do %>
    <h2 class="card-title mb-0 h4 d-flex gap-3">
      <%= render Aeon::AppointmentDateTimeComponent.new(appointment: appointment) %>
      <span><i class="bi bi-geo-alt-fill me-1"></i><%= appointment.reading_room.name %></span>
    </h2>
  <% end %>

  <% c.with_actions do %>
    <%= link_to edit_aeon_appointment_path(appointment.id), class: 'text-decoration-none', data: { action: 'modal#open' } do %>
      <i class="bi bi-pencil-fill"></i><span class="visually-hidden">Edit appointment</span>
    <% end %>
    <% if helpers.can? :destroy, appointment %>
      <button class="btn btn-link su-underline p-0" data-bs-toggle="modal" data-bs-target="#delete-appointment-<%= @appointment.id %>">
        <i class="bi bi-trash align-middle"></i><span class="visually-hidden">Delete appointment</span>
      </button>
    <% end %>
  <% end %>

  <% c.with_body do %>
      <% request_groups = Aeon::RequestGrouping.from_requests(appointment.requests) %>
      <%= render Aeon::RequestGroupPerAppointmentComponent.with_collection(request_groups) %>

      <div role="alert" class="zero-items-alert align-items-center text-digital-red bg-body py-3 px-4">
        <div role="img" aria-label="Danger icon" class="bi bi-exclamation-triangle-fill fs-3 me-3 align-self-center d-flex justify-content-center ms-2"></div>
        <div class="me-2">
          No items have been requested for this appointment. It will be cancelled <%= @appointment.edit_policy %> days before your scheduled visit date if no requests are submitted.
        </div>
      </div>
  <% end %>

  <% c.with_footer do %>
    <%= render Aeon::AppointmentLimitComponent.from_appointment(appointment) %>
    <%= link_to "Add items", items_path, class: 'btn btn-outline-primary btn-sm', data: { action: 'modal#open' } unless add_item_disabled? %>
  <% end %>

  <% c.with_post do %>
    <!-- Delete modal -->
    <%= render Aeon::CancelAppointmentModalComponent.new(appointment: appointment, id: "delete-appointment-#{@appointment.id}") %>
  <% end %>
<% end %>
