<div class="card mb-4">
  <div class="card-header d-flex justify-content-between align-items-center bg-white">
    <h2 class="card-title mb-0 h4 d-flex gap-3">
      <span><i class="bi bi-calendar me-2"></i><%= appointment_date %></span>
      <%= time_range_html(margin: 'me-2') %>
      <span><i class="bi bi-geo-alt-fill me-2"></i><%= appointment.reading_room.name %></span>
    </h2>
    <div>
      <%= link_to edit_aeon_appointment_path(appointment.id), class: 'text-decoration-none', data: { action: 'modal#open' } do %>
        <i class="bi bi-pencil-fill me-1"></i><span class="visually-hidden">Edit appointment</span>
      <% end %>
      <% if helpers.can? :destroy, appointment %>
        <button class="btn btn-link su-underline p-0" data-bs-toggle="modal" data-bs-target="#delete-appointment-<%= @appointment.id %>">
          <i class="bi bi-trash align-middle"></i><span class="visually-hidden">Delete appointment</span>
        </button>
      <% end %>
    </div>
  </div>
  <div class="card-body">
    <% if appointment.requests.present? %>
        <% request_groups = Aeon::RequestGrouping.from_requests(appointment.requests) %>
        <%= render Aeon::RequestGroupPerAppointmentComponent.with_collection(request_groups) %>
    <% else %>
      <div role="alert" class="d-flex align-items-center text-digital-red">
        <div role="img" aria-label="Danger icon" class="bi bi-exclamation-triangle-fill fs-3 me-3 align-self-center d-flex justify-content-center"></div>
        <div>
          No items have been requested for this appointment. It will be cancelled <%= @appointment.edit_policy %> days before your scheduled visit date if no requests are submitted.
        </div>
      </div>
    <% end %>
  </div>
  <div class="card-footer bg-transparent d-flex justify-content-between align-items-center">
    <%= render Aeon::AppointmentLimitComponent.from_appointment(appointment) %>
    <%= link_to "Add items", add_items_path, class: 'btn btn-outline-primary btn-sm', data: { action: 'modal#open' } unless add_item_disabled? %>
  </div>
  <!-- Delete modal -->
  <%= render ModalComponent.new(id: "delete-appointment-#{appointment.id}") do |component| %>
    <% component.with_title.with_content('Cancel appointment?') %>
    <% component.with_body(classes: []) do %>
      <%= form_with url: aeon_appointment_path(appointment.id), method: 'delete' do |f| %>
        <div class="modal-body">
            <div class="fw-semibold"><i class="bi bi-calendar me-2"></i><%= appointment_date %><%= time_range_html %></div>
            <div class="mt-1 fw-semibold"><i class="bi bi-geo-alt-fill me-1"></i><%= appointment.reading_room.name %></div>
            <% if appointment.requests.any? %>
            <div class="mb-0 mt-2 alert alert-info">
              <strong><%= pluralize(appointment.requests.length, 'item') %></strong> assigned to this appointment.
              <div class="d-flex gap-1">
                <%= f.radio_button :cancel_items, false %>
                <%= f.label :cancel_items_false, 'Save items and schedule later' %>
              </div>
              <div class="d-flex gap-1">
                <%= f.radio_button :cancel_items, true %>
                <%= f.label :cancel_items_true, 'Delete requested items' %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">No</button>
          <%= f.submit('Yes, cancel appointment', class: 'btn btn-primary', data: { bs_dismiss: 'modal' }) %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
