<div class="card border-light">
  <div class="card-header border-light d-flex justify-content-start gap-3">
    <h3 class="text-green card-title mb-0"><%= appointment_time_range %></h3>
    <%= link_to 'Edit', edit_aeon_appointment_path(appointment.id) %>
    <%= link_to aeon_appointment_path(appointment.id), data: { turbo_method: :delete }, aria: { label: 'Delete'} do %>
      <i class="bi bi-trash"></i>
    <% end %>
  </div>
  <div class="card-body">
    <% if appointment.requests.present? %>
      <ul class="list-group list-group-flush">
        <% appointment.requests.each do |request| %>
          <li class="list-group-item">
            <h4>
              <%= request.title %>
              <% if request.draft? %>
                <span class="text-warning ms-2"><i class="bi bi-exclamation-triangle me-1"></i>Draft</span>
              <% end %>
            </h4>
            <div class="d-flex flex-row align-items-center">
              <div class="me-4">Call number: <%= request.call_number %></div>

            <% if request.volume %>
              <span class="p-1 px-2 bg-stanford-10-black fw-semibold">
                <%= request.volume %>
              </span>
            <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    <% else %>
      <div role="alert" class="d-flex align-items-center text-digital-red">
        <div role="img" aria-label="Danger icon" class="bi bi-exclamation-triangle-fill fs-3 me-3 align-self-center d-flex justify-content-center"></div>
        <div>
          No items have been requested for this appointment. It will be cancelled <%= @appointment.edit_policy %> days before your scheduled visit date if no requests are submitted.
        </div>
      </div>
    <% end %>
  </div>
</div>
