<div class="card mb-4">
  <div class="card-header">
    Digitization header
  </div>
  <div class="card-body">
    <h2 class="h3"><%= title %></h2>
    <div class="d-flex">
      <div class="me-4"><replace_with_icon><%= document_type %></div>
      <div class="me-4">Call number: <%= call_number %></div>
      <div><%= aeon_link %></div>
    </div>
  </div>
  <div class="card-footer border-0 bg-white d-flex fs-14">
    <div class="me-4">Request #<%= transaction_number %></div>
    <div>Date added/modified: <%= transaction_date %></div>
  </div>
</div>
