<div data-controller="selected-item-form" data-action="input->selected-item-form#updateStatus" class="accordion-item mb-3" data-content-id="<%= dom_id %>">
  <div class="accordion-header">
    <button class="accordion-button d-flex justify-content-between" type="button" data-bs-toggle="collapse" data-bs-target="#content_<%= dom_id %>" aria-expanded="<%= collapsed? ? 'false' : 'true' %>%" aria-controls="content_<%= dom_id %>">
      <div class="d-flex align-items-center">
        <i class="fs-4 bi bi-circle me-2 status-icon" data-selected-item-form-target="status"></i>
        <span class="text-black fw-semibold item-title"><%= title %></span>
      </div>
      <i class="bi bi-chevron-right disclosure-icon"></i>
    </button>
  </div>
  <div id="content_<%= dom_id %>" class="accordion-collapse <%= 'collapse' if collapsed? %>">
    <%= fields_for base_name do |f| %>
      <div class="accordion-body">
        <div class="mb-3">
          <%= f.label :requested_pages, class: 'form-label fw-semibold redesign-required-label' %>
          <%= f.text_field :requested_pages, placeholder: 'e.g. 100-150, 167, 170-180 or Chapter 5', class: 'form-control', required: true %>
        </div>

        <div class="mb-3">
          <fieldset>
            <legend class="form-label fs-6 mb-1 fw-semibold">Is this for publication?</legend>
            <span class="me-3">
              <%= f.radio_button :for_publication, 'yes' %>
              <%= f.label :for_publication_yes, 'Yes' %>
            </span>

            <%= f.radio_button :for_publication, 'no' %>
            <%= f.label :for_publication_no, 'No' %>
          </fieldset>
        </div>

        <div class="mb-3">
          <%= f.label :additional_information, class: 'form-label fw-semibold' %>
          <%= f.text_area :additional_information, class: 'form-control', maxlength: 255, data: { action: "input->selected-item-form#updateCharCounter"} %>
          <p class="form-text text-secondary d-flex justify-content-between">
            <span>Limit 255 characters.</span>
            <span data-selected-item-form-target="charCounter"></span>
          </p>
        </div>

        <div class="d-flex justify-content-end">
          <button class="next-item btn btn-sm btn-primary" data-selected-item-form-target="nextButton" data-action="selected-item-form#nextItem">Next item</button>
        </div>
      </div>
    <% end %>
  </div>
</div>
