<li id="<%= dom_id(request) %>" class="list-group-item px-0 <%= "request-status-#{request.status}" %>" data-empty-remove-target="item">
  <div class="d-flex flex-row align-items-center justify-content-between">
    <div class="d-flex gap-3">
      <%= render Aeon::RequestItemIdentifierComponent.new(request:) %>
      <%= render Aeon::RequestItemDetailComponent.new(request:) %>
    </div>
    <div class="d-flex align-items-center gap-5 justify-content-between">
      <%= render Aeon::RequestAppointmentTimeComponent.new(request:, with_reading_room: false) %>
      <%= render Aeon::RequestActionsComponent.new(request:) %>
    </div>
  </div>
  <div class="pt-2 fs-14 d-flex gap-sm-3 flex-sm-row flex-column">
    <div>Request #<%= transaction_number %></div>
    <div>Date added/modified: <%= l(transaction_date, format: :full) %></div>
  </div>
</li>
