<div id="request-<%= transaction_number %>" class="request card mb-4">
  <div class="card-header fw-semibold p-3 ps-2 d-flex gap-1 flex-row align-items-md-center justify-content-between">
    <div class="d-flex flex-wrap gap-1">
      <span>
        <span class="rounded-pill <%= status_class %>">
          <i class="bi bi-<%= status_icon %> align-middle me-1"></i><%= status_text %>
        </span>
      </span>
      <% if show_appointment? %>
      <span class="appointment-details ms-1">
        <span class="fw-bold text-green"><%= appointment_date %></span>
        <span class="fw-normal text-nowrap text-green"><%= appointment_time_range %></span>
        <span class="fw-normal text-nowrap text-green"><%= appointment_reading_room_name %></span>
      </span>
      <% end %>
    </div>
    <div class="d-flex text-nowrap align-items-baseline align-self-start">
      <% if appointment&.editable? %>
        <a class="btn btn-link su-underline" href="#replace_me"><i class="bi bi-pencil-fill me-1"></i>Edit request</a>
      <% end %>
      <button class="btn btn-link su-underline" type="submit" aria-label="delete <%= title %> request" data-bs-toggle="modal" data-bs-target="#delete-<%= transaction_number %>">
        <i class="bi bi-trash"></i>
      </button>
      <!-- Delete modal -->
      <div class="modal fade" id="delete-<%= transaction_number %>" tabindex="-1" aria-labelledby="title-<%= transaction_number %>" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title" id="title-<%= transaction_number %>">Delete request?</h2>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body fw-normal">
              <div><span class="fw-bold">Title:</span> <%= title %></div>
              <div><span class="fw-bold">Request:</span> <%= status_text %> (<%= format_info %>)</div>
              <div class="mt-2 fw-bold">This action cannot be undone.</div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">No</button>
              <form action="<%= aeon_request_path(transaction_number) %>" method="DELETE">
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Yes - Delete</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body d-flex justify-content-between">
    <div class="metadata">
      <h2 class="h3"><%= title %></h2>
      <div class="d-flex gap-sm-3 flex-sm-row flex-column">
        <div>
          <i replace_with_icon></i><%= document_type %><% if date %> (<%= date %>)<% end %>
        </div>
        <div>Call number: <%= call_number %></div>
        <% if searchworks_link %>
          <div><a href="<%= searchworks_link %>" class="su-underline">View in SearchWorks<i class="ms-1 bi bi-arrow-up-right"></i></a></div>
        <% end %>
      </div>
      <% if format_info %>
        <div class="mt-2">
          <span class="p-1 bg-stanford-10-black fw-semibold">
            <%= format_info %>
          </span>
        </div>
      <% end %>
    </div>
    <% if thumbnail? %>
      <div>
        <img src="" style="background-color: gray; height: 110px; width: 80px;">
      </div>
    <% end %>
  </div>
  <div class="card-footer border-0 bg-white fs-14 d-flex gap-sm-3 flex-sm-row flex-column">
    <div>Request #<%= transaction_number %></div>
    <div>Date added/modified: <%= transaction_date.strftime("%B %-d, %Y %I:%M %p") %></div>
  </div>
</div>
