<div class="request-group border-bottom" <% if hidden %>hidden<% end %> data-draft-request-target="modalGroup" data-digital="<%= request_group.digital? %>"
  <% unless request_group.multi_item_selector? %>id="<%= dom_id(requests.first) %>" data-request-id="<%= requests.first.id %>"<% end %>>
  <div class="card-body">
    <div class="metadata">
      <span class="text-digital-red"><%= request_group.digital? ? 'Digitization' : 'Reading room use' %></span>
      <h3 class="h4 my-1"><%= title %></h3>
      <div class="d-flex gap-sm-3 flex-sm-row flex-wrap flex-column">
        <% if base_callnumber.present? %>
          <div>Call number: <%= base_callnumber %></div>
        <% end %>
      </div>
      <% if request_group.multi_item_selector? %>
        <ul class="list-unstyled d-flex flex-row flex-wrap gap-2 mt-1">
          <% requests.each do |request| %>
            <li id="<%= dom_id(request) %>" class="request px-0" data-empty-remove-target="item" data-request-id="<%= request.id %>">
              <div class="d-flex flex-row align-items-center justify-content-between">
                <div class="d-flex gap-3">
                  <%= render Aeon::RequestItemIdentifierComponent.new(request:) %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
