    <div class="d-flex text-nowrap align-items-baseline align-self-start">
      <% if request.cancelled? %>
        <form action="<%= resubmit_aeon_request_path(transaction_number) %>" method="PATCH">
          <button type="submit" class="btn btn-link su-underline" aria-label="resubmit request"><i class="bi bi-arrow-clockwise"></i> Resubmit</button>
        </form>
      <% else %>
        <% if include_bulk_actions %>
          <input type="checkbox" class="form-check-input" id="delete-bulk-<%= request.id %>" data-action="change->draft-request#selectForDelete" data-draft-request-target="select" data-id="<%= request.id %>"
            data-title="<%= title %>" data-type="<%= request_type %>"  data-callnumber="<%= request.call_number %>"/>
          <%= label_tag "delete-bulk-#{request.id}", 'Select', class: 'ms-2 me-3 form-check-label' %>
        <% end %>
        <% if helpers.can? :edit, request %>
          <%= link_to edit_aeon_request_path(request), class: 'btn btn-link su-underline p-0 me-sm-2', data: { action: 'modal#open' } do %>
            <i class="bi bi-pencil-fill me-1 align-middle"></i><span class="d-none d-sm-inline">Edit request</span>
          <% end %>
        <% end %>
        <% if helpers.can? :destroy, request %>
          <button class="btn btn-link su-underline p-0" data-bs-toggle="modal" data-bs-target="#delete-<%= transaction_number %>">
            <i class="bi bi-trash align-middle"></i><span class="visually-hidden">Delete <%= title %> request</span>
          </button>
        <% end %>
      <% end %>
      <!-- Delete modal -->
      <div class="modal fade" id="delete-<%= transaction_number %>" tabindex="-1" aria-labelledby="title-<%= transaction_number %>" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title" id="title-<%= transaction_number %>">Delete request?</h2>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body fw-normal">
              <div><span class="fw-bold">Title:</span> <%= title %></div>
              <div><span class="fw-bold">Request:</span> <%= request_type %> <%= render Aeon::RequestItemDetailComponent.new(request:, variant: :text) %></div>
              <div class="mt-2 fw-bold">This action cannot be undone.</div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">No</button>
              <%= form_with url: aeon_request_path(transaction_number), method: 'delete' do %>
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Yes - Delete</button>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
