<div class="request-group border-bottom mb-2" <% if hidden %>hidden<% end %> data-request-bulk-delete-target="modalGroup" data-digital="<%= request_group.digital? %>"
  <% unless request_group.multi_item_selector? %>id="<%= dom_id(requests.first) %>" data-request-id="<%= requests.first.id %>"<% end %>>
  <div class="card-body">
    <div class="metadata">
      <span class="text-lagunita-dark"><%= request_group.digital? ? 'Digitization' : 'Reading room use' %></span>
      <h3 class="my-1"><%= title %></h3>
      <div class="d-flex gap-sm-3 flex-sm-row flex-wrap flex-column mb-3">
        <% if base_callnumber.present? %>
          <div>Call number: <%= base_callnumber %></div>
        <% end %>
      </div>
      <% if request_group.multi_item_selector? %>
        <ul class="list-unstyled d-flex flex-row flex-wrap gap-2 mt-1">
          <% requests.each do |request| %>
            <li id="<%= dom_id(request) %>" class="request px-0" data-request-id="<%= request.id %>">
              <div class="d-flex flex-row align-items-center justify-content-between">
                <div class="d-flex gap-3">
                  <%= render Aeon::RequestItemIdentifierComponent.new(request:, classes: ['fw-semibold', 'selected-item-title', 'px-1'], wrapper_tag: :div, wrapper_classes: ['text-wrap', 'mb-2']) %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
