<%= tag.div class: 'request-group border rounded p-3', data: do %>
  <div class="card-body">
    <div class="metadata">
      <div class="mb-2 text-dark-emphasis reading-room"><%= requests.first.reading_room&.name %></div>
      <h2 class="h3"><%= title %></h2>
      <div class="d-flex gap-sm-3 flex-sm-row flex-wrap flex-column">
        <% if base_callnumber.present? %>
          <div>Call number: <%= base_callnumber %></div>
        <% end %>
      </div>
      <ul class="list-group list-group-flush">
        <% requests.each do |request| %>
          <%= render Aeon::RequestItemRowComponent.new(request:, action_component: action_for(request)) %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
