<%= render CardComponent.new classes: 'request-group', data: { controller: 'empty-remove' } do |c| %>
  <% c.with_title do %>
    <div>
      <div class="d-flex flex-wrap gap-1 justify-content-between align-items-center mt-2 mb-3">
        <span>
          <%= render Aeon::RequestStatusPillComponent.new(request: status_request) %>
          <% if appointment_reading_room.present? %>
          <span class="appointment-details ms-1">
            <span class="ms-2 text-nowrap text-lagunita-dark"><%= appointment_reading_room.name %></span>
          </span>
          <% end %>
        </span>

        <span>
          <%= render Aeon::RequestStatusMessageComponent.new(request: status_request) %>
        </span>
      </div>

      <div>
        <%= render RecordHeaderComponent.new(record: requests.first, brief: true) %>
      </div>
    </div>
  <% end %>

  <% c.with_body do %>
    <ul class="list-group list-group-flush gap-2">
      <%= render Aeon::RequestGroupItemComponent.with_collection(requests) %>
    </ul>
  <% end %>
<% end %>
