<div class="request-group card mb-4" data-controller="empty-remove">
  <div class="card-header fw-semibold p-3 ps-2 d-flex gap-1 flex-row align-items-md-center justify-content-between">
    <div class="d-flex flex-wrap gap-1 align-items-center">
      <%= render Aeon::RequestStatusPillComponent.new(request: request_for_status_display) %>
      <%= render Aeon::RequestStatusMessageComponent.new(request: request_for_status_display) %>
      <% if appointment_reading_room.present? %>
      <span class="appointment-details ms-1">
        <span class="ms-2 fw-semibold text-nowrap text-green"><%= appointment_reading_room.name %></span>
      </span>
      <% end %>
    </div>
  </div>
  <div class="card-body">
    <div class="metadata">
      <%= render RecordHeaderComponent.new(record: requests.first, brief: true) %>
      <ul class="list-group list-group-flush">
        <%= render Aeon::RequestGroupItemComponent.with_collection(requests) %>
      </ul>
    </div>
  </div>
</div>
