<%= helpers.turbo_frame_tag request do %>
  <div id="request-<%= transaction_number %>" class="request card mb-4">
    <div class="card-header fw-semibold p-3 ps-2 d-flex gap-1 flex-row align-items-md-center justify-content-between">
      <div class="d-flex flex-wrap gap-1 align-items-center">
        <%= render Aeon::RequestStatusPillComponent.new(request:) %>
        <%= render Aeon::RequestStatusMessageComponent.new(request:) %>
        <%= render Aeon::RequestAppointmentTimeComponent.new(request:) %>
      </div>
      <%= render Aeon::RequestActionsComponent.new(request:) %>
    </div>
    <div class="card-body d-flex justify-content-between">
      <div class="metadata">
          <%= render RecordHeaderComponent.new(record: request, brief: true) %>
        <div class="mt-2 d-flex gap-3">
          <%= render Aeon::RequestItemIdentifierComponent.new(request:) %>
          <%= render Aeon::RequestItemDetailComponent.new(request:) %>
        </div>
      </div>
      <% if thumbnail? %>
        <div>
          <img src="" alt="" style="background-color: gray; height: 110px; width: 80px;">
        </div>
      <% end %>
    </div>
    <div class="card-footer border-0 bg-white text-body-secondary fs-14 d-flex gap-sm-3 flex-sm-row flex-column">
      <div>Request #<%= transaction_number %></div>
      <div>Date added/modified: <%= l(transaction_date, format: :full) %></div>
    </div>
  </div>
<% end %>
