    <div class="d-flex text-nowrap align-items-baseline align-self-start">
      <% if request.cancelled? %>
        <form action="<%= resubmit_aeon_request_path(transaction_number) %>" method="PATCH">
          <button type="submit" class="btn btn-link btn-sm su-underline" aria-label="Resubmit request"><i class="bi bi-arrow-clockwise"></i> Resubmit</button>
        </form>
      <% else %>
        <% if include_bulk_actions %>
          <span>
            <input type="checkbox" class="form-check-input" id="delete-bulk-<%= request.id %>"
              data-action="change->draft-request#updateDeleteButton draft-request#updateSelectAll"
              data-draft-request-target="select" data-id="<%= request.id %>">
            <%= label_tag "delete-bulk-#{request.id}", 'Select', class: 'ms-1 me-3 small form-check-label fw-normal' %>
          </span>
        <% end %>
        <% if helpers.can? :edit, request %>
          <%= link_to edit_aeon_request_path(request), class: 'btn btn-link btn-sm su-underline p-0 me-sm-2', data: { action: 'modal#open' } do %>
            <% if request.draft? && request.digital? %>
              <i class="bi bi-file-earmark-plus me-1 align-middle"></i> Add instructions
            <% elsif request.draft? && !request.digital? %>
              <i class="bi bi-calendar-plus me-1 align-middle"></i> Add appointment
            <% else %>
              <i class="bi bi-pencil-fill me-1 align-middle"></i><span class="visually-hidden">Edit request</span>
            <% end %>
          <% end %>
        <% end %>
        <% if helpers.can? :destroy, request %>
          <button class="btn btn-link su-underline p-0" data-bs-toggle="modal" data-bs-target="#delete-<%= transaction_number %>">
            <i class="bi bi-trash align-middle"></i><span class="visually-hidden">Delete <%= title %> request</span>
          </button>
        <% end %>
      <% end %>
      <!-- Delete modal -->
      <%= render ModalComponent.new(id: "delete-#{transaction_number}") do |component| %>
        <% component.with_title.with_content('Delete request?') %>
        <% component.with_body do %>
            <div><span class="fw-bold">Title:</span> <%= title %></div>
            <div><span class="fw-bold">Request:</span> <%= request_type %> <%= render Aeon::RequestItemDetailComponent.new(request:, variant: :text) %></div>
            <div class="mt-2 fw-bold">This action cannot be undone.</div>
        <% end %>
        <% component.with_footer do %>
          <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">No</button>
          <%= form_with url: aeon_request_path(transaction_number), method: 'delete' do %>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Yes - Delete</button>
          <% end %>
        <% end %>
      <% end %>
    </div>
