<li id="<%= dom_id(request) %>" class="request <%= classes.join(' ') %>">
  <div class="rgi-id d-flex align-items-center">
    <%= render Aeon::RequestItemIdentifierComponent.new(request:) %>

    <% if remove_from_appointment? %>
      <%= form_with(url: redraft_aeon_request_path(request, kind: request.request_type)) do |f| %>
        <%= tag.button type: :submit, class: 'btn btn-link su-underline' do %>
          <i class="bi bi-pin-angle-fill align-middle me-1"></i><span>Save for later</span>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="rgi-detail pb-1">
    <%= render Aeon::RequestItemDetailComponent.new(request:) %>
  </div>

  <%= render Aeon::RequestFulfillmentComponent.new(request:) if fulfillment? %>

  <% if actions? %>
    <div class="rgi-actions">
      <%= render Aeon::RequestActionsComponent.new(request:) %>
    </div>
  <% end %>

  <% if footer? %>
    <div class="rgi-footer pt-2 fs-14 text-body-secondary d-flex gap-sm-3 flex-sm-row flex-column">
      <div>Request #<%= transaction_number %></div>
      <div>Date added/modified: <%= l(transaction_date, format: :full) %></div>
    </div>
  <% end %>
</li>
