<div class="request-group request card mb-4" data-controller="empty-remove">
  <div class="card-header fw-semibold p-3 ps-2 d-flex gap-1 flex-row align-items-md-center justify-content-between">
    <div class="d-flex flex-wrap gap-1 align-items-center">
      <%= render Aeon::RequestStatusPillComponent.new(request: request_group.status_request) %>
      <%= render Aeon::RequestStatusMessageComponent.new(request: request_group.status_request) %>
      <% if submitted? && appointment? %>
      <span class="appointment-details ms-1">
        <span class="ms-2 fw-semibold text-nowrap text-green"><%= reading_room_name %></span>
      </span>
      <% end %>
    </div>
  </div>
  <div class="card-body">
    <div class="metadata">
      <h2 class="h3"><%= title %></h2>
      <div class="d-flex gap-sm-3 flex-sm-row flex-wrap flex-column">
        <div>
          <%= render Icons::DocumentBox1Component.new %><%= document_type %><% unless date.blank? %> (<%= date %>)<% end %>
        </div>
        <% if ead_number %>
          <div>Call number: <%= ead_number %></div>
        <% end %>
        <%= render Aeon::RequestLinkComponent.new(url: requests.first.item_url) %>
      </div>
      <ul class="list-group list-group-flush">
        <%= render Aeon::RequestGroupItemComponent.with_collection(requests) %>
      </ul>
    </div>
  </div>
</div>
