<li id="<%= dom_id(request) %>" class="request list-group-item <%= "request-status-#{request.status}" %>" data-empty-remove-target="item">
  <div class="d-flex flex-row align-items-start justify-content-between gap-5">
    <div class="d-flex flex-row align-items-start justify-content-between gap-4 flex-grow-1">
      <div class="d-flex flex-column">
        <%= render Aeon::RequestItemIdentifierComponent.new(request:) %>
        <%= render Aeon::RequestItemDetailComponent.new(request:) %>
      </div>

      <span class="ms-auto">
        <%= render Aeon::RequestAppointmentTimeComponent.new(request:, with_reading_room: false) %>
      </span>
    </div>

    <%= render Aeon::RequestActionsComponent.new(request:) %>
  </div>
  <div class="pt-2 fs-14 text-body-secondary d-flex gap-sm-3 flex-sm-row flex-column">
    <div>Request #<%= transaction_number %></div>
    <div>Date added/modified: <%= l(transaction_date, format: :full) %></div>
  </div>
</li>
