<li id="<%= dom_id(request) %>" class="list-group-item px-0" data-empty-remove-target="item">
  <div class="d-flex flex-row align-items-center justify-content-between">
    <div class="d-flex gap-3">
      <%= render Aeon::RequestItemIdentifierComponent.new(request:) %>
      <%= render Aeon::RequestItemDetailComponent.new(request:) %>
    </div>
    <%= render Aeon::RequestActionsComponent.new(request:) %>
  </div>
  <div class="pt-2 fs-14 d-flex gap-sm-3 flex-sm-row flex-column">
    <div>Request #<%= transaction_number %></div>
    <div>Date added/modified: <%= transaction_date.strftime("%B %-d, %Y %I:%M %p") %></div>
  </div>
</li>
