<!DOCTYPE html>
<html>
  <body>
    <p>
      Something went wrong and we were unable to process your request. For more information and help, reply to this email.
    </p>

    <p>
      Title: <%= @request.item_title %>
    </p>

    <p>Call number(s):</p>
    <ul>
      <% RequestApprovalStatus.new(request: @request).item_list_with_status.each do |status| %>
        <li><%= status %></li>
      <% end %>
    </ul>

    <% if @request.data_to_email.present? %>
      <p>
        <%= @request.data_to_email.join('<br/>') %>
      </p>
    <% end %>

    <p>Request was placed: <%= l(@request.created_at, format: :formal) %></p>

    <p>
      Questions about your request?<br/>
      Contact:<br/>
      <%= @contact_info[:phone] %><br/>
      <%= mail_to(@contact_info[:email], @contact_info[:email]) %>
    </p>
  </body>
</html>
