<!DOCTYPE html>
<html>
  <body>
    <%= render 'migration_message', borrow_direct: false if Settings.features.migration %>

    <%= render 'pickup_confirmation' %>

    <p>
      The following item(s) will be delivered to <%= Settings.libraries[@request.destination]&.label || @request.destination %>:<br/>
      Title: <%= @request.item_title %>
    </p>

    <p>Call number(s):</p>
    <ul>
      <% RequestApprovalStatus.new(request: @request).item_list_with_status.each do |status| %>
        <li><%= status %></li>
      <% end %>
    </ul>

    <% if @request.estimated_delivery.present? %>
      <p>
        Earliest delivery: <%= @request.estimated_delivery %>
      </p>
    <% end %>

    <p>Request was placed: <%= l(@request.created_at, format: :formal) %></p>

    <p>
      Questions about your request?<br/>
      Contact:<br/>
      <%= @contact_info[:phone] %><br/>
      <%= mail_to(@contact_info[:email], @contact_info[:email]) %>
    </p>
  </body>
</html>
