<!DOCTYPE html>
<html>
  <body>
    <p>We’ve received your request for the item(s) below.</p>

    <p>A librarian will review and approve your request, or contact you. Approvals typically happen 1-3 business days before your planned visit date.</p>

    <p>Title: <%= @request.item_title %></p>

    <p>Item(s) requested:</p>
    <ul>
      <% @request.holdings.map(&:callnumber).each do |callnumber| %>
        <li><%= callnumber %></li>
      <% end %>
    </ul>

    <p>
      <%= @request.data_to_email.join('<br/>') %>
    </p>

    <p>
      <%= t("approval_status.#{RequestApprovalStatus.new(request: @request).library_code}.extra_note", default: :'approval_status.default.extra_note') %>
    </p>

    <p>Request was placed: <%= l @request.created_at, format: :long %></p>

    <% if @request.needed_date.present? %>
      <p>
        <%= "Items approved for access will be ready when you visit on: #{l @request.needed_date, format: :long}" %>
      </p>
    <% end %>

    <p>
      Check the status before your visit at <%= @status_url %>
    </p>

    <p>
      Questions about your request?<br/>
      Contact:<br/>
      <%= @contact_info[:phone] %><br/>
      <%= mail_to(@contact_info[:email], @contact_info[:email]) %>
    </p>
  </body>
</html>
