<div class="mb-3" data-ill-request-target="section">
  <%= f.label :photo_article_title, 'Title of article or chapter', class: 'form-label fw-semibold redesign-required-label' %>
  <%= f.text_field :photo_article_title, required: true, class: 'form-control', maxlength: 255 %>
</div>

<div class="mb-3" data-ill-request-target="section">
  <%= f.label :photo_article_author, 'Chapter/article author(s)', class: 'form-label fw-semibold' %>
  <%= f.text_field :photo_article_author, class: 'form-control', maxlength: 255 %>
</div>

<div class="mb-3" data-ill-request-target="section">
  <%= f.label :photo_journal_inclusive_pages, 'Page range', class: 'form-label fw-semibold redesign-required-label' %>
  <%= f.text_field :photo_journal_inclusive_pages, required: true, class: 'form-control' %>
</div>
