<h1>Book or media request</h1>

<p class="fw-semibold mb-4">We are not able to provide access to electronic books and streaming media through interlibrary loan.</p>

<div class="row">
  <%= form_with model: Illiad::Request, id: 'illiad-request-form', url: ill_requests_path, data: { turbo: false, controller: 'accordion-form ill-request' }, class: 'col-7 me-5 accordion' do |f| %>
    <% step_enum = Enumerator.new { |y| n = 0; loop { y << (n += 1) } } %>
    <% scan_or_pickup_step = nil %>

    <%= render AccordionStepComponent.new(id: 'request-type', step_index: step_enum.next, form_id: 'illiad-request-form') do |c| %>
      <% c.with_title.with_content('Request type') %>
      <% c.with_body do %>
          <%= render 'scan_or_pickup', f: %>
      <% end %>
    <% end %>

    <%= render AccordionStepComponent.new(id: 'item-info', step_index: step_enum.next, form_id: 'illiad-request-form') do |c| %>
      <% c.with_title.with_content('Item information') %>
      <% c.with_body do %>
        <fieldset class="d-block card mb-4 p-3 bg-light" data-ill-request-target="section" data-ill-request-for-request-type="scan">
          <legend class="fw-semibold fs-6">Is your request for a book or an article?</legend>

          <div class="d-inline-flex gap-2 radio-button-group">
            <input type="radio" class="btn-check" name="subtype" id="subtype_book" value="book" autocomplete="off" data-action="ill-request#updateSubtype" checked>
            <label class="btn bg-default-body border px-2" for="subtype_book">Book chapter</label>

            <input type="radio" class="btn-check" name="subtype" id="subtype_article" value="article" autocomplete="off" data-action="ill-request#updateSubtype">
            <label class="btn bg-default-body border px-2" for="subtype_article">Article</label>
          </div>
        </fieldset>

        <div class="mb-3">
          <%= f.label :title, class: 'form-label fw-semibold redesign-required-label' do %>
            <span data-ill-request-target="section" data-ill-request-for-request-type="scan" data-ill-request-for-request-subtype="book">Book title</span>
            <span data-ill-request-target="section" data-ill-request-for-request-type="scan" data-ill-request-for-request-subtype="article">Journal title</span>
            <span data-ill-request-target="section" data-ill-request-for-request-type="pickup">Title</span>
          <% end %>
          <%= f.text_field :title, required: true, class: 'form-control', maxlength: 255 %>
        </div>

        <div class="mb-3" data-ill-request-target="section" data-ill-request-for-request-subtype="book">
          <%= f.label :loan_author, 'Author(s) or editor(s)', class: 'form-label fw-semibold redesign-required-label' %>
          <%= f.text_field :loan_author, required: true, class: 'form-control', maxlength: 255 %>
        </div>

        <div class="mb-3" data-controller="char-counter" data-char-counter-default-class="text-body-tertiary" data-char-counter-warning-class="text-cardinal">
          <%= f.label :cited_in, 'Link or citation for this item', class: 'form-label fw-semibold redesign-required-label' %>
          <%= f.text_area :cited_in, maxlength: 255, required: true, class: 'form-control', data: { action: "input->char-counter#updateCharCounter" } %>
          <div class="d-flex gap-4 align-items-baseline">
            <div class="form-text">Examples are a WorldCat link, publisher link, website link, or citation from a specific journal article or book.</div>
            <span class="fs-14 ms-auto text-nowrap" data-char-counter-target="counter"></span>
          </div>
        </div>

        <div class="mb-3">
          <%= f.label :issn, class: 'form-label fw-semibold' do %>
            <span data-ill-request-target="section" data-ill-request-for-request-subtype="book">ISBN (International Standard Book Number)</span>
            <span data-ill-request-target="section" data-ill-request-for-request-subtype="article">ISSN</span>
          <% end %>
          <%= f.text_field :issn, class: 'form-control w-auto', size: 20 %>
          <div class="form-text">
            <span data-ill-request-target="section" data-ill-request-for-request-subtype="book">Numerals and hyphens only. Provide only one version of the ISBN. 13-digit version preferred.</span>
            <span data-ill-request-target="section" data-ill-request-for-request-subtype="article"></span>
          </div>
        </div>

        <div class="mb-3">
          <%= f.label :esp_number, 'OCLC number (WorldCat accession number)', class: 'form-label fw-semibold' %>
          <%= f.text_field :esp_number, class: 'form-control w-auto', size: 20 %>
        </div>

        <div class="mb-3" data-ill-request-target="section" data-ill-request-for-request-subtype="book">
          <%= f.label :loan_publisher, 'Name of publisher', class: 'form-label fw-semibold' %>
          <%= f.text_field :loan_publisher, class: 'form-control' %>
        </div>

        <div class="mb-3" data-ill-request-target="section" data-ill-request-for-request-subtype="book">
          <%= f.label :loan_date, 'Date of publication', class: 'form-label fw-semibold' %>
          <%= f.text_field :loan_date, class: 'form-control' %>
        </div>

        <div class="mb-3" data-ill-request-target="section" data-ill-request-for-request-subtype="book">
          <%= f.label :loan_place, 'Place of publication', class: 'form-label fw-semibold' %>
          <%= f.text_field :loan_place, class: 'form-control' %>
        </div>

        <div class="mb-3" data-ill-request-target="section" data-ill-request-for-request-subtype="book">
          <%= f.label :item_info2, 'Volume', class: 'form-label fw-semibold' %>
          <%= f.text_field :item_info2, class: 'form-control' %>
        </div>

        <div class="mb-3" data-ill-request-target="section" data-ill-request-for-request-subtype="book">
          <%= f.label :loan_edition, 'Edition', class: 'form-label fw-semibold' %>
          <%= f.text_field :loan_edition, class: 'form-control' %>
        </div>

        <div data-ill-request-target="section" data-ill-request-for-request-type="scan" data-ill-request-for-request-subtype="article">
          <div class="mb-3">
            <%= f.label :photo_journal_issue, 'Issue', class: 'form-label fw-semibold' %>
            <%= f.text_field :photo_journal_issue, class: 'form-control', maxlength: 40 %>
          </div>
          <div class="mb-3">
            <%= f.label :photo_journal_month, 'Month/day of issue', class: 'form-label fw-semibold' %>
            <%= f.text_field :photo_journal_month, class: 'form-control', maxlength: 40 %>
          </div>
          <div class="mb-3">
            <%= f.label :photo_journal_year, 'Year of issue', class: 'form-label fw-semibold' %>
            <%= f.text_field :photo_journal_year, class: 'form-control', maxlength: 20 %>
          </div>
        </div>

        <fieldset class="mb-3 radio-button-group" data-ill-request-target="section" data-ill-request-for-request-subtype="book">
          <legend class="fs-6 form-label fw-semibold">Will you accept an alternate edition of this item?</legend>


          <div class="form-check form-check-inline">
            <%= f.radio_button :accept_alternate_edition, true, class: 'form-check-input' %>
            <%= f.label :accept_alternate_edition, 'Yes', value: true, class: 'form-check-label' %>
          </div>

          <div class="form-check form-check-inline">
            <%= f.radio_button :accept_alternate_edition, false, class: 'form-check-input' %>
            <%= f.label :accept_alternate_edition, 'No', value: false, class: 'form-check-label' %>
          </div>
        </fieldset>
      <% end %>
    <% end %>

    <%= render AccordionStepComponent.new(id: 'scan-or-pickup-request', step_index: scan_or_pickup_step ||= step_enum.next, form_id: 'illiad-request-form', data: { ill_request_target: 'section', ill_request_for_request_type: "none" }, submit: true) do |c| %>
      <% c.with_title.with_content('Scan or pickup request') %>
    <% end %>

    <%= render AccordionStepComponent.new(id: 'pickup-request', classes: ['d-none'], step_index: scan_or_pickup_step ||= step_enum.next, form_id: 'illiad-request-form', data: { ill_request_target: 'section', ill_request_for_request_type: "pickup" }, submit: true) do |c| %>
      <% c.with_title.with_content('Pickup request') %>
      <% c.with_body do %>
        <div class="mb-3">
          <%= f.label :item_info4, 'Deliver to', class: 'form-label d-block fw-semibold redesign-required-label' %>
          <%= f.select(
          :item_info4, options_for_select(default_service_points(current_user.patron).map { |sp| [sp.name, sp.code] }), { include_blank: false, required: false },
          class: 'form-select'
          ) %>
        </div>
        <div class="mb-4">
          <%= f.label :not_wanted_after, 'Not wanted after date', class: 'form-label fw-semibold' %>
          <%= f.date_field :not_wanted_after, class: 'form-control' %>
        </div>

        <div class="mb-3" data-controller="char-counter" data-char-counter-default-class="text-body-tertiary" data-char-counter-warning-class="text-cardinal">
          <%= f.label :note, 'Additional information', class: 'form-label fw-semibold' %>
          <%= f.text_area :note, class: 'form-control', rows: 3, maxlength: 255, data: { action: "input->char-counter#updateCharCounter" } %>
          <p class="form-text text-secondary d-flex justify-content-between">
            <span>Limit 255 characters.</span>
            <span class="fs-14" data-char-counter-target="counter"></span>
          </p>
        </div>
      <% end %>
    <% end %>

    <%= render AccordionStepComponent.new(id: 'scan-request', classes: ['d-none'], step_index: scan_or_pickup_step ||= step_enum.next, form_id: 'illiad-request-form', data: { ill_request_target: 'section',  ill_request_for_request_type: "scan" }, submit: true) do |c| %>
      <% c.with_title.with_content('Scan request') %>

      <% c.with_body do %>
        <div class="row p-3 gap-3 flex-column flex-md-row">
          <div class="col alert alert-info border-0 text-black">
            <h3 class="h4 fw-semibold">Copyright notice</h3>
            The copyright law of the United States (title 17, United States Code)
            governs the making of photocopies or other reproductions of copyrighted
            material. Under certain conditions specified in the law, libraries and
            archives are authorized to furnish a photocopy or other reproduction. One of
            these specific conditions is that the photocopy or reproduction is not to be
            "used for any purpose other than private study, scholarship, or research."
            If a user makes a request for, or later uses, a photocopy or reproduction
            for purposes in excess of "fair use," that user may be liable for copyright
            infringement. Stanford Libraries reserves the right to refuse to accept a
            copying order if, in its judgment, fulfillment of the order would involve
            violation of copyright law.
          </div>
          <div class="col pe-0">
            <div class="mb-3" data-ill-request-target="section">
              <%= f.label :photo_article_title, 'Title of article or chapter', class: 'form-label fw-semibold redesign-required-label' %>
              <%= f.text_field :photo_article_title, required: true, class: 'form-control', maxlength: 255 %>
            </div>

            <div class="mb-3" data-ill-request-target="section">
              <%= f.label :photo_article_author, 'Chapter/article author(s)', class: 'form-label fw-semibold' %>
              <%= f.text_field :photo_article_author, class: 'form-control', maxlength: 255 %>
            </div>

            <div class="mb-3" data-ill-request-target="section">
              <%= f.label :photo_journal_inclusive_pages, 'Page range', class: 'form-label fw-semibold redesign-required-label' %>
              <%= f.text_field :photo_journal_inclusive_pages, required: true, class: 'form-control' %>
            </div>

            <div class="mb-4">
              <%= f.label :not_wanted_after, 'Not wanted after date', class: 'form-label fw-semibold' %>
              <%= f.date_field :not_wanted_after, class: 'form-control' %>
            </div>

            <div class="mb-3" data-controller="char-counter" data-char-counter-default-class="text-body-tertiary" data-char-counter-warning-class="text-cardinal">
              <%= f.label :note, 'Additional information', class: 'form-label fw-semibold' %>
              <%= f.text_area :note, class: 'form-control', rows: 3, maxlength: 255, data: { action: "input->char-counter#updateCharCounter" } %>
              <p class="form-text text-secondary d-flex justify-content-between">
                <span>Limit 255 characters.</span>
                <span class="fs-14" data-char-counter-target="counter"></span>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <aside class="col-3">
    <% library = Settings.libraries.ILL %>
    <h2>Contact information</h2>
    <div>
        <h3>
          <% if library.reading_room_url %>
            <%= link_to library.reading_room_url, target: '_blank' do %>
              <%= library.label %><i class="bi bi-arrow-up-right ms-1"></i>
            <% end %>
          <% else %>
            <%= library.label %>
          <% end %>
        </h3>
        <% if library.contact_info&.phone %>
          <p class="mb-1">
            <span class="fw-semibold">Phone: </span><%= library.contact_info.phone %>
          </p>
        <% end %>
        <% if library.contact_info&.email %>
          <p>
            <span class="fw-semibold">Email: </span><%= mail_to library.contact_info.email, class: 'su-underline' %>
          </p>
        <% end %>
    </div>
  </aside>
</div>
