<% if f.object.present? %>
  <%= f.fields_for :barcodes do |barcode| %>
    <% if f.object.barcode_present? || f.object.all_holdings.one? %>
      <% single_item = f.object.requested_holdings.first || f.object.all_holdings.first %>
      <div class="single-item-callnumber">
        Call number: <%= single_item.callnumber %>
      </div>
      <%= barcode.hidden_field single_item.barcode.present? ? single_item.barcode : 'NO_BARCODE', value: 1 %>
      <% if f.object.bound_with? %>
        <div class="bound-withs">
            <% is_child = f.object.parent_bound_withs.present? %>
            <% bound_withs = is_child ? f.object.parent_bound_withs : f.object.child_bound_withs %>
            <div class="heading">This item is bound<% if is_child %> and shelved<% end %> with</div>
            <%= render 'item_selector_bound_withs', bound_withs:, is_child: %>
        </div>
      <% end %>
      <% if (note = CurrentLocationNote.new(single_item)).present? %>
        <p class="single-item-current-location-note">
          <%= note %>
        </p>
      <% end %>
    <% elsif f.object.all_holdings.many? %>
      <div id='selected-items-filter' data-behavior='item-selector' data-limit-reached-message="<%= t('sul_requests.limit_reached_message', limit: f.object.item_limit) %>">
        <% if f.object.all_holdings.count >= 10 %>
          <div class='form-group'>
            <label class='control-label <%= label_column_class %>' for='item-selector-search'>Search item list</label>
            <div class='<%= content_column_class %>'>
              <input id='item-selector-search' type='text' class='pull-right search form-control' />
            </div>
          </div>
        <% end %>
        <div class='btn-group btn-group-xs sort-headings clearfix'>
          <a href="javascript:;" class="sort sort-callnumber btn btn-default pull-left" data-sort="callnumber">Call number <i></i></a>
          <a href="javascript:;" class="sort sort-status btn btn-default pull-right" data-sort="status">Status <i></i></a>
        </div>
        <div id="item-selector" class="item-selector" data-limit-selected-items="<%= f.object.item_limit if f.object.item_limit.to_i > 1 %>" data-counter-target="[data-items-counter='true']">
          <div class='list'>
            <% f.object.all_holdings.sort_by(&:callnumber).each.with_index(1) do |holding, index| %>
              <div class='input-group'>
                <% if f.object.item_limit.to_i == 1 %>
                  <span class='input-group-addon barcode-checkbox'>
                    <%= render partial: 'item_selector_radio_button', locals: { f: f, barcode: barcode, holding: holding, index: index } %>
                  </span>
                  <%= barcode.label "_#{holding.barcode}", class: 'form-control' do %>
                    <span class='callnumber'><%= holding.callnumber %></span>
                    <%= label_for_item_selector_holding(holding) %>
                  <% end %>
                <% else %>
                  <span class='input-group-addon barcode-checkbox'>
                    <%= render partial: 'item_selector_checkbox', locals: { f: f, barcode: barcode, holding: holding, index: index } %>
                  </span>
                  <%= barcode.label holding.barcode, class: 'form-control' do %>
                    <span class='callnumber'><%= holding.callnumber %></span>
                    <%= label_for_item_selector_holding(holding) %>
                  <% end %>
                <% end %>

                <% if (note = CurrentLocationNote.new(holding)).present? %>
                  <div data-behavior='current-location-note' class='current-location-note'>
                    <%= note %>
                  </div>
                <% end %>

                <% if holding.public_note.present? %>
                  <div class='public-note'>
                    <%= holding.public_note %>
                    <%= f.fields_for 'public_notes' do |note| %>
                      <%= note.hidden_field holding.barcode, value: holding.public_note %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div data-behavior='max-items-message'></div>

      <div class='form-group'>
        <span class='control-label <%= label_column_class %> required'>
          <span data-items-counter='true'><span data-count='true'><%= f.object.requested_holdings.length %></span> items selected</span>
        </span>
        <div class='<%= content_column_class %>'>
          <div data-behavior='breadcrumb-container'></div>
          <% if f.object.holdings.many? %>
            <div class="zero-items-message help-text">[<%= t(:'.help_text', count: f.object.item_limit.to_i) %>]</div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
