<h1 class="fw-semibold">We received your <%= @patron_request.request_type == 'scan' ? 'scan' : @patron_request.mediateable? ? '' : 'pickup' %> request!</h1>

<% if current_request && current_request.active_messages.any? %>
  <%= render 'messages', messages: current_request.active_messages %>
<% end %>

<div class="row mt-4">
    <div class="col-7">
        <div class="lead">
            <% if current_user && current_user.patron.email %>
                Expect a confirmation email shortly at <span class="fw-semibold"><%=  current_user.patron.email %></span>.
            <% end %>

            <% if (current_user && current_user.patron) || (@patron_request.patron.patron_group_name != 'visitor') %>
                <% if @patron_request.mediateable? %>
                    Once approved, you can view the status of your request in
                <% else %>
                    You can also check the status of your request any time at
                <% end %><%= link_to ' My Account', 'https://mylibrary.stanford.edu' %>.
            <% end %>
            <% if @patron_request.request_type == 'scan' %>
                We'll notify you by email once your scan request is ready. Remember to download the PDF within 30 days of notification.
            <% else %>
                <% if @patron_request.mediateable? %>
                    A librarian will review and approve your request for restricted-use materials, or contact you.
                    Approvals typically happen 1-3 business days before your planned visit date.
                <% end %>
                You will receive an email when the <%= (@patron_request.barcodes&.count || 1) == 1 ?  'item is' : 'items are' %> ready.
            <% end %>
        </div>

        <hr />

        <h2 class="my-4">Request confirmation</h2>
        <dl class="dl-inline">
            <div><dt>Title:</dt><dd><%= @patron_request.item_title %></dd></div>
        <% if @patron_request.request_type == 'scan' %>
            <div><dt>Pages:</dt><dd><%= @patron_request.scan_page_range %></dd></div>
            <div><dt>Chapter/article:</dt><dd><%= @patron_request.scan_title %></dd></div>
            <div><dt>Authors:</dt><dd><%= @patron_request.scan_authors %></dd></div>

            <% if @patron_request.estimated_delivery %>
                <div><dt>Earliest expected delivery:</dt><dd><%= @patron_request.estimated_delivery %></dd></div>
            <% end %>
        <% else %>
            <% if @patron_request.pickup_service_point %>
            <div><dt><%= @patron_request.single_location_label %>:</dt><dd><%= @patron_request.pickup_service_point.name %></dd></div>
            <% end %>
            <% requested_items = @patron_request.mediateable? ? {} : @patron_request.selected_items.group_by(&:available?) %>
            <% if requested_items[true].present? %>
                <hr>
                <div class="mb-2">
                    <span class="fw-bold">Pickup after:</span> <%= @patron_request.estimated_delivery %>
                </div>
                <ul class="list-unstyled">
                    <% requested_items[true].each do |avail_item| %>
                        <li><%= callnumber_label(avail_item) %></li>
                    <% end %>
                </ul>
            <% end %>
            <% if requested_items[false].present? %>
                <hr>
                <div class="mb-2">
                    <span class="fw-bold">Pickup after:</span> Notified by email
                </div>
                <ul class="list-unstyled">
                    <% requested_items[false].each do |avail_item| %>
                        <li><%= callnumber_label(avail_item) %></li>
                    <% end %>
                </ul>
            <% end %>
            <% if @patron_request.needed_date %>
                <div>
                    <dt>
                        <% if @patron_request.mediateable? %>
                            I plan to visit on:
                        <% else %>Not needed after:<% end %>
                    </dt>
                    <dd>
                        <%= l @patron_request.needed_date, format: :short %>
                    </dd>
                </div>
            <% end %>
            <% if @patron_request.fulfillment_type %>
                <div>
                    <dt>Processing method:</dt>
                    <dd>
                        <%= @patron_request.fulfillment_type == 'hold' ? 'Wait for a Stanford copy to become available' : 'Expedite a copy from a partner library' %>
                    </dd>
                </div>
            <% end %>
        <% end %>
        </dl>
    </div>
    <div class="offset-1 col-4">
        <div class="card">
            <div class="card-body">
                <h2 class="h5 fw-semibold">Library resources</h2>
                <div class="bg-light p-2">
                    <h3 class="h6">
                        <a href="https://mylibrary.stanford.edu"><i class="bi bi-box-arrow-up-right"></i> Log in to My Account</a>
                    </h3>
                    <p class="mb-0">
                      Access information regarding items currently checked out, monitor requests,
                      and/or outstanding fines.
                    </p>
                </div>
                <h3 class="h6 fw-semibold mt-3">Get help</h3>
                    <ul class="list-unstyled">
                        <li><i class="bi bi-envelope-fill"></i> <%= mail_to(@patron_request.contact_info[:email], @patron_request.contact_info[:email]) %></li>
                        <li><i class="bi bi-telephone-fill"></i> Call <%= @patron_request.contact_info[:phone] %></li>
                    </ul>
                <h3 class="h6 fw-semibold mt-3">Library policies and information</h3>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://library.stanford.edu/services/borrow-and-request" target="_blank">
                            <i class="bi bi-box-arrow-up-right"></i> Borrow and request
                        </a>
                    </li>
                    <li>
                        <a href="https://library.stanford.edu/borrowdirect" target="_blank">
                            <i class="bi bi-box-arrow-up-right"></i> Borrow Direct
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
