<% if f.object.pickup_destinations.many? %>
    <div class="form-group mb-3 me-0 border p-3 rounded">
    <%= f.label :service_point_code, class: 'required-label py-2' %>
    <%=  f.select(
    :service_point_code, pickup_destinations_array(f.object.pickup_destinations),
    {
        label: label_for_pickup_destinations_dropdown(f.object.pickup_destinations),
        selected: f.object.service_point_code || f.object.default_service_point_code,
        include_blank: false, required: false,
    },
    data: {
        action: 'change->patronRequest#updateEarliestAvailable',
    },
    aria: {
        controls: 'earliestAvailableContainer',
    },
    class: 'form-select'
    ) %>
    </div>
<% else %>
    <div class="mb-2">
        <strong><%= f.object.single_location_label %>:</strong> <%= f.object.pickup_service_point&.name %>
    </div>
    <%= f.hidden_field :service_point_code, :value => f.object.pickup_service_point&.code %>
<% end %>
