
<fieldset class="ps-2">
  <div class="d-flex">
    <%= f.radio_button :request_type, 'pickup', class: 'form-check-input', required: true, data: { action: 'patron-request#updateType', terms: false } %>
    <div class="ms-2 d-flex flex-wrap column-gap-2">
      <%= f.label :request_type_pickup, class: 'form-check-label' do %>
        Reading room appointment
      <% end %>
      <span class="text-cardinal">
        Earliest appointment available:
        <%= turbo_frame_tag 'earliest_appointment', src: available_aeon_appointments_path(f.object.aeon_reading_room&.id, Date.today) %>
      </span>
    </div>
  </div>
  <div class="mt-2">
    <%= f.radio_button :request_type, 'scan', class: 'form-check-input', data: { action: 'patron-request#updateType', terms: true } %>
    <%= f.label :request_type_scan, class: 'form-check-label ms-1' do %>
      Digitization
    <% end %>
  </div>
  <%= render 'patron_requests/digitization_terms', f: %>
</fieldset>
