<% if f.object.holdable_recallable_items.any? %>
<fieldset class="mb-4 p-3 pb-0">
  <legend class="fs-6 required-label">Select processing method <a href="https://library.stanford.edu/services/borrow-and-request#request" class="ms-2"><i class="bi bi-box-arrow-up-right"></i> Learn more</a>
  </legend>
  <div class="mt-2 form-check">
    <%= f.radio_button :fulfillment_type, 'recall', class: 'form-check-input', required: true %>
    <%= f.label :fulfillment_type_recall, class: 'form-check-label' do %>
      Expedite a copy from a partner library
    <% end %>
  </div>
  <div class="mt-2 form-check">
    <%= f.radio_button :fulfillment_type, 'hold', class: 'form-check-input', required: true %>
    <%= f.label :fulfillment_type_hold, 'Wait for a Stanford copy to become available', class: 'form-check-label' %>
  </div>
</fieldset>
<div class="p-3 pt-0">
  <%= f.label :needed_date, 'Not needed after', class: 'required-label py-2' %>
  <%= f.date_field :needed_date, required: true, min: Date.today, value: Time.zone.today + 1.year, class: 'd-block rounded border' %>
</div>
<% end %>
