<li id="save-for-later-spinner-<%= item_id %>" class="d-flex justify-content-between saved-item border-bottom py-1" data-content-id="<%= item_id %>">
  <%= render Aeon::RequestItemIdentifierComponent.new(request: aeon_request) %>
  <div>
    <%= link_to aeon_request_path(transaction_number),
          data: { turbo_method: :delete, action: 'save-for-later#undo' },
          class: 'su-underline me-1 fs-14' do %>Undo<% end %>
    <%= link_to aeon_request_path(transaction_number),
          data: { turbo_method: :delete, action: 'save-for-later#delete' },
          class: 'btn btn-link p-0 ps-1' do %><i class="bi bi-trash"></i><% end %>
  </div>
</li>
