
<fieldset class="mb-4">
  <legend class="fs-6"></legend>
  <% if current_request.patron.proxy_group_names.any? %>
    <div class="alert alert-warning d-flex align-items-center d-none" data-patronRequest-target='proxyScanWarning'>
      <i class="bi bi-exclamation-triangle-fill me-2 text-warning fs-4"></i>Please be advised that scans are not sent to proxies.
    </div>
  <% end %>
  <div>
    <%= f.radio_button :request_type, 'scan', :class => 'form-check-input', :required => true, data: { action: 'patronRequest#updateType' } %>
    <%= f.label :request_type_scan, :class => 'form-check-label ms-1' do %>
      Email digital scan
    <% end %>
    <div class="mt-2 ms-4">
      Sections of a book or periodical such as a chapter or article can be scanned and
      delivered to you by email. <strong>The scan cannot exceed 50 pages or 10% of the work,
      whichever is less.</strong>
    </div>
    <div class="text-cardinal ms-4 mt-1">
      Earliest expected delivery: <%= f.object.scan_earliest['display_date'] %>
    </div>
  </div>
  <div class="mt-4">
    <%= f.radio_button :request_type, 'pickup', :class => 'form-check-input', data: { action: 'patronRequest#updateType' } %>
    <%= f.label :request_type_pickup, :class => 'form-check-label ms-1' do %>
      Pickup physical item
    <% end %>
    <div class="mt-2 ms-4">Item will be routed to a library that you select for pickup.</div>
    <div class="text-cardinal ms-4 mt-1">
      Earliest expected pickup: <%= f.object.earliest_delivery_estimate['display_date'] %>
    </div>
  </div>
</fieldset>
