<input type="checkbox" id="user-header-hide" class="d-none">
<div class="user-header border-0 mt-4 col-lg-8">
  <% blocked = current_user.patron.blocked? %>
  <div class="d-flex border-radius-4 border shadow-sm">
    <% border_color = blocked ? 'warning' : 'jungle-green' %>
    <div class="vr vr-lg bg-<%=border_color%>"></div>
    <% if blocked %>
      <div class="bi bi-exclamation-triangle-fill d-flex justify-content-center display-6 col-1 ms-3 align-self-center text-<%= border_color %>"></div>
    <% end %>
    <div class="p-3 flex-grow-1">
      <div class="d-flex align-items-center gap-2">
        <div class="h2 mb-0">Welcome, <%= current_user.patron.display_name %>!</div>
        <div class="vr vr-lg bg-su-process-black-50"></div>
        <span class="text-uppercase">
          <%= current_user.patron.patron_description %>
        </span>
      </div>
      <% if blocked %>
      <div class="small my-2">
        <strong>Be advised that your library account is currently restricted</strong>
        due to <%= current_user.patron.block_reasons.join(" and ") %>. <strong>You can still place a request;</strong>
        however, your borrowing privileges will remain suspended until <%= current_user.patron.fix_block_message %>.
      </div>
      <div>
        <%= link_to 'https://mylibrary.stanford.edu', target: '_blank' do %>
          <i class="bi bi-box-arrow-up-right"></i> Learn more at My Library Account
        <% end %>
      </div>
      <% end %>
    </div>
    <label for="user-header-hide" class="btn-close justify-self-end m-2" aria-label="Close"></label>
  </div>
</div>
