<% content_for :page_title do %>Request: <%= @patron_request.item_title %><% end %>

<h1 class="fw-semibold my-3 fs-1">
  <%= @patron_request.item_title %>
</h1>

<%= render 'messages', messages: @patron_request.active_messages %>

<p class="mb-4 lead fw-normal">
    Stanford Libraries provides various request services for added convenience, but their availability
    depends on factors such as your affiliation, material type, status, and location. Access through
    SUNet ID grants broader privileges than library cardholder or visitor access.
</p>
<div class="row flex-column flex-sm-row landing-page mb-3">
    <div class="col-sm-6">
        <div class="card">
            <h2 class="card-header bg-white fw-normal h1">Stanford community</h2>
            <div class="card-body">
                <%= link_to 'Log in with SUNet ID', login_by_sunetid_url(referrer: new_patron_request_path(new_params.merge(step: 'select'))), data: { turbo: false }, class: 'btn btn-md btn-secondary btn-full mb-2' %>
                <p>
                    As a member of the Stanford community, including <b>faculty, students, staff, post-docs, fellows, and visiting scholars</b>, you are issued a SUNet ID. With this ID, you can access more additional services, including requesting items from partner libraries or receiving digital scans via email.
                </p>
                <a href="https://library.stanford.edu/services/borrow-and-request" target="_blank" class="su-underline">
                    <i class="bi bi-box-arrow-up-right"></i> Review borrow and request policies
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 mt-4 mt-sm-0">
        <div class="card border-0">
            <h2 class="card-header bg-white fw-normal  border-0 h1">Library cardholder</h2>
            <div class="card-body pt-0">
                <p>If you have an alumni library account, purchased or received courtesy access, or are a staff member at Stanford Hospital or Lucile Packard Children’s Hospital Stanford, please log in using your Library ID and PIN.
                </p>
                <p class="mb-2">
                    <a href="https://library.stanford.edu/visitor-access" target="_blank" class="su-underline">
                        <i class="bi bi-box-arrow-up-right"></i> Learn about library card holder access
                    </a>
                </p>
                <details data-action="analytics#send" data-analytics-action-param="Library ID" data-analytics-category-param="Login">
                    <summary class="btn btn-link p-0 su-underline">Login with Library ID/PIN <i class="bi bi-chevron-right"></i></summary>
                    <%= form_tag login_by_university_id_url, method: 'POST', class: 'form p-3', data: { turbo: false } do %>
                        <%= hidden_field_tag :referrer, new_patron_request_path(new_params.merge(step: 'select')) %>
                        <div class="form-group mt-2">
                            <label class="form-label required-label" for="university_id"><%= t('sessions.university_id.label') %></label>
                            <input class="form-control" id="university_id" name="university_id" aria-describedby="university-id-help" required />
                            <div class="form-text" id="university-id-help"><%= t('sessions.university_id.help_text') %></div>
                        </div>
                        <div class="form-group mt-2">
                            <label class="form-label required-label" for="pin">PIN</label>
                            <input class="form-control" type="password" id="pin" name="pin" required/>
                            <div class="form-text">
                                <%= link_to "Forgot your PIN? Don't have one yet?", reset_pin_url(referrer: request.original_url), class: 'su-underline' %>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-outline-secondary">
                                Login
                            </button>
                        </div>
                    <% end %>
                </details>
            </div>
        </div>
        <div class="card border-0 mt-3 mt-sm-0">
            <h2 class="card-header bg-white fw-normal border-0 h1">Visitor</h2>
            <div class="card-body pt-0">
                <% if Ability.anonymous.cannot? :new, @patron_request %>
                    <div class="alert alert-danger text-cardinal">
                        This item is not available to request for visitors. If you have a SUNet ID or library card, please login using one of those methods.
                    </div>
                <% end %>
                <p>If you don’t have a SUNet ID or a library card, you might still be eligible for visitor access.
                Please note that in order to use materials in the library, you must first register for
                visitor access at one of the following libraries: Green Library,
                Art and Architecture Library (Bowes), East Asia Library or Music Library.
                </p>
                <p class="mb-2"><a href="https://library.stanford.edu/visitor-access" target="_blank" class="su-underline">
                    <i class="bi bi-box-arrow-up-right"></i> Learn more about visitor access
                </a></p>
                <details data-action="analytics#send" data-analytics-action-param="Library ID" data-analytics-category-param="Login">

                    <summary class="btn btn-link p-0<% if Ability.anonymous.cannot? :new, @patron_request %> disabled<% else %> su-underline<% end %>">Proceed as visitor <i class="bi bi-chevron-right"></i></summary>
                    <% if Ability.anonymous.can? :new, @patron_request %>
                        <%= form_tag register_visitor_url, method: 'POST', class: 'form p-3', data: { turbo: false } do %>
                            <%= hidden_field_tag :referrer, new_patron_request_path(new_params.merge(step: 'select')) %>
                            <div class="form-group mt-2">
                                <label class="form-label required-label" for="name">Name</label>
                                <input class="form-control" id="name" name="name" required />
                            </div>
                            <div class="form-group mt-2">
                                <label class="form-label required-label" for="patron_email">Email</label>
                                <input class="form-control" id="patron_email" name="patron_email" type="email" required/>
                            </div>
                            <div class="form-group mt-2">
                                <%= recaptcha_tags %>
                            </div>
                            <div class="d-flex justify-content-end mt-3">
                                <button type="submit" class="btn btn-outline-secondary">
                                    Continue
                                </button>
                            </div>
                        <% end %>
                    <% end %>
                </details>
            </div>
        </div>
    </div>
</div>
