<% content_for :page_title do %>Request: <%= @patron_request.item_title %><% end %>

<% unless current_user&.patron&.blank? %>
  <%= render 'user_header' %>
<% end %>

<%= render 'messages', messages: @patron_request.active_messages %>
  
<div class="container mt-4">
<h1 class="mb-4"> New request </h1>


<div class="row">
  <div class="col-8">

  <%= render RecordHeaderCardComponent.new(record: @patron_request.bib_record) %>

<%= form_for(@patron_request,
            data: {
              controller: 'patron-request accordion-form item-selector',
              action: 'item-selector:changed->patron-request#showItemSelector item-selector:changed->accordion-form#typeValueChanged',
              'patron-request-type-value': 'aeon',
            },
            html: { class: 'accordion' },
            url: patron_requests_path,
            method: 'POST') do |f| %>
<% step_enum = Enumerator.new { |y| n = 0; loop { y << (n += 1) } } %>
<% current_step = nil %>
<% scan_or_pickup_step = nil %>
<%= f.hidden_field :instance_hrid %>
<%= f.hidden_field :origin_location_code %>
<%= f.hidden_field :saved_for_later_count, value: 0 %>
<% if f.object.selectable_items.one? || f.object.barcodes&.one? %>
  <% single_item = f.object.selectable_items.first %>
  <% single_barcode = f.object.barcodes&.first || (single_item&.barcode || single_item&.id) %>
  <%= f.hidden_field :barcodes, multiple: true, value: single_barcode %>
<% end %>
<%= f.hidden_field :ead_url if f.object.ead_url.present? %>
<%# only allow submitting on enter if the final submit button is focused %>
<%# see: https://stackoverflow.com/a/51507806 %>
<button type="submit" disabled style="display: none" aria-hidden="true"></button>

<%= render AccordionStepComponent.new(id: 'request-type', step_index: step_enum.next, form_id: f.id) do |c| %>
  <% c.with_title.with_content('Request type') %>
  <% c.with_body do %>
      <%= render 'reading_or_digitization', f: %>
  <% end %>
<% end %>


<!-- item selector -->

<% if f.object.ead_doc %>
  <%= render AccordionStepComponent.new(id: 'items', step_index: step_enum.next, form_id: f.id) do |component| %>
    <% component.with_title.with_content('Items') %>
    <% component.with_body do %>
      <div data-controller="archives-series">
        <div class="mb-2 d-flex gap-2 align-items-center">
          <div>Use checkboxes to select items.</div>
          <!--TODO: pull out text into template?-->
          <button class="btn btn-link p-0 su-underline" data-action="click->archives-series#expandAll"><i class="bi bi-chevron-double-right me-1"></i>Expand all (see full content list)</button>
          <button class="btn btn-link p-0 su-underline" data-action="click->archives-series#collapseAll"><i class="bi bi-chevron-double-down me-1"></i>Collapse all</button>
        </div>
        <% if f.object.ead_doc.digital_content? %>
          <div class="mb-2"><%= render Icons::OnlineComponent.new classes: 'me-1 align-text-bottom text-digital-blue' %><span class="fw-semibold">Digital content</span> - Some materials from this collection are available online.</div>
        <% end %>
        <%# Loop through each series in the collection %>
        <div class="series-contents-container">
          <%= render partial: 'ead_series_contents', locals: { contents: Ead::DisplayGroup.build_display_groups(f.object.ead_doc.series_and_subseries), f: f, series_title: nil, parent_title: nil, nested: false } %>
        </div>
      </div>
    <% end %>
  <% end %>
<% else %>
  <% if f.object.selectable_items.many? %>
    <%= render 'item_selector', f: f, step_enum: step_enum %>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true" data-item-selector-target="toast">
        <div class="d-flex">
          <div class="toast-body">You successfully removed an item.</div>
          <button type="button" class="btn btn-text text-uppercase" data-action="item-selector#undo analytics#send" data-analytics-category-param="Item Selector" data-analytics-action-param="Undo">Undo</button>
          <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<%= render AccordionStepComponent.new(id: 'scan-or-pickup-placeholder', classes: [('d-none' if f.object.request_type)], form_id: f.id, step_index: (scan_or_pickup_step ||= step_enum.next), data: { 'patronrequest-forRequestType': 'none' }) do |c| %>
  <% c.with_title.with_content('Appointment or Digitization') %>
<% end %>

<!-- aeon reading room request -->
<!-- removed any 'can do this' part for both -->
<%= render AccordionStepComponent.new(request: f.object, id: 'reading', classes: ['d-none'], step_index: (scan_or_pickup_step ||= step_enum.next), form_id: f.id, data: { controller: 'status-counter save-for-later', action: 'selected-item-form:status-changed->status-counter#update item-selector:changed@document->status-counter#update save-for-later:changed->status-counter#update save-for-later:changed->accordion-form#reenableNextButtons', 'patronrequest-forRequestType': 'pickup' }, submit: true) do |c| %>
  <% c.with_title.with_content('Reading room') %>
  <% c.with_body do %>
    <%= render 'reading_options', f: %>
  <% end %>
  <% c.with_footer do %>
    <span class="px-2 py-1" data-status-counter-target="counter">
      0 items ready to submit
    </span>
  <% end %>
<% end %>

<!-- aeon digitization request -->

<%= render AccordionStepComponent.new(request: f.object, id: 'digitization', classes: ['d-none'], step_index: (scan_or_pickup_step ||= step_enum.next), form_id: f.id, data: { controller: 'status-counter save-for-later', action: 'selected-item-form:status-changed->status-counter#update item-selector:changed@document->status-counter#update save-for-later:changed->status-counter#update save-for-later:changed->accordion-form#reenableNextButtons', 'patronrequest-forRequestType': 'scan' }, submit: true) do |c| %>
  <% c.with_title.with_content('Digitization') %>
  <% c.with_body do %>
    <%= render 'digitization_options', f: %>
  <% end %>
  <% c.with_footer do %>
    <span class="px-2 py-1" data-status-counter-target="counter">
      0 items ready to submit
    </span>
  <% end %>
<% end %>

<% end %>
</div>
<%= render 'contact_aside' %>
</div>
</div>
