<% content_for :page_title do %>Request: <%= @patron_request.item_title %><% end %>

<% unless current_user&.patron&.blank? %>
  <%= render 'user_header' %>
<% end %>

<%= render 'messages', messages: @patron_request.active_messages %>

<h1 class="fw-semibold mt-4 fs-1"><%= @patron_request.item_title %></h1>
<% if @patron_request.selectable_items.one? %>
  <% single_item = @patron_request.selectable_items.first %>
  <% unless single_item.instance && single_item.instance&.hrid != @patron_request.instance_hrid %>
    <div class="lead fw-normal mb-4">Call number: <%= callnumber_label(single_item) %></div>
  <% end %>
  <% if single_item.public_note %>
    <span class="text-cardinal d-block ms-4">
      <%= single_item.public_note %>
    </span>
  <% end %>

  <% if single_item.bound_with_holdings_per_item.any? && (single_item.instance.nil? || single_item.instance&.hrid == @patron_request.instance_hrid) %>
    <div class="card col-lg-8 shadow-sm">
      <div class="card-header h4 bg-light">This item is bound with</div>
      <ul class="list-group list-group-flush">
        <% single_item.bound_with_holdings_per_item.each do |bound_with_child| %>
          <li class="list-group-item d-flex bg-light">
            <span class="me-auto"><%= bound_with_child.instance.title %></span>
            <span class="text-nowrap"><%= bound_with_child.call_number %></span>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if single_item.instance && single_item.instance&.hrid != @patron_request.instance_hrid %>
    <div class="lead fw-normal mb-4">Call number: <%= @patron_request.bib_data.holdings_records.first.call_number %></div>

    <div class="card col-lg-8 shadow-sm">
      <div class="card-header h4 bg-light">This item is bound and shelved with</div>
      <div class="card-body bg-light">
        <div><%= single_item.instance.title %></div>
        <div>Call number: <%= callnumber_label(single_item) %></div>
      </div>
    </div>
  <% end %>
<% end %>

<%= form_for(@patron_request,
             data: { controller: 'patron-request accordion-form itemselector', action: 'itemselector:change->patron-request#showItemSelector itemselector:changed->patron-request#showHideItemGroups itemselector:changed->accordion-form#typeValueChanged' },
             html: { class: 'col-lg-8 accordion' },
             url: @patron_request.aeon_form_target,
             method: @patron_request.finding_aid? ? 'GET' : 'POST') do |f| %>
  <% step_enum = Enumerator.new { |y| n = 0; loop { y << (n += 1) } } %>
  <% current_step = nil %>
  <% scan_or_pickup_step = nil %>
  <%= f.hidden_field :instance_hrid %>
  <%= f.hidden_field :origin_location_code %>
  <%= f.hidden_field :aeon_system_id, name: 'SystemID', value: 'sul-requests' %>
  <%= f.hidden_field :aeon_request_form, name: 'WebRequestForm', value: 'GenericRequestMonograph' %>
  <%= f.hidden_field :aeon_document_type, name: 'DocumentType', value: 'Monograph' %>
  <%= f.hidden_field :aeon_site, name: 'Site', value: f.object.aeon_site %>
  <%= f.hidden_field :aeon_location, name: 'Location', value: f.object.origin_location_code %>
  <%= f.hidden_field :aeon_title, name: 'ItemTitle', value: f.object.bib_data.title %>
  <%= f.hidden_field :aeon_author, name: 'ItemAuthor', value: f.object.bib_data.author %>
  <%= f.hidden_field :aeon_date, name: 'ItemDate', value: f.object.bib_data.pub_date %>
  <%= f.hidden_field :item_url, name: 'ItemInfo1', value: f.object.bib_data.view_url %>
  <% if f.object.selectable_items.one? || f.object.barcodes&.one? %>
    <% single_item = f.object.selectable_items.first %>
    <% single_barcode = f.object.barcodes&.first || (single_item&.barcode || single_item&.id) %>
    <%= f.hidden_field :barcode, value: single_barcode %>
    <%= f.hidden_field :aeon_request_index, name: 'Request', value: 1 %>
    <%= f.hidden_field :aeon_callnumber, name: 'CallNumber_1', value: single_item.callnumber %>
    <%= f.hidden_field :aeon_barcode, name: 'ItemNumber_1', value: single_barcode %>
  <% end %>
  <%# only allow submitting on enter if the final submit button is focused %>
  <%# see: https://stackoverflow.com/a/51507806 %>
  <button type="submit" disabled style="display: none" aria-hidden="true"></button>

  <!-- aeon items usage note -->
  <div class="alert alert-warning alert-dismissible shadow-sm d-flex gap-3 align-items-center mt-3">
    <i class="bi bi-exclamation-triangle-fill fs-3"></i>
    <div>
      <span class="fw-bold">
        <%= t('aeon_pages.info_modal.header', library: LibraryLocation.library_name_by_code(f.object.aeon_reading_room_code)) %>
      </span>
      <br>
      <span>
        <%= t('aeon_pages.info_modal.reading_room_info') %>
        <%= t('aeon_pages.info_modal.more_details_html', library: LibraryLocation.library_name_by_code(f.object.aeon_reading_room_code), reading_room_url: Settings.libraries[f.object.aeon_reading_room_code].reading_room_url) %>
      </span>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <!-- item selector -->
  <div data-controller="itemselector" data-itemselector-request-type-value="pickup" data-action="itemselector:change->patron-request#showItemSelector">
  <% if f.object.selectable_items.many? && (can?(:request_scan, f.object) || can?(:request_pickup, f.object)) && !f.object.finding_aid? %>
    <%= render 'item_selector', f: f, step_enum: step_enum %>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true" data-itemSelector-target="toast">
        <div class="d-flex">
          <div class="toast-body">You successfully removed an item.</div>
          <button type="button" class="btn btn-text text-uppercase" data-action="itemselector#undo analytics#send" data-analytics-category-param="Item Selector" data-analytics-action-param="Undo">Undo</button>
          <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>
    </div>
  <% end %>

  <!-- aeon request -->
  <%= render AccordionStepComponent.new(
    request: f.object,
    id: 'aeon',
    step_index: step_enum.next,
    form_id: f.id,
    data: { 'patronrequest-forRequestType': 'aeon' },
    submit: true,
    submit_text: t('aeon_pages.new.continue_button'),
    cancel: f.object.selectable_items.many?) do |c| %>
    <% c.with_title.with_content('Aeon request') %>
    <% c.with_body do %>
      <% if f.object.selectable_items.many? && !f.object.finding_aid? %>
      <div class="selected-items-group selected-items-container">
        <div class="card">
          <div class="card-body bg-light rounded">
            <div class="d-flex flex-column flex-xl-row align-items-start justify-content-xl-between align-items-xl-center mb-3 gap-2 gap-xl-0">
              <div class="text-black fw-semibold">Selected items</div>
                <div class="text-cardinal">
                  <span data-patron-request-target="destination">Use in: <%= f.object.aeon_reading_room_name %></span>
                </div>
            </div>
            <ul data-itemselector-target="selectedItems" data-template="#selectedItemsTemplate" data-status-filter="available" class="list-unstyled d-flex flex-wrap gap-2 bg-white p-3 m-0"></ul>
          </div>
        </div>
      </div>
      <div class="card selected-items-group my-3 selected-items-container">
        <div class="card-body bg-light rounded">
          <div class="d-flex flex-column flex-xl-row align-items-start justify-content-xl-between align-items-xl-center mb-3 gap-2 gap-xl-0">
            <div class="text-black fw-semibold">Unavailable items</div>
          </div>
          <div class="bg-white">
            <ul data-itemselector-target="selectedItems" data-template="#selectedItemsTemplate" data-status-filter="unavailable" class="list-unstyled d-flex flex-wrap gap-2 p-3 m-0"></ul>
          </div>
        </div>
      </div>

      <template id="selectedItemsTemplate">
        <li class="d-flex gap-2 w-100 align-items-baseline" data-content-id="__ID__">
          <span class="itemselector-callnumber-pill bg-light rounded-pill border">
            <span class="callnumber">
              __LABEL__
            </span>
            <button data-action="itemselector#unchecked" data-itemselector-id-param="__ID__" type="button" class="btn-close py-0 pill-close">
              <span class="visually-hidden">Remove __LABEL__</span>
            </button>
          </span>
          <span class="text-cardinal d-block align-self-center flex-shrink-2">__DUEQUEUEINFO__</span>
        </li>
      </template>
      <% end %>
      <div class="mt-3">
        <p><%= t('aeon_pages.info_modal.how_to.body') %></p>
        <p><%= t('aeon_pages.info_modal.steps.header') %></p>
        <ol class="dialog-steps">
          <% if f.object.finding_aid? %>
            <%= t('aeon_pages.info_modal.steps.finding_aid_html') %>
          <% else %>
            <%= t('aeon_pages.info_modal.steps.single_vol_html') %>
          <% end %>
        </ol>
      </div>
    <% end %>
  <% end %>
  </div>
<% end %>
