<% content_for :page_title do %>Request: <%= @patron_request.item_title %><% end %>

<% unless current_user&.patron&.blank? %>
  <%= render 'user_header' %>
<% end %>

<%= render 'messages', messages: @patron_request.active_messages %>
  
<div class="mt-4">
  <h1> New request </h1>
</div>

<div class="accordion-header p-3 pt-4 mb-4">
  <h3 class="fw-semibold fs-5"><%= @patron_request.item_title %></h3>

  <% single_item = @patron_request.selectable_items.first %>

  <% unless single_item.instance && single_item.instance&.hrid != @patron_request.instance_hrid %>
    <div class="d-flex flex-row mb-2">
      <div class="fw-normal me-3"><%= single_item.material_type.name.upcase_first %> (<%= @patron_request.bib_data.pub_date %>)</div>
      <div class="fw-normal me-3">Call number: <%= single_item.base_callnumber %></div>
      <div class="fw-normal"><a href="<%= @patron_request.bib_data.view_url %>" class="su-underline">View in SearchWorks<i class="ms-1 bi bi-arrow-up-right"></i></a></div>
    </div>
    <div class="d-flex flex-row">
      <div class="fw-normal me-2"><%= @patron_request.bib_data.author %></div>
    </div>
  <% end %>
</div>

<%= form_for(@patron_request,
            data: { controller: 'patron-request accordion-form' },
            html: { class: 'col-lg-8 accordion' },
            url: patron_requests_path,
            method: 'POST') do |f| %>
<% step_enum = Enumerator.new { |y| n = 0; loop { y << (n += 1) } } %>
<% current_step = nil %>
<% scan_or_pickup_step = nil %>
<%= f.hidden_field :instance_hrid %>
<%= f.hidden_field :origin_location_code %>
<% if f.object.selectable_items.one? || f.object.barcodes&.one? %>
  <% single_item = f.object.selectable_items.first %>
  <% single_barcode = f.object.barcodes&.first || (single_item&.barcode || single_item&.id) %>
  <%= f.hidden_field :barcode, value: single_barcode %>
<% end %>
<%# only allow submitting on enter if the final submit button is focused %>
<%# see: https://stackoverflow.com/a/51507806 %>
<button type="submit" disabled style="display: none" aria-hidden="true"></button>

<%= render AccordionStepComponent.new(id: 'request-type', step_index: step_enum.next, form_id: f.id) do |c| %>
  <% c.with_title.with_content('Request type') %>
  <% c.with_body do %>
      <%= render 'reading_or_digitization', f: %>
  <% end %>
<% end %>

<% if f.object.selectable_items.one? %>
  <%= render AccordionStepComponent.new(id: 'reading-or-digitization-placeholder', form_id: f.id, step_index: (scan_or_pickup_step ||= step_enum.next), data: { 'patronrequest-forRequestType': 'none' }) do |c| %>
    <% c.with_title.with_content('Appointment or digitization') %>
  <% end %>
<% end %>

<!-- item selector -->

<div data-controller="itemselector" data-itemselector-request-type-value="pickup" data-action="itemselector:change->patron-request#showItemSelector itemselector:change->patron-request#updateAeonOptions">

  <%= render 'item_selector', f: f, step_enum: step_enum %>

  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true" data-itemSelector-target="toast">
      <div class="d-flex">
        <div class="toast-body">You successfully removed an item.</div>
        <button type="button" class="btn btn-text text-uppercase" data-action="itemselector#undo analytics#send" data-analytics-category-param="Item Selector" data-analytics-action-param="Undo">Undo</button>
        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
  </div>
</div>

<!-- aeon reading room request -->
<!-- removed any 'can do this' part for both -->
<%= render AccordionStepComponent.new(request: f.object, id: 'reading', classes: [('d-none' if f.object.aeon_page?)], step_index: (scan_or_pickup_step ||= step_enum.next), form_id: f.id, data: { 'patronrequest-forRequestType': 'reading' }, submit: true) do |c| %>
  <% c.with_title.with_content('Reading room') %>
  <% c.with_body do %>
    <%= render 'reading_options', f: %>
  <% end %>
<% end %>

<!-- aeon digitization request -->

<%= render AccordionStepComponent.new(request: f.object, id: 'digitization', classes: [('d-none' if f.object.aeon_page?)], step_index: (scan_or_pickup_step ||= step_enum.next), form_id: f.id, data: { 'patronrequest-forRequestType': 'digitization' }) do |c| %>
  <% c.with_title.with_content('Digitization') %>
  <% c.with_body do %>
    <%= render 'digitization_options', f: %>
  <% end %>
<% end %>

<!-- Digitization terms, only shows up for digitization -->

<%= render AccordionStepComponent.new(request: f.object, id: 'terms', classes: [('d-none' if f.object.aeon_page?)], step_index: step_enum.next, form_id: f.id, data: { 'patronrequest-forRequestType': 'digitization' }, submit: true) do |c| %>
  <% c.with_title.with_content('Terms') %>
  <% c.with_body do %>
    <%= render 'digitization_terms', f: %>
  <% end %>
<% end %>
<% end %>
