<% if current_user&.patron %>
  <%= render 'user_header' %>
<% end %>

<h1 class="mt-4"><%= current_request.item_title %></h1>
<% if current_request.items_in_location.one? %>
  <div class="lead fw-normal mb-4">Call number: <%= current_request.items_in_location.first&.callnumber %></div>
<% end %>

<%= form_for(@request, data: { controller: 'patronRequest' }, html: { class: 'col-md-8 col-lg-6 col-xl-5 accordion' }) do |f| %>
  <%= f.hidden_field :instance_hrid %>
  <%= f.hidden_field :origin_location_code %>
  <% if @request.items_in_location.one? || f.object.barcodes&.one? %>
    <%= f.hidden_field :barcode, value: f.object.barcodes&.first || (@request.items_in_location.first&.barcode || @request.items_in_location.first&.id) %>
  <% end %>

  <!-- proxy -->

  <!-- request type -->
  <% if can?(:request_scan, f.object) && can?(:prepare, f.object)  %>
    <div class="accordion-item my-4 shadow-sm">
      <%= render 'accordian_header', title: 'Request type', target: 'request-type' %>
      <div id="request-type" class="accordion-collapse collapse">
        <div class="accordion-body">
          <%= render 'scan_or_pickup', f: %>
          <%= render 'accordian_continue', target: 'request-type' %>
        </div>
      </div>
    </div>
  <% end %>

  <% if f.object.items_in_location.many? && (can?(:request_scan, f.object) || can?(:prepare, f.object)) %>
    <!-- item selector -->
    <div class="accordion-item my-4 shadow-sm" data-controller="itemselector">
      <%= render 'accordian_header', title: 'Select item(s)', target: 'item-selector' %>
      <div id="item-selector" class="accordion-collapse collapse">
        <div class="accordion-body">
          <div class="item-table border m-4">
            <table class="table w-75">
              <thead>
                <tr>
                  <th>Call number</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <% f.object.items_in_location.each do |item| %>
                  <tr>
                    <td>
                      <label>
                        <%= check_box_tag 'barcodes[]', value: item.barcode || item.id, class: 'form-check-input', disabled: cannot?(:request, item), data: { 'itemselector-target': 'items', 'itemselector-id-param': item.id, 'itemselector-available-param': item.available?, 'itemselector-label-param': item.callnumber, action: 'itemselector#change' }%>
                        <span class="form-check-label"><%= item.callnumber %></span>
                      </label>
                    </td>
                    <td>
                      <%= label_for_item_selector_holding(item) %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- pickup request (multiple items) -->
    <% if can? :prepare, f.object %>
    <div class="accordion-item my-4 shadow-sm" data-controller="itemselector">
      <%= render 'accordian_header', title: 'Pickup request', target: 'pickup-multiple' %>
      <div id="pickup-multiple" class="accordion-collapse collapse">
        <div class="accordion-body">
          <div class="selected-items-group">
            <%= render 'pickup_destination', f: %>
            <div class="card">
              <div class="card-body bg-light">
                <div class="card-title text-cardinal">
                  Pickup after: 
                    <% if f.object.pickup_destinations.one? && f.object.earliest_delivery_estimate %>
                      <%= f.object.earliest_delivery_estimate['display_date'] %>
                    <% else %>
                      <%= turbo_frame_tag('earliestAvailable', src: paging_schedule_url(origin: @request.origin_library_code, destination: f.object.service_point_code || f.object.default_service_point_code), data: { 'patronRequest-target' => 'earliestAvailable'}) do %>
                        Loading..
                      <% end %>
                    <% end %>
                </div>
                <ul data-itemselector-target="availableItems" class="list-unstyled d-flex flex-wrap gap-2 bg-white p-3"></ul>
              </div>
            </div>
          </div>
          <div class="card selected-items-group my-3">
            <div class="card-body bg-light">
              <span class="text-cardinal">Items currently checked out or otherwise unavailable</span>
              <ul data-itemselector-target="unavailableItems" class="list-unstyled d-flex flex-wrap gap-2 bg-white p-3"></ul>
              <%= render 'request_preferences', f: %>
            </div>
          </div>
        </div>
        <div class="form-group d-flex justify-content-end gap-1 mt-4">
          <%= link_to 'Cancel', new_patron_request_path(instance_hrid: @request.instance_hrid, origin_location_code: @request.origin_location_code), class: 'btn btn-outline-primary' %>
          <%= f.submit t('.submit'), class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>

  <!-- pickup request (single item )-->
  <% if f.object.items_in_location.one? && can?(:prepare, f.object) %>
    <div class="accordion-item my-4 shadow-sm">
      <%= render 'accordian_header', title: 'Pickup request', target: 'pickup' %>
      <div id="pickup" class="accordion-collapse collapse">
        <div class="accordion-body">
          <div id="earliestAvailableContainer" class="text-cardinal mt-4" aria-live="polite">
            Earliest available:
            <% if f.object.pickup_destinations.one? && f.object.earliest_delivery_estimate %>
              <%= f.object.earliest_delivery_estimate['display_date'] %>
            <% else %>
              <%= turbo_frame_tag('earliestAvailable', src: paging_schedule_url(origin: @request.origin_library_code, destination: f.object.service_point_code || f.object.default_service_point_code), data: { 'patronRequest-target' => 'earliestAvailable'}) do %>
                Loading..
              <% end %>
            <% end %>
          </div>
          <%= render 'pickup_destination', f: %>
          <% if f.object.mediateable? %>
              <p>
              After submitting your request, you will receive an email confirmation. Additionally, you will be notified by email once the item is ready for your visit.
              </p>
              <% if f.object.requires_needed_date? %>
                  <%= f.label :needed_date, 'I plan to visit on:', :class => 'required-label' %>
                  <%= f.date_field :needed_date, :required => true, value:  f.object.earliest_delivery_estimate['date'], min: f.object.earliest_delivery_estimate['date'] %>
              <% end %>
          <% end %>
          <%= render 'request_preferences', f: %>
          <div class="form-group d-flex justify-content-end gap-1 mt-4">
            <%= link_to 'Cancel', new_patron_request_path(instance_hrid: @request.instance_hrid, origin_location_code: @request.origin_location_code), class: 'btn btn-outline-primary' %>
            <%= f.submit t('.submit'), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <!-- scan request -->
  <% if can? :request_scan, f.object %>
    <div class="accordion-item my-4 shadow-sm">
      <%= render 'accordian_header', title: 'Scan request', target: 'scan' %>
      <div id="scan" class="accordion-collapse collapse">
        <div class="accordion-body">
          <%= render 'scan_options', f: %>
          <div class="form-group d-flex justify-content-end gap-1 mt-4">
            <%= link_to 'Cancel', new_patron_request_path(instance_hrid: @request.instance_hrid, origin_location_code: @request.origin_location_code), class: 'btn btn-outline-primary' %>
            <%= f.submit t('.submit'), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
