<h1 class="fw-semibold">We received your <%= @patron_request.request_type == 'scan' ? 'scan' : @patron_request.mediateable? ? '' : 'pickup' %> request!</h1>

<% if current_request.active_messages.any? %>
  <div class="alert alert-warning alert-dismissible mt-4" role="alert">
    <%= render current_request.active_messages %>
  </div>
<% end %>

<div class="row mt-4">
    <div class="col-7">
        <% if current_user.patron.email %>
            Expect a confirmation email shortly at <%= mail_to current_user.patron.email %>.
        <% end %>

        <% if @patron_request.request_type == 'scan' %>
            The digital scan will be sent to your email as a PDF when it's ready.
        <% else %>
            You will receive an email when the <%= (@patron_request.barcodes&.count || 1) == 1 ?  'item is' : 'items are' %> ready.
            <% if current_user.patron && !@patron_request.mediateable? %>
                You can also check the status of your request any time at <%= link_to 'My Account', 'https://mylibrary.stanford.edu' %>.
            <% end %>
        <% end %>

        <hr />

        <h2 class="my-4">Request confirmation</h2>
        <dl class="dl-inline">
            <div><dt>Item:</dt><dd><%= @patron_request.item_title %></dd></div>
        <% if @patron_request.request_type == 'scan' %>
            <div><dt>Pages:</dt><dd><%= @patron_request.scan_page_range %></dd></div>
            <div><dt>Chapter/article:</dt><dd><%= @patron_request.scan_title %></dd></div>
            <div><dt>Authors:</dt><dd><%= @patron_request.scan_authors %></dd></div>

            <% if @patron_request.estimated_delivery %>
                <div><dt>Earliest expected delivery:</dt><dd><%= @patron_request.estimated_delivery %></dd></div>
            <% end %>
        <% else %>
            <% if @patron_request.pickup_service_point && !@patron_request.mediateable? %>
            <div><dt>Preferred pickup location:</dt><dd><%= @patron_request.pickup_service_point.name %></dd></div>
            <% end %>
        <% end %>
        </dl>
    </div>
    <div class="offset-1 col-4">
        <div class="card">
            <div class="card-body">
                <h2 class="h5 fw-semibold">Library resources</h2>
                <div class="bg-light p-2">
                    <h3 class="h6">
                        <a href="https://mylibrary.stanford.edu"><i class="bi bi-box-arrow-up-right"></i> Log in to My Account</a>
                    </h3>
                    <p class="mb-0">
                      Access information regarding items currently checked out, monitor requests,
                      and/or outstanding fines.
                    </p>
                </div>
                <h3 class="h6 fw-semibold mt-3">Get help</h3>
                    <ul class="list-unstyled">
                        <li><i class="bi bi-envelope-fill"></i> <%= mail_to(@patron_request.contact_info[:email], @patron_request.contact_info[:email]) %></li>
                        <li><i class="bi bi-telephone-fill"></i> Call <%= @patron_request.contact_info[:phone] %></li>
                    </ul>
                <h3 class="h6 fw-semibold mt-3">Library policies and information</h3>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://library.stanford.edu/services/borrow-and-request" target="_blank">
                            <i class="bi bi-box-arrow-up-right"></i> Borrow and request
                        </a>
                    </li>
                    <li>
                        <a href="https://library.stanford.edu/borrowdirect" target="_blank">
                            <i class="bi bi-box-arrow-up-right"></i> Borrow Direct
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
