<% if current_user&.patron %> <%= render 'user_header' %> <% end %>

<h1 class="fw-semibold mt-4"><%= @patron_request.item_title %></h1>
<% if @patron_request.selectable_items.one? %>
<div class="lead fw-normal mb-4">
  Call number: <%= @patron_request.selectable_items.first&.callnumber %>
</div>
<% end %>

<div class="alert alert-danger shadow-sm d-flex gap-3 align-items-center mt-4 col-lg-8">
  <i class="bi bi-exclamation-triangle-fill fs-3"></i>
  <div>
    <span class="fw-bold">
      Oops! This item is not requestable at this time.
    </span>
    <br />
    <span>
      <%- contact_info = @patron_request.contact_info -%>
      Please contact <%= mail_to(contact_info[:email], contact_info[:email], class: 'alert-link') %> or call <%= contact_info[:phone] %> for assistance.
    </span>
  </div>
</div>
