<div class='<%= dialog_column_class %>'>
  <%= render 'info_modal' %>
  <h1 class="dialog-title" id='dialogTitle'><%= t('.header') %></h1>
  <%= render 'form_flashes' %>
  <%= render 'searchworks_item_information' %>
  <%= bootstrap_form_for(current_request, **request_form_options) do |f| %>
    <%= render partial: 'hidden_form_fields', locals: { f: f } %>
    <%= render partial: 'application/item_selector', locals: { f: f } %>
    <%= f.button t('.continue_button'), class: 'btn btn-md btn-primary', type: 'submit', data: { disable_with: 'Send request', additional_user_validation: 'false' } %>
  <% end %>
</div>
