<div class='<%= dialog_column_class %>'>
  <%= render 'info_modal' %>
  <h1 class="dialog-title" id='dialogTitle'><%= t('.header') %></h1>
  <%= render 'form_flashes' %>
  <%= render 'searchworks_item_information' %>
  <%= bootstrap_form_for(current_request, **request_form_options) do |f| %>
    <%= render partial: 'hidden_form_fields', locals: { f: f } %>
    <%= render partial: 'application/item_selector', locals: { f: f } %>
    <%= f.button class: 'btn btn-md btn-primary disable-text', type: 'submit', data: { additional_user_validation: 'false' } do %>
      <span class="show-when-enabled"><%= t('.continue_button') %></span>
      <span class="show-when-disabled">Send request</span>
    <% end %>
  <% end %>
</div>
