<!DOCTYPE html>
<%= content_tag :html, class: 'no-js', lang: 'en', **(try(:html_tag_attributes) || {}) do %>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "https://www-media.stanford.edu/su-identity/css/su-identity.css" %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" %>
  <%= javascript_include_tag 'application' %>
  <%= content_for(:head) %>
  <title><%= yield(:page_title).blank? ? SULRequests::Application.config.application_name : yield(:page_title)%></title>
</head>

<body data-analytics-id="<%= Settings.GOOGLE_ANALYTICS_ID %>" class="<%= try(:render_body_class) %>">
  <%= render 'shared/body_top' %>
  <div id="skip-link">
    <%= render 'shared/skip_links' %>
  </div>
  <div id="su-wrap"> <!-- #su-wrap start -->
    <div id="su-content"> <!-- #su-content start -->
      <%= render 'shared/top_navbar' %>
      <%= render 'shared/header_navbar' %>
      <div id='main-container' role='main' class='container mt-3 mb-3'>
        <%= content_for(:container_header) %>
        <%= render '/shared/global_alert' %>
        <%= render partial: '/shared/flash_msg', layout: 'shared/flash_messages' %>
        <%= content_for?(:content) ? yield(:content) : yield %>
      </div>
    </div> <!-- #su-content end -->
  </div> <!-- #su-wrap end -->
  <%= render 'shared/modal' %>
  <footer role="contentinfo">
    <%= render 'shared/sul_footer' %>
    <%= render 'shared/global_footer' %>
  </footer>
  <%= render 'shared/footer' %>
</body>
<% end %>
