<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- Mobile viewport optimization h5bp.com/ad -->
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
    <!--[if IEMobile]> <meta http-equiv="cleartype" content="on"> <![endif]-->
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "https://cdn.jsdelivr.net/webshim/1.15.8/polyfiller.js" %>
    <%= csrf_meta_tags %>
    <%= content_for(:head) %>
  </head>
  <body class='modal-body'>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <% if Rails.env.development? %>
      <script type="text/javascript">
        var _mfq = _mfq || [];
        (function() {
          var mf = document.createElement("script"); mf.type = "text/javascript"; mf.async = true;
          mf.src = "//cdn.mouseflow.com/projects/07ae47b8-19d1-406d-9d9e-bf9c7fe048bc.js";
          document.getElementsByTagName("head")[0].appendChild(mf);
        })();
      </script>
    <% end %>
  </body>
</html>
