<%= form_tag folio_request_path(@request.key), method: :patch do %>
  <div class="modal-body request-edit">
    <h3 class="record-title"><%= @request.title %></h3>
    <%= hidden_field_tag :id, @request.key %>
    <%= hidden_field_tag :title, @request.title %>
    <%= hidden_field_tag :group, params[:group] if params[:group] %>
    <%= hidden_field_tag :current_fill_by_date, @request&.fill_by_date&.strftime('%Y-%m-%d') %>
    <div class="form-group">
      <%= label_tag :service_point, 'Pickup point' %>
      <%= select_tag :service_point, request_location_options(@request, patron_or_group), class: 'form-control' %>
    </div>
    <% if @request.fill_by_date %>
      <div class="form-group">
        <%= label_tag :not_needed_after, 'Not needed after', class: 'form-label' %>
        <%= date_field_tag :not_needed_after, @request.fill_by_date.strftime('%Y-%m-%d'), class: 'form-control' %>
      </div>
    <% end %>
    <div class="form-group pb-3">
      <div class="form-text">
        Cancel this request
      </div>
      <div class="form-check ml-3">
        <%= check_box_tag :cancel, 'cancel', false, class: 'form-check-input' %>
        <%= label_tag :cancel, 'I no longer need this item', class: 'form-check-label' %>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <%= link_to 'Cancel', :back, class: 'btn btn-outline-primary', data: { dismiss: 'modal' } if request.variant.include?(:modal) %>
    <%= button_tag 'Submit request', class: 'btn btn-primary', type: 'submit' %>
  </div>
<% end %>
